
<app-header2></app-header2>

<div class="content">
<section class="container6">
    <div class="index2-row">
        <div class="index2-col">
            <h1  style="font-family: 'Raleway', sans-serif;">
                Live Casino software</h1>
            <p class="index2-col-para1">Our <strong> live Casino platform </strong> allow you to activate the best <strong> live
                    providers</strong> with <strong>  exceptional quality and math.</strong> </p>

            <p class="index2-col-para2">The Vrnl's Live Casino solution offers to you the <strong> service available today:</strong></p>
            <ul>
                <li>Full History Reporting Tools</li>
                <!-- <li>Payment Methods For Cash, Credit card, Vouchers and many others</li> -->
                <li>Game History Visualization</li>
                <li>Game Configurations</li>
                <li>Risk Management Tools</li>
                <li>Player Management</li>
                <li>Affiliate Management Tools</li>
                <li style=" font-family: 'Raleway', sans-serif;">Multilevel Hierarchy Agent Structure<br><br></li>
            </ul>

            
            <p class="index2-col-para3" ><b>We have developed various integration methods, all highly secure and easy to implement live casino
                    API.</b></p>


            <h3 class="demo-live"><strong > Demo live casino solutions</strong></h3>
                <a class="demo-link" href="https://betwin123.live/#/home/hot" target="_blank">
                    <p> https://betwin123.live/home/hot</p>
                </a>
        </div>

    


        <div class="index2-col2">

            <div class="iframe_sec_images">

                <img src="assets/live casino.webp" width="100%" alt="live casino">

            </div>
        </div>


    </div>
</section>












<section class="container7">
    <div class="container7-row">
    <div class="container7-col1">
        <img class="container_images_b" src="assets/Sirplay image 8.webp" alt="live casino Api">

    </div>


    <div class="container7-col2">
        <h2 ><strong style="color: #575756;">live casino API</strong> integrations</h2>
        <p class="container7-col2-content">It allows you to enable our <strong style="color: #575756;">live casino software</strong> in a few days, furthermore the service
            is fully managed by us and<strong style="color: #575756;"> we guarantee the widest range of live games available online
            </strong></p>

    

        <div class="card1">
            <div class="card_row1">

                <div class="table-content1">
                    <p > <span class="tab_content" > In our user-friendly Live Casino Game Lobby</span>  <br> <br> <span class="tab_content" >you can</span> <b> find games like:</b> <br> <br><b>Live Roulette, Live Baccarat, Live Blackjack and Live Poker, Dice and Number games.</b></p>
                </div>



                <div class="table-col1">
                <div class="col_1">
                    <p  class="text">European Roulette</p>
                </div>
                <div class="col_2">
                        <p class="text_1_main">Blackjack</p>
                </div>         
            </div>
            
            



            <div class="table-col1">
                <div class="col_1">
                    <p class="text">Baccarat</p>
                </div>
                <div class="col_2">
                        <p class="text_2_main">Caribbean Stud</p>
                </div>         
            </div>
     



            <div class="table-col1">
                <div class="col_1">
                    <p class="text">Casino Hold’em</p>
                </div>
                <div class="col_2">
                        <p class="text_3_main">American Roulette</p>
                </div>         
            </div>
            
          




            <div class="table-col1">
                <div class="col_1">
                    <p class="text">Sic Bo</p>
                </div>
                <div class="col_2">
                        <p class="text_4_main" >Craps</p>
                </div>         
            </div>
           
   

            <div class="table-col1">
                <div class="col_1">
                    <p class="text">Dragon Tiger</p>
                </div>
                <div class="col_2">
                        <p class="text_5_main"> <strong>Bingo</strong> </p>
                </div>         
            </div>
            
        </div>
        
       <button class="btns_lives_sec">Book a demo</button>
        </div>
    </div>



</div>
</section>
</div>
<!-- <app-contact-component2></app-contact-component2> -->


<app-footers2></app-footers2>

