<app-header2></app-header2>
<div class="content">
    <section class="container6">
        <div class="index2-row">
            <div class="index2-col">
                <h1 style="font-family: 'Raleway', sans-serif;"> {{'live_casino_sw'|translate}}</h1>
                <p class="index2-col-para1" [innerHTML]="'live_casino_sw_p1'|translate"> </p>
                <p class="index2-col-para1" style="padding: 7px 0px;">{{'live_casino_sw_p2'|translate}} </p>
                <p class="index2-col-para2">{{'live_casino_sw_p3'|translate}}</p>
                <ul>
                    <li>{{'live_casino_sw_p3_l1'|translate}}</li>
                    <li>{{'live_casino_sw_p3_l2'|translate}}</li>
                    <li>{{'live_casino_sw_p3_l3'|translate}}</li>
                    <li>{{'live_casino_sw_p3_l4'|translate}}</li>
                    <li>{{'live_casino_sw_p3_l5'|translate}}</li>
                    <li>{{'live_casino_sw_p3_l6'|translate}}</li>
                    <li style=" font-family: 'Raleway', sans-serif;">{{'live_casino_sw_p3_l7'|translate}}<br><br></li>
                </ul>
                <p class="index2-col-para3"><b>{{'live_casino_sw_p4'|translate}}</b></p>
                <h3 class="demo-live"><strong> {{'live_casino_sw_demo'|translate}}</strong></h3> <a class="demo-link"
                    href="https://baji.vrnlexch.com/#/" target="_blank">
                    <p>https://baji.vrnlexch.com/</p>
                </a>
            </div>
            <div class="index2-col2">
                <div class="iframe_sec_images"> <img src="assets/live casino.webp" width="100%" loading="lazy"
                        alt="live casino"> </div>
            </div>
        </div>
    </section>
    <section class="container7">
        <div class="container7-row">
            <div class="container7-col1"> <img class="container_images_b" src="assets/vrnl_iframe.webp"
                    loading="lazy" alt="live casino software"> </div>
            <div class="container7-col2">
                <h2 [innerHTML]="'livecasino_integration'|translate"></h2>
                <p class="container7-col2-content" [innerHTML]="'livecasino_integration_para'|translate"></p>
                <div class="card1">
                    <div class="card_row1">
                        <div class="table-content1">
                            <p> <span class="tab_content"> {{'live_casino_lobby'|translate}}</span> <br> <br>
                                <span class="tab_content">{{'youcan'|translate}}</span> <b> {{'findgames_like'|translate}}</b> <br> <br><b>{{'findgames_like_desp'|translate}}</b>
                            </p>
                        </div>
                        <div class="table-col1">
                            <div class="col_1">
                                <p class="text">{{'euro_roulette'|translate}}</p>
                            </div>
                            <div class="col_2">
                                <p class="text_1_main">{{'blackjack'|translate}}</p>
                            </div>
                        </div>
                        <div class="table-col1">
                            <div class="col_1">
                                <p class="text">{{'baccarat'|translate}}</p>
                            </div>
                            <div class="col_2">
                                <p class="text_2_main">{{'caribbean_stud'|translate}}</p>
                            </div>
                        </div>
                        <div class="table-col1">
                            <div class="col_1">
                                <p class="text">{{'casino_holdem'|translate}}</p>
                            </div>
                            <div class="col_2">
                                <p class="text_3_main">{{'american_roulette'|translate}}</p>
                            </div>
                        </div>
                        <div class="table-col1">
                            <div class="col_1">
                                <p class="text">{{'sic_bo'|translate}}</p>
                            </div>
                            <div class="col_2">
                                <p class="text_4_main">{{'craps'|translate}}</p>
                            </div>
                        </div>
                        <div class="table-col1">
                            <div class="col_1">
                                <p class="text">{{'dragon_tiger'|translate}}</p>
                            </div>
                            <div class="col_2">
                                <p class="text_5_main"> {{'bingo'|translate}}</p>
                            </div>
                        </div>
                    </div>
                </div> <button class="btns_lives_sec" routerLink="/contact">{{'book_demo'|translate}}</button>
            </div>
        </div>
    </section>
</div><app-footers2></app-footers2>