<section class="contactform-containermain">
    <div class="contact-container">
    <div class="contactinfo">
        <div>
            <h2>Contact Us</h2>
            <ul class="contact-info-index2">
                <li>
                    <span><i class="fa-light fa-at"></i></span>
                    <span>sales@vrnl.com</span>

                </li>



                <li>
                    <span><i class="fa-sharp fa-solid fa-phone-volume"></i></span>
                    <span>+356 35505702</span>

                </li>



                <li>
                    <span><i class="fa-regular fa-clock"></i></span>
                    <span>Open 24/7!</span>

                </li>

            </ul>
        </div>



        <ul class="social-index2">
            <li><i class="fa-brands fa-whatsapp"></i></li>
            <li><i class="fa-brands fa-skype"></i></li>

        </ul>
    </div>






    <div class="contactform2">
        <h2 style="font-size: 45px; font-weight: bold;">Get in touch</h2>
        
        <form>
            <div class="name_label2">
                <label>Full Name</label>
            </div>
            <div class="name_input2">
                <input type="text" name="name" >
            </div>


            <div class="name_label2">
                <label>Your email</label>
            </div>
            <div class="name_input2">
                <input type="text" name="name" >
            </div>



            <div class="name_label2">
                <label>Country</label>
            </div>
            <div class="name_input2">
                <input type="text" name="name" >
            </div>



            <div class="name_label2">
                <label>Phone Number</label>
            </div>
            <div class="name_input2">
                <input type="text" name="name" >
            </div>


            
            <div class="name_label2">
                <label>Message</label>
            </div> 

            <textarea class="text-area"  style="background-color: #effeeb;" >
            </textarea>


            <div class="inputbox">
                <input type="submit" value="Submit">
            </div>
            
        </form>
    </div>
</div>

</section> 
