<app-header></app-header>


<section id="animate-area">
    <div class="main_sec">
      <section class="typing-container">
        <h1 class="home_header_h1">
          Streaming <span class="typing-text"></span>
        </h1>
      </section>
      <p class="param">
        Streaming sportsbook and casino platform
      </p>
    </div>
  </section>

  <section class="container15">
    <div class="index6-row1">
      <div class="index6-left-text">
        <h6>STREAMING PLATFORM</h6>

        <h1>For Casino and Betting</h1>
        <p>
          Grow your players with a single stream to multiple social platforms.
        </p>

        <button class="online-casino-button-index6">
          <i class="fa-solid fa-phone" style="margin-right: 10px"></i>Contact
          us!
        </button>
      </div>

      <div class="index6-right-img">
        <img class="sats_img" src="assets/sirplay vrnl 34.webp" alt="" />
      </div>
    </div>
  </section>


  <section class="chanel_sec">
    <div class="index6-middle">
      <h2>On all social networks at the same time.</h2>
      <h3>Multistream wherever you need</h3>
    </div>

    <div class="chanel_row">
      <div class="social_col">
        <img
          class="over_img"
          src="assets/Over-20-social-platforms-150x150.webp"
        />
        <h4 class="chanel_param">Over 20 social platforms</h4>
      </div>
      <div class="social_col_1">
        <img
          class="multi_img"
          src="assets/Multiple-channels-on-one-platform-150x150.webp"
        />

        <h4 class="chanel_param">Multiple channels on one platform</h4>
      </div>
      <div class="social_col_2">
        <img
          class="server_img"
          src="assets/Your-server-or-anywhere-else-150x150.webp"
        />

        <h4 class="chanel_param">Your server or anywhere else</h4>
      </div>
    </div>
  </section>

  <!-- ================================================================================= -->

  <section class="container17">
    <div class="index6-sec3-main">
      <div class="index6-sec3-leftimg">
        <img src="assets/How-it-works.webp" alt="" />
      </div>

      <div class="index6-sec3-righttext">
        <h2>How it works</h2>
        <div
          class="seprator6"
          style="
            height: 4px;
            width: 60px;
            border-radius: 5px;
            background: #a0c528;
            margin-top: 30px;
          "
        ></div>
        <p>
          1 - Start a stream with your webcam OR with your own streaming
          software and you are live on the gaming platform. <br /><br />
        </p>
        <p>2 - Add 2+ social channels to your Playstream dashboard.<br /></p>
        <p class="sec3-para" style="font-size: 16px; line-height: 4.8">
          Playstream is natively
          <b style="color: black">integrated into top streaming software.</b>
        </p>
      </div>
    </div>
  </section>

  <!-- ====================================================================================== -->

  <section class="container18">
    <div class="index6-sec4-main">
      <div class="index6-sec4-lefttext">
        <h2>Use cases</h2>
        <p>
          For the betting platform, you can organize a live broadcast during
          the match and make tips to bettors. <br />
          <br />
        </p>
        <p>
          For the Casino platform, you can play live and explain how the games
          work.<br />
          <br />
        </p>
        <p>
          When there are no live broadcasts you can post videos and explain
          how withdrawals, deposits and all the other functions work within
          the gaming platform.
        </p>

        <div
          class="seprator7"
          style="
            height: 4px;
            width: 60px;
            border-radius: 5px;
            background: #a0c528;
            margin-top: 45px;
          "
        ></div>
      </div>

      <div class="index6-sec4-rightimg">
        <img src="assets/Use-cases2.webp" alt="" />
      </div>
    </div>
  </section>

  <!-- ========================================================================= -->

  <section class="container19">
    <div class="index6-sec5-main">
      <div class="index6-sec5-leftimg">
        <img
          src="assets/Share-the-stage-with-your-guests-e1677605030559.webp"
          alt=""
        />
      </div>

      <div class="index6-sec5-righttext">
        <h2>Share the stage with your guests<br /><br /></h2>
        <p>
          Host a talk show and interview streamers to engage your audience.<br /><br />
        </p>

        <div
          class="seprator8"
          style="
            height: 4px;
            width: 60px;
            border-radius: 5px;
            background: #a0c528;
            margin-top: 9px;
          "
        ></div>
      </div>
    </div>
  </section>

  <!-- ================================================================ -->

  <section class="container20">
    <div class="index6-sec6-main">
      <div class="index6-sec6-lefttext">
        <h2>
          Schedule your betting live streams<br />
          <br />
        </h2>
        <p>
          Easily promote your upcoming events, increase viewership and stream
          flawless video content. <br />
          <br />
        </p>

        <div
          class="seprator9"
          style="
            height: 4px;
            width: 60px;
            border-radius: 5px;
            background: #a0c528;
            margin-top: 3px;
          "
        ></div>
      </div>

      <div class="index6-sec6-rightimg">
        <img src="assets/Schedule-your-betting-live-streams.webp" alt="" />
      </div>
    </div>
  </section>

  <!-- ============================================================================== -->

  <section class="container21">
    <div class="index6-sec7-main">
      <div class="index6-sec7-leftimg">
        <img src="assets/Make-streaming-less-complicated-1.webp " alt="" />
      </div>

      <div class="index6-sec7-righttext">
        <h2>Make streaming less complicated<br /><br /></h2>
        <p>Update metadata of all streams in one place.<br /><br /></p>
        <p>
          Set automatic alerts for Twitter, Discord and Facebook audiences.<br /><br />
        </p>

        <div
          class="seprator10"
          style="
            height: 4px;
            width: 60px;
            border-radius: 5px;
            background: #a0c528;
            margin-top: 11px;
          "
        ></div>
      </div>
    </div>
  </section> 

  <app-contact-com></app-contact-com>


<app-footer></app-footer>