<app-header></app-header>

<section>
  <div class="faq_sec_pages">
    <div class="faq_row">
      <div class="faq_col">
        <h1 class="faq_header_pgs">{{'have_qes'|translate}}</h1>
        <p class="para_faq">{{'para_faq'|translate}}</p>
        <p class="freq_param">
          {{'freq_param'|translate}}<strong>
               <a style="color: #2299d4;"
              href="https://t.me/vrnlnet"
              target="_blank"> {{'telegram'|translate}}</a> 
            
            
            <!-- <a style="color: #25d366;"
              href="https://api.whatsapp.com/send/?phone=%2B918268808222&text&type=phone_number&app_absent=0"
              target="_blank"> Whatsapp</a> <a style="background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;" target="_blank"
              href="https://www.instagram.com/vrnl_official/?igshid=NzZhOTFlYzFmZQ%3D%3D"> Instagram</a> 
              <a style="color: #1a0dab;"
              href="https://www.facebook.com/profile.php?id=61578898121804"
              target="_blank"> Facebook</a> 
            
              <a style="background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #2299d4);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;"  target="_blank"
   href="mailto:vrnl.net.info@gmail.com">
   Email
</a> -->

              
         
              .</strong> {{'if_still_qes'|translate}}
          <b routerLink="/contact">{{'contact_us!'|translate}} </b>
        </p>
      </div>
    </div>
    <div class="faq_iamges_sec">
      <img class="images_fqa" src="assets/faq_animated.gif" alt="faq" loading="lazy" />
    </div>
  </div>
</section>

<section>
  <div id="accordionFlushExample" class="x-section e255-e74 m73-0 m73-3 m73-7 accordion accordion-flush">
    <div class="x-row x-container max width e255-e78 m73-9 m73-a m73-c m73-d m73-g m73-k m73-l m73-z">
      <div class="x-row-inner">
        <div class="x-col e255-e79 m73-10 m73-11 m73-12">
          <div class="x-div e255-e80 m73-2c">
            <div class="x-text x-content e255-e81 m73-1s m73-1w m73-20 m73-21 m73-27">
              <p style="text-align: left"></p>
              <div class="wp-faq-schema-wrap wp-faq-schema-">
                <h2>{{'sbs_faqs'|translate}}</h2>
                <div role="tablist" class="wp-faq-schema-items ui-accordion ui-widget ui-helper-reset">
                  <div class="accordion" id="accordionExample">
                  
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" 
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" 
                                aria-expanded="false" aria-controls="collapseOne"
                                aria-labelledby="headingOne">
                          {{'whatis_sbs'|translate}}
                        </button>
                      </h2>
                      
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            {{'whatis_sbs_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>


                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          {{'affiliate_systems'|translate}}
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            {{'affiliate_systems_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>


                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           {{'whatis_label'|translate}}
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            {{'whatis_label_ans'|translate}}
                          </p>

                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          {{'fullmanagement'|translate}}
                        </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            {{'fullmanagement_ans'|translate}}
                          </p>

                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          {{'logobrand'|translate}}
                        </button>
                      </h2>
                      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            {{'logobrand_ans'|translate}}.                          </p>

                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          {{'fullycustomized'|translate}}
                        </button>
                      </h2>
                      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            {{'fullycustomized_ans'|translate}}
                           </p>

                        </div>
                      </div>
                    </div>

                  

                    
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                          {{'software_cost'|translate}}
                        </button>
                      </h2>
                      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            {{'software_cost_ans'|translate}}
                           </p>

                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                          {{'what_products'|translate}}                       </button>
                      </h2>
                      <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                           {{'what_products_ans'|translate}}
                           </p>

                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingEleven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                          {{'canaddfeatures'|translate}}                      </button>
                      </h2>
                      <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            {{'canaddfeatures_ans'|translate}}
                           </p>

                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwelve">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                          {{'canofferbettingservices'|translate}}                     </button>
                      </h2>
                      <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            {{'canofferbettingservices_ans'|translate}}
                           </p>

                        </div>
                      </div>
                    </div>

                    
                    <!-- <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThirteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                          Can I use my logo and brand colors?                     </button>
                      </h2>
                      <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            Yes you can. We provide different solutions based on your specific requirements. Indeed, we can create bespoke solutions collecting your requests and setting up a project for you or we can provide a turnkey solution, modifying your brand colors and logo only.
                           </p>

                        </div>
                      </div>
                    </div> -->

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFourteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                          {{'change_currentprovider'|translate}}                  </button>
                      </h2>
                      <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            {{'change_currentprovider_ans'|translate}}
                           </p>

                        </div>
                      </div>
                    </div>

                    <!-- <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFifteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                          I would like to have a fully customized solution, is it possible?                    </button>
                      </h2>
                      <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            vrnl makes available a team of experts for the setting up of a fully customized sports betting platform. Indeed, an Account Manager will collect the requirements and coordinate the project with the other team members: the Project Manager, the Graphics Designer and the IT Manager.
                           </p>

                        </div>
                      </div>
                    </div> -->

                    <!-- <div class="accordion-item">
                      <h2 class="accordion-header" id="headingSixteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                          How do I change my current software provider?                    </button>
                      </h2>
                      <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            If you already manage a exchangebook and you would like to switch to our sports betting platform, we will make sure that everything is properly managed, we will prepare a migration plan. The players’ personal data will be uploaded into the new platform and the switch will be planned in order to complete the migration in a few hours.
                           </p>

                        </div>
                      </div>
                    </div> -->

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingSeventeen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                         {{'sbs_offer'|translate}}                  </button>
                      </h2>
                      <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            {{'sbs_offer_ans'|translate}}
                           </p>

                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingEightteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEightteen" aria-expanded="false" aria-controls="collapseEightteen">
                          {{'sbs_legal'|translate}}                 </button>
                      </h2>
                      <div id="collapseEightteen" class="accordion-collapse collapse" aria-labelledby="headingEightteen" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            {{'sbs_legal_ans'|translate}}
                           </p>

                        </div>
                      </div>
                    </div>

                    <!-- <div class="accordion-item">
                      <h2 class="accordion-header" id="headingNineteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                          How much does Sports Betting Software cost?                  </button>
                      </h2>
                      <div id="collapseNineteen" class="accordion-collapse collapse" aria-labelledby="headingNineteen" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            The cost of Sports Betting Software varies depending on the features and services offered. There are various plans depending on whether you already have a high volume of play, or you want to be an agent with your own network of players.
                           </p>

                        </div>
                      </div>
                    </div> -->


                  </div>
                
                </div>
              </div>
              <p></p>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</section>



<!-- vrnl question for esport start -->
<!-- <section>
  <div id="accordionExample" class="x-section e255-e74 m73-0 m73-3 m73-7 accordion">
    <div class="x-row x-container max width e255-e78 m73-9 m73-a m73-c m73-d m73-g m73-k m73-l m73-z">
      <div class="x-row-inner">
        <div class="x-col e255-e79 m73-10 m73-11 m73-12">
          <div class="x-div e255-e80 m73-2c">
            <div class="x-text x-content e255-e81 m73-1s m73-1w m73-20 m73-21 m73-27">
              <p style="text-align: left"></p>
              <div class="wp-faq-schema-wrap wp-faq-schema-">
                <h2>{{'ebs_faqs'|translate}}</h2>
          
                <div role="tablist"  class="wp-faq-schema-items ui-accordion ui-widget ui-helper-reset" >
                  <div class="accordion" id="accordionesport">

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1"
                        aria-label="collapse1">
                          {{'ebs_titleoffer'|translate}}
                        </button>
                      </h2>
                      <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionesport">
                        <div class="accordion-body">
                          <ul  style="font-family: 'Poppins'; font-size: 16px; text-align: start;" [innerHTML]="'ebs_titleoffer_ans'|translate">
                            <!-- <li ><strong >Most popular:</strong> Counter-Strike: Global Offensive, Dota 2, League of Legends, Fortnite, Call of Duty. </li><li ><strong >Sports Games:</strong> FIFA, Madden NFL, NBA 2K, Pro Evolution Soccer, Rocket League. </li><li ><strong >Multiplayer Online like:</strong> Dota 2, League of Legends, Smite, Heroes of the Storm. </li><li ><strong >First-Person Shooter FPS: </strong>CS:GO, Call of Duty, Rainbow Six: Siege, Overwatch. </li><li ><strong >Fighting Games:</strong> Street Fighter, Super Smash Bros, Tekken. Real-Time Strategy RTS: StarCraft: Brood War, Warcraft III, StarCraft II. </li><li ><strong >Battle Royale:</strong> PUBG, Fortnite, Apex Legends. </li> -->
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2"
                        aria-label="collapse2">
                          {{'mobileversion'|translate}}
                        </button>
                      </h2>
                      <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionesport">
                        <div class="accordion-body">
                          <p>
                            {{'mobileversion_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3"
                        aria-label="collapse3">
                          {{'runesportsplatform'|translate}}
                        </button>
                      </h2>
                      <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionesport">
                        <div class="accordion-body">
                          <p>
                            {{'runesportsplatform_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                          {{'esports_solutions'|translate}}                        </button>
                      </h2>
                      <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionesport">
                        <div class="accordion-body">
                          <p>
                            {{'esports_solutions_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                          {{'newtobusiness'|translate}}                     </button>
                      </h2>
                      <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionesport">
                        <div class="accordion-body">
                          <p>
                                                      
                          {{'newtobusiness_ans'|translate}}


                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                          {{'eSports_market'|translate}}                      </button>
                      </h2>
                      <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionesport">
                        <div class="accordion-body">
                          <p [innerHTML]="'eSports_market_ans'|translate"></p>
                        </div>
                      </div>
                    </div>

                    
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading7">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                          {{'eSportsLogoBrand'|translate}}                      </button>
                      </h2>
                      <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionesport">
                        <div class="accordion-body">
                          <p>
                            {{'eSportsLogoBrand_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading8">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                          {{'eSports_server'|translate}}                     </button>
                      </h2>
                      <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionesport">
                        <div class="accordion-body">
                          <p>
                            {{'eSports_server_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
              <p></p>
            </div>
          </div>
          <div class="x-text x-text-headline e255-e82 m73-1g m73-1j">
            <div class="x-text-content">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- vrnl question for esport end -->

<!-- vrnl question for playstreaming start -->
<section>
  <div id="accordionExampleStreaming" class="x-section e255-e74 m73-0 m73-3 m73-7 accordion">
    <div class="x-row x-container max width e255-e78 m73-9 m73-a m73-c m73-d m73-g m73-k m73-l m73-z">
      <div class="x-row-inner">
        <div class="x-col e255-e79 m73-10 m73-11 m73-12">
          <div class="x-div e255-e80 m73-2c">
            <div class="x-text x-content e255-e81 m73-1s m73-1w m73-20 m73-21 m73-27">
              <p style="text-align: left"></p>
              <div class="wp-faq-schema-wrap wp-faq-schema-">
                <h2>{{'sp_faqs'|translate}}</h2>
                <div role="tablist" class="wp-faq-schema-items ui-accordion ui-widget ui-helper-reset">

                  <div class="accordion" id="accordionExampleStreaming">

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingt21">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse21" aria-expanded="true" aria-controls="collapse21">
                          {{'promte_cricket'|translate}}
                        </button>
                      </h2>
                      <div id="collapse21" class="accordion-collapse collapse" aria-labelledby="heading21" data-bs-parent="#accordionExampleStreaming">
                        <div class="accordion-body">
                          <p>
                            {{'promte_cricket_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading22">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                          {{'broadcast_live'|translate}}
                        </button>
                      </h2>
                      <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22" data-bs-parent="#accordionExampleStreaming">
                        <div class="accordion-body">
                          <p>
                           {{'broadcast_live_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>

                    <div clas="accordion-item">
                      <h2 class="accordion-header" id="heading23">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
                          {{'measure_success'|translate}}
                        </button>
                      </h2>
                      <div id="collapse23" class="accordion-collapse collapse" aria-labelledby="heading23" data-bs-parent="#accordionExampleStreaming">
                        <div class="accordion-body">
                          <p>
                            {{'measure_success_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>



                     <div clas="accordion-item">
                      <h2 class="accordion-header" id="heading23">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
                          {{'is_mobile_friendly'|translate}}
                        </button>
                      </h2>
                      <div id="collapse23" class="accordion-collapse collapse" aria-labelledby="heading23" data-bs-parent="#accordionExampleStreaming">
                        <div class="accordion-body">
                          <p>
                           {{'is_mobile_friendly_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p></p>
            </div>
          </div>
          <div class="x-text x-text-headline e255-e82 m73-1g m73-1j">
            <div class="x-text-content">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- vrnl question for playstreaming end -->




<!-- vrnl question for playstreaming start -->
<section>
  <div id="accordionExample" class="x-section e255-e74 m73-0 m73-3 m73-7 accordion">
    <div class="x-row x-container max width e255-e78 m73-9 m73-a m73-c m73-d m73-g m73-k m73-l m73-z">
      <div class="x-row-inner">
        <div class="x-col e255-e79 m73-10 m73-11 m73-12">
          <div class="x-div e255-e80 m73-2c">
            <div class="x-text x-content e255-e81 m73-1s m73-1w m73-20 m73-21 m73-27">
              <p style="text-align: left"></p>
              <div class="wp-faq-schema-wrap wp-faq-schema-">
                <h2>{{'livecasino_faqs'|translate}}</h2>
                <div role="tablist" class="wp-faq-schema-items ui-accordion ui-widget ui-helper-reset">

                  <div class="accordion" id="accordionExample1">

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingt24">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse24" aria-expanded="true" aria-controls="collapse24">
                          {{'whatisVRNLcasino'|translate}}
                        </button>
                      </h2>
                      <div id="collapse24" class="accordion-collapse collapse" aria-labelledby="heading24" data-bs-parent="#accordionExample1">
                        <div class="accordion-body">
                          <p>
                            {{'whatisVRNLcasino_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading25">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse25" aria-expanded="false" aria-controls="collapse25">
                          {{'software_work'|translate}}
                        </button>
                      </h2>
                      <div id="collapse25" class="accordion-collapse collapse" aria-labelledby="heading25" data-bs-parent="#accordionExample1">
                        <div class="accordion-body">
                          <p>
                            {{'software_work_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading27">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse27" aria-expanded="false" aria-controls="collapse27">
                          {{'features_livecasino'|translate}}
                        </button>
                      </h2>
                      <div id="collapse27" class="accordion-collapse collapse" aria-labelledby="heading27" data-bs-parent="#accordionExample1">
                        <div class="accordion-body">
                          <p>
                            {{'features_livecasino_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading25">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse28" aria-expanded="false" aria-controls="collapse28">
                          {{'security_livecasino'|translate}}
                        </button>
                      </h2>
                      <div id="collapse28" class="accordion-collapse collapse" aria-labelledby="heading28" data-bs-parent="#accordionExample1">
                        <div class="accordion-body">
                          <p>
                           {{'security_livecasino_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading29">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse29" aria-expanded="false" aria-controls="collapse29">
                          {{'offered_games'|translate}}
                        </button>
                      </h2>
                      <div id="collapse29" class="accordion-collapse collapse" aria-labelledby="heading29" data-bs-parent="#accordionExample1">
                        <div class="accordion-body">
                          <p>
                            {{'offered_games_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading30">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse30" aria-expanded="false" aria-controls="collapse30">
                          {{'integrateVRNL'|translate}}
                        </button>
                      </h2>
                      <div id="collapse30" class="accordion-collapse collapse" aria-labelledby="heading30" data-bs-parent="#accordionExample1">
                        <div class="accordion-body">
                          <p>
                            {{'integrateVRNL_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p></p>
            </div>
          </div>
          <div class="x-text x-text-headline e255-e82 m73-1g m73-1j">
            <div class="x-text-content">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- vrnl question for playstreaming end -->
<!-- vrnl question for white-label casino end -->
<section>
  <div id="accordionExample" class="x-section e255-e74 m73-0 m73-3 m73-7 accordion">
    <div class="x-row x-container max width e255-e78 m73-9 m73-a m73-c m73-d m73-g m73-k m73-l m73-z">
      <div class="x-row-inner">
        <div class="x-col e255-e79 m73-10 m73-11 m73-12">
          <div class="x-div e255-e80 m73-2c">
            <div class="x-text x-content e255-e81 m73-1s m73-1w m73-20 m73-21 m73-27">
              <p style="text-align: left"></p>
              <div class="wp-faq-schema-wrap wp-faq-schema-">
                <h2>{{'wlc_faqs'|translate}}</h2>
                <div role="tablist" class="wp-faq-schema-items ui-accordion ui-widget ui-helper-reset">

                  <div class="accordion" id="accordionExample100">

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingt100">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse100" aria-expanded="true" aria-controls="collapse100">
                          {{'whatis_wlc'|translate}}
                        </button>
                      </h2>
                      <div id="collapse100" class="accordion-collapse collapse" aria-labelledby="heading100" data-bs-parent="#accordionExample100">
                        <div class="accordion-body">
                          <p>
                            {{'whatis_wlc_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading101">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse101" aria-expanded="false" aria-controls="collapse101">
                          {{'wlc_work'|translate}}
                        </button>
                      </h2>
                      <div id="collapse101" class="accordion-collapse collapse" aria-labelledby="heading101" data-bs-parent="#accordionExample100">
                        <div class="accordion-body">
                          <p>
                            {{'wlc_work_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingt102">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse102" aria-expanded="true" aria-controls="collapse102">
                          {{'wlc_games'|translate}}
                        </button>
                      </h2>
                      <div id="collapse102" class="accordion-collapse collapse" aria-labelledby="heading102" data-bs-parent="#accordionExample100">
                        <div class="accordion-body">
                          <p>
                            {{'wlc_games_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingt103">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse103" aria-expanded="true" aria-controls="collapse103">
                          {{'wlc_launch'|translate}}
                        </button>
                      </h2>
                      <div id="collapse103" class="accordion-collapse collapse" aria-labelledby="heading103" data-bs-parent="#accordionExample100">
                        <div class="accordion-body">
                          <p>
                            {{'wlc_launch_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingt104">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse104" aria-expanded="true" aria-controls="collapse104">
                          {{'wlc_cusSupport'|translate}}
                        </button>
                      </h2>
                      <div id="collapse104" class="accordion-collapse collapse" aria-labelledby="heading104" data-bs-parent="#accordionExample100">
                        <div class="accordion-body">
                          <p>
                            {{'wlc_cusSupport_ans'|translate}} 
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingt105">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse105" aria-expanded="true" aria-controls="collapse105">
                          {{'wlc_getstarted'|translate}}
                        </button>
                      </h2>
                      <div id="collapse105" class="accordion-collapse collapse" aria-labelledby="heading105" data-bs-parent="#accordionExample100">
                        <div class="accordion-body">
                          <p>
                           {{'wlc_getstarted_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>
                                        <div class="accordion-item">
                      <h2 class="accordion-header" id="headingt105">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse105" aria-expanded="true" aria-controls="collapse105">
                         {{'can_cutomize_branding'|translate}}
                        </button>
                      </h2>
                      <div id="collapse105" class="accordion-collapse collapse" aria-labelledby="heading105" data-bs-parent="#accordionExample100">
                        <div class="accordion-body">
                          <p>
                           {{'can_cutomize_branding_ans'|translate}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p></p>
            </div>
          </div>
          <div class="x-text x-text-headline e255-e82 m73-1g m73-1j">
            <div class="x-text-content">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>