<app-header></app-header>

<section>
  <div class="faq_sec_pages">
    <div class="faq_row">
      <div class="faq_col">
        <h1 class="faq_header_pgs">Do You Have Question?</h1>
        <p class="para_faq">We have answers (Well, most of the times!)</p>
        <p class="freq_param">
          Below you'll find answer to the most common question please check out
          our <strong> <a style="color: #25d366;"
              href="https://api.whatsapp.com/send/?phone=%2B918268808222&text&type=phone_number&app_absent=0"
              target="_blank"> Whatsapp</a> <a style="background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;" target="_blank"
              href="https://www.instagram.com/vrnl_official/?igshid=NzZhOTFlYzFmZQ%3D%3D"> Instagram</a> 
              <a style="color: #1a0dab;"
              href="https://www.facebook.com/people/Jack-Harris/pfbid02zB4x4iS12KXrQbTqepGxwWwtG1buPgyyzc5Ppiqh3vc2mL9woipxQFsZh319pvjNl/"
              target="_blank"> Facebook</a> 
              
              <a style="color: #00aff0;"
              href="skype:live:9960f32f776599a2?chat"> Skype</a> .</strong> if you still
          can't find the answer you're looking for, just
          <b routerLink="/contact">Contact us ! </b>
        </p>
      </div>
    </div>
    <div class="faq_iamges_sec">
      <img class="images_fqa" src="assets/faq_animated.gif" />
    </div>
  </div>
</section>

<section>
  <div id="accordionFlushExample" class="x-section e255-e74 m73-0 m73-3 m73-7 accordion accordion-flush">
    <div class="x-row x-container max width e255-e78 m73-9 m73-a m73-c m73-d m73-g m73-k m73-l m73-z">
      <div class="x-row-inner">
        <div class="x-col e255-e79 m73-10 m73-11 m73-12">
          <div class="x-div e255-e80 m73-2c">
            <div class="x-text x-content e255-e81 m73-1s m73-1w m73-20 m73-21 m73-27">
              <p style="text-align: left"></p>
              <div class="wp-faq-schema-wrap wp-faq-schema-">
                <h2>Sports Betting Software FAQs</h2>
                <div role="tablist" class="wp-faq-schema-items ui-accordion ui-widget ui-helper-reset">
                 
                  <div class="accordion-item">
                    <h3 id="flush-headingOne" data-bs-parent="#accordionFlushExample" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseone" aria-expanded="false" aria-controls="flush-collapseone"
                      (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      What is Sports Betting Software?
                    </h3>
                    <div id="flush-collapseone"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Sports Betting Software is designed based on the user’s markets and selections. Moreover, our
                          experts are always available to deliver the best customer service to you anything, relating to
                          learning your necessities and the market prerequisites. Likewise, we deal with every step of
                          the development process, rendering to you a total and performing Sportsbook Platform.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 id="flush-headingtwo" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-parent="#accordionFlushExample" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      Do you offer affiliate systems?
                    </h3>
                    <div id="flush-collapsefour"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Yes, indeed our software network is based on 5
                          levels:<br />
                          Platform administrator - the access to the backend (it
                          is also possible to create other accesses to the Back
                          office with limited privileges and permissions).<br />
                          Reseller - a master-agent supervising several betting
                          shops. Earning commissions on shop’s turnover or
                          profits.<br />
                          Betting shop - it represents the physical point where
                          players can play, deposit, etc. Through this account
                          it is possible to place bets and earn commission on
                          turnover or profits.<br />
                          Cashier, the profile for the betting shops's
                          employees, able to place bets without earning any
                          commissions.<br />
                          Online player, register your game account online or at
                          a shop, place bets.
                        </p>
                      </div>
                    </div>
                  </div>



                  <div class="accordion-item">
                    <h3 (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }" data-bs-toggle="collapse"
                      data-bs-target="#collapse_1" aria-expanded="false" aria-controls="collapse_1"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      What is a white label betting site?

                    </h3>
                    <div id="collapse_1"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          A white label betting site is a fully customised platform. Vrnl’s white label betting site
                          provides certified games, bonus system, payment gateways. The User Interface content, language
                          and currency are based on your choice, indeed Vrnl makes available different graphic
                          templates, features and tools.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      Can I have full management of the odds and the margins?
                    </h3>
                    <div id="collapsefive"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          The backend counts with many tools, features and reports that will provide a complete view of
                          the sports betting activity. There is a dedicated section to the odds management, through
                          which it is possible to edit the margins, multiplicity and odds per market, match and/or
                          championship.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      Can I use my logo and brand colors?
                    </h3>
                    <div id="collapsenine"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Yes you can. We provide different solutions based on
                          your specific requirements. Indeed, we can create
                          bespoke solutions collecting your requests and setting
                          up a project for you or we can provide a turnkey
                          solution, modifying your brand colors and logo only.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapsten" aria-expanded="false" aria-controls="collapsten"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      I would like to have a fully customized solution, is it
                      possible?
                    </h3>
                    <div id="collapsten"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Vrnl makes available a team of experts for the setting
                          up of a fully customized sports betting platform.
                          Indeed, an Account Manager will collect the
                          requirements and coordinate the project with the other
                          team members: the Project Manager, the Graphics
                          Designer and the IT Manager.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      What is Sports Betting Software?
                    </h3>
                    <div id="collapseseven"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Sports Betting Software is a computer program or
                          application that helps sports bettors to make more
                          informed decisions about their wagers. It can provide
                          data-driven predictions, simulations, and other
                          analysis to help bettors make smarter decisions.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      How much does Sports Betting Software cost?
                    </h3>
                    <div id="collapseeight"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          The cost of Sports Betting Software varies depending
                          on the features and services offered. There are
                          various plans depending on whether you already have a
                          high volume of play, or you want to be an agent with
                          your own network of players.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapsenine_9" aria-expanded="false" aria-controls="collapsenine_9"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      What products do you offer?
                    </h3>
                    <div id="collapsenine_9"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Our core business is the Sports Betting, in fact our sports betting software is an in-house
                          product and it has been developed by our IT team since 2005. In addition to the Sport product
                          we also offer live betting, casino, live casino, lotteries and virtual games so as to offer
                          "all in one" solutions to our customers.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_10" aria-expanded="false" aria-controls="collapse_10"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      Can I add some features, reports and pages to the sports betting software?
                    </h3>
                    <div id="collapse_10"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          The betting software includes a wide range of reports, pages and banners that can be
                          customized (CMS) or developed upon request. If you would like us to develop a new feature, we
                          will work alongside you creating a tailored project: collection of information and details,
                          submission of the project/rendering, testing and final release.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_11" aria-expanded="false" aria-controls="collapse_11"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      Can I offer the sports betting services in the casinos I have in my country?

                    </h3>
                    <div id="collapse_11"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          We have several betting solutions for both the online and land-based businesses. If you own a
                          land-based casino and you would like to offer sports betting as well, our retail solution will
                          be the right choice since it will allow to create cashiers accounts to manage the sports
                          betting tickets sale.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_12" aria-expanded="false" aria-controls="collapse_12"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      Can I use my logo and brand colors?

                    </h3>
                    <div id="collapse_12"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Yes you can. We provide different solutions based on your specific requirements. Indeed, we
                          can create bespoke solutions collecting your requests and setting up a project for you or we
                          can provide a turnkey solution, modifying your brand colors and logo only.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_13" aria-expanded="false" aria-controls="collapse_13"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      How do I change my current software provider?

                    </h3>
                    <div id="collapse_13"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          If you already manage a sportsbook and you would like to switch to our sports betting
                          platform, we will make sure that everything is properly managed, we will prepare a migration
                          plan. The players’ personal data will be uploaded into the new platform and the switch will be
                          planned in order to complete the migration in a few hours.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_14" aria-expanded="false" aria-controls="collapse_14"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      I would like to have a fully customized solution, is it possible?


                    </h3>
                    <div id="collapse_14"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          vrnl makes available a team of experts for the setting up of a fully customized sports betting
                          platform. Indeed, an Account Manager will collect the requirements and coordinate the project
                          with the other team members: the Project Manager, the Graphics Designer and the IT Manager.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_15" aria-expanded="false" aria-controls="collapse_15"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      How do I change my current software provider?


                    </h3>
                    <div id="collapse_15"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          If you already manage a sportsbook and you would like to switch to our sports betting
                          platform, we will make sure that everything is properly managed, we will prepare a migration
                          plan. The players’ personal data will be uploaded into the new platform and the switch will be
                          planned in order to complete the migration in a few hours.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_16" aria-expanded="false" aria-controls="collapse_16"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      What features does Sports Betting Software offer?


                    </h3>
                    <div id="collapse_16"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Sports Betting Software can provide features such as data-driven predictions, simulations,
                          betting trends, odds comparisons, and more. It can also offer detailed analysis of past games
                          and upcoming matchups to help bettors make more informed decisions.. We specialize in setting
                          up and creating retail betting shops and online networks. This includes KYC procedures
                          approved by regulatory bodies, gambling payment gateways such as Bitcoin and crypto
                          currencies, affiliate marketing tools, referral systems and social media, mobile push
                          notifications, web push notifications and in-app messaging, player account controls,
                          registration and verification processes, fraud detection systems, and geolocation tools to
                          extract IP address location information.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_17" aria-expanded="false" aria-controls="collapse_17"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      Is Sports Betting Software legal?


                    </h3>
                    <div id="collapse_17"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Yes, Sports Betting Software is legal and is used by many professional sports bettors.
                          However, it is important to make sure that you are using the software in compliance with any
                          applicable laws in your jurisdiction
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }" data-bs-target="#collapse_18"
                      aria-expanded="false" aria-controls="collapse_18"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      How much does Sports Betting Software cost?


                    </h3>
                    <div id="collapse_18"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          The cost of Sports Betting Software varies depending on the features and services offered.
                          There are various plans depending on whether you already have a high volume of play, or you
                          want to be an agent with your own network of players.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p></p>
            </div>
          </div>
          <div class="x-text x-text-headline e255-e82 m73-1g m73-1j">
            <div class="x-text-content">
              <!-- <div class="x-text-content-text">
                <h3 class="x-text-content-text-primary">
                  <strong>Other questions?</strong>
                </h3>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- vrnl question for esport start -->
<section>
  <div id="accordionExample" class="x-section e255-e74 m73-0 m73-3 m73-7 accordion">
    <div class="x-row x-container max width e255-e78 m73-9 m73-a m73-c m73-d m73-g m73-k m73-l m73-z">
      <div class="x-row-inner">
        <div class="x-col e255-e79 m73-10 m73-11 m73-12">
          <div class="x-div e255-e80 m73-2c">
            <div class="x-text x-content e255-e81 m73-1s m73-1w m73-20 m73-21 m73-27">
              <p style="text-align: left"></p>
              <div class="wp-faq-schema-wrap wp-faq-schema-">
                <h2>FAQs about eSports betting software</h2>
          
                <div role="tablist" class="wp-faq-schema-items ui-accordion ui-widget ui-helper-reset">
                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_21" aria-expanded="false" aria-controls="collapse_21"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      What eSports titles do you offer ?
                    </h3>
                    <div id="collapse_21"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">

                        <ul style="font-family: 'Poppins'; font-size: 16px; text-align: start;">
                          <li>
                            <strong>Most popular:</strong> Counter-Strike: Global Offensive, Dota 2, League of Legends,
                            Fortnite, Call of Duty.
                          </li>
                          <li>
                            <strong>Sports Games:</strong> FIFA, Madden NFL, NBA 2K, Pro Evolution Soccer, Rocket
                            League.
                          </li>
                          <li>
                            <strong>Multiplayer Online like:</strong> Dota 2, League of Legends, Smite, Heroes of the
                            Storm.
                          </li>
                          <li>
                            <strong>First-Person Shooter FPS: </strong>CS:GO, Call of Duty, Rainbow Six: Siege,
                            Overwatch.
                          </li>
                          <li>
                            <strong>Fighting Games:</strong> Street Fighter, Super Smash Bros, Tekken.
                            Real-Time Strategy RTS: StarCraft: Brood War, Warcraft III, StarCraft II.
                          </li>
                          <li>
                            <strong>Battle Royale:</strong> PUBG, Fortnite, Apex Legends.

                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_221" aria-expanded="false" aria-controls="collapse_221"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      Do you have the Mobile version?
                    </h3>
                    <div id="collapse_221"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Yes, indeed our eSports betting platform network is based on 3 levels:
                        </p>
                        <ol style="text-align: start; margin: 9px; font-size: 16px;">
                          <li>
                            <strong>Platform administrator</strong> - the access to the backend (it is also possible to
                            create other accesses to the Back office with limited privileges and permissions).
                          </li>
                          <!-- <li>
                               <strong>Reseller</strong>  - a master-agent supervising several betting shops. Earning commissions on shop’s turnover or profits.
                            </li>
                            <li>
                               <strong>Betting shop</strong>  - it represents the physical point where players can play, deposit, etc. Through this account it is possible to place bets and earn commission on turnover or profits.
                            </li> -->
                          <li> <strong>Cashier</strong> the profile for the betting shops's employees, able to place
                            bets without earning any commissions.</li>
                          <li>
                            <strong> Online player,</strong> register your game account online or at a shop, place bets.
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_22" aria-expanded="false" aria-controls="collapse_22"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      Can I run a eSports betting platform without dealing with the odds and trading management?
                    </h3>
                    <div id="collapse_22"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Our eSports betting solutions come with the odds feed included. The software embeds many
                          features and tools to manage the odds margins and configurations in complete autonomy. If you
                          want to focus on the shops and players management only, we provide trading services and
                          support.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_23" aria-expanded="false" aria-controls="collapse_23"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>

                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      I would like to have a fully eSports customized solution, is it possible?

                    </h3>
                    <div id="collapse_23"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          vrnl makes available a team of experts for the setting up of a fully customized eSports
                          betting platform. Indeed, an Account Manager will collect the requirements and coordinate the
                          project with the other team members: the Project Manager, the Graphics Designer and the IT
                          Manager.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_24" aria-expanded="false" aria-controls="collapse_24"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      I am completely new to this business, what shall I know?
                    </h3>
                    <div id="collapse_24"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          The proper management of a eSports betting platform can make this business highly lucrative.
                          We offer different solutions and services based on level of engagement and knowledge. A gaming
                          expert will work alongside you to single up the best eSports solution tailored to your needs.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collaps_26" aria-expanded="false" aria-controls="collaps_26"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      How many number of eSports live markets?

                    </h3>
                    <div id="collaps_26"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Today we offer 20 live eSports markets.
                          <br>
                          But we are constantly adding new markets.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collaps_27" aria-expanded="false" aria-controls="collaps_27"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      Can I use my eSports logo and brand colors?
                    </h3>
                    <div id="collaps_27"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Yes you can. We provide different solutions based on your specific requirements. Indeed, we
                          can create bespoke eSports solutions collecting your requests and setting up a project for you
                          or we can provide a turnkey solution, modifying your eSports brand colors and logo only.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collaps_28" aria-expanded="false" aria-controls="collaps_28"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      Can I host the eSport sportsbook on my server infrastructure?
                    </h3>
                    <div id="collaps_28"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          No, you can't. The hosting is a service included in our offering as, in order to guarantee the
                          proper performance of the eSports betting software, our SysAdmins have set up a dedicated
                          cluster structure inclusive of backups and disaster recovery plan. This will guarantee the
                          compliance with the global regulations and the achievement of the highest security standards.
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <p></p>
            </div>
          </div>
          <div class="x-text x-text-headline e255-e82 m73-1g m73-1j">
            <div class="x-text-content">
              <!-- <div class="x-text-content-text">
                  <h3 class="x-text-content-text-primary">
                    <strong>Other questions?</strong>
                  </h3>
                </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- vrnl question for esport end -->




<!-- vrnl question for playstreaming start -->
<section>
  <div id="accordionExample" class="x-section e255-e74 m73-0 m73-3 m73-7 accordion">
    <div class="x-row x-container max width e255-e78 m73-9 m73-a m73-c m73-d m73-g m73-k m73-l m73-z">
      <div class="x-row-inner">
        <div class="x-col e255-e79 m73-10 m73-11 m73-12">
          <div class="x-div e255-e80 m73-2c">
            <div class="x-text x-content e255-e81 m73-1s m73-1w m73-20 m73-21 m73-27">
              <p style="text-align: left"></p>
              <div class="wp-faq-schema-wrap wp-faq-schema-">
                <h2>FAQs about streaming platform</h2>
                <div role="tablist" class="wp-faq-schema-items ui-accordion ui-widget ui-helper-reset">

                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_32" aria-expanded="false" aria-controls="collapse_32"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      How many football matches can I promote?

                    </h3>
                    <div id="collapse_32"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          During the live from the dashboard it is possible to activate two matches at a time, but there
                          is no limit to how many matches you can connect
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_33" aria-expanded="false" aria-controls="collapse_33"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      Can Casino events be broadcast live?
                    </h3>
                    <div id="collapse_33"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Yes, it can broadcast all casino games live on all platforms that allow it.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collaps_35" aria-expanded="false" aria-controls="collaps_35"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      How do I measure the success of live streams?
                    </h3>
                    <div id="collaps_35"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          Of course you keep track of detailed analytics for multiple platforms on one screen.
                        </p>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
              <p></p>
            </div>
          </div>
          <div class="x-text x-text-headline e255-e82 m73-1g m73-1j">
            <div class="x-text-content">
              <!-- <div class="x-text-content-text">
                  <h3 class="x-text-content-text-primary">
                    <strong>Other questions?</strong>
                  </h3>
                </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- vrnl question for playstreaming end -->




<!-- vrnl question for playstreaming start -->
<section>
  <div id="accordionExample" class="x-section e255-e74 m73-0 m73-3 m73-7 accordion">
    <div class="x-row x-container max width e255-e78 m73-9 m73-a m73-c m73-d m73-g m73-k m73-l m73-z">
      <div class="x-row-inner">
        <div class="x-col e255-e79 m73-10 m73-11 m73-12">
          <div class="x-div e255-e80 m73-2c">
            <div class="x-text x-content e255-e81 m73-1s m73-1w m73-20 m73-21 m73-27">
              <p style="text-align: left"></p>
              <div class="wp-faq-schema-wrap wp-faq-schema-">
                <h2>FAQs about Live Casino</h2>
                <div role="tablist" class="wp-faq-schema-items ui-accordion ui-widget ui-helper-reset">

                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_36" aria-expanded="false" aria-controls="collapse_36"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>

                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      What is a turnkey casino software?

                    </h3>
                    <div id="collapse_36"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          A turnkey casino software is a solution ready to go live and your players will have the chance
                          to play as in real casino. Your players will never get bored with more than 150 providers and
                          different games such as live casino, lottery, virtual games and many other.
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collapse_37" aria-expanded="false" aria-controls="collapse_37"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      What is a casino white label casino software?
                    </h3>
                    <div id="collapse_37"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>
                          A casino software white label solution is the perfect solution for the operators who want to
                          work with online casinos. Thanks to its experience, vrnl casino white label, will offer
                          certified and secure casino games. vrnl Casino white label allows you to customize the casino
                          based on your favourite language and currency.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }" data-bs-target="#collaps_38"
                      aria-expanded="false" aria-controls="collaps_38"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      What do we offer as casino software provider?

                    </h3>
                    <div id="collaps_38"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">
                        <ul style="font-family: 'Poppins'; font-size: 16px; text-align: start;">
                          <li>
                            Excellent affiliate marketing tools, and profitable referral system

                          </li>
                          <li>
                            Accessible social media platform, Mobile and Web Pop-up messages, and In-Application
                            Informing

                          </li>
                          <li>
                            Strong Registration and Verification for Player Record Controls and detection algorithm for
                            Fraudulent Accounts

                          </li>
                          <li>
                            Detection of instant IP address area data via geolocation tools

                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h3 data-bs-toggle="collapse" (click)="toggleAccordion()" [ngClass]="{ 'active': isOpen }"
                      data-bs-target="#collaps_39" aria-expanded="false" aria-controls="collaps_39"
                      class="ui-accordion-header ui-corner-top ui-corner-all ui-state-default ui-accordion-icons collapsed">
                      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                      <i class="fa-solid fa-caret-right" [ngClass]="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
                      What are the affiliate systems on the Casino Software?


                    </h3>
                    <div id="collaps_39"
                      class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content accordion-collapse collapse">
                      <div class="accordion-body">

                        <p>
                          Indeed, there are 3 different levels on the sports betting software network that is
                          accessible:


                        </p>
                        <br>
                        <ul style="font-family: 'Poppins'; font-size: 16px; text-align: start;">

                          <li style="font-weight: bold;">
                            What are the affiliate systems on the Casino Software?


                          </li>
                          <p>This level is the admittance to the backend. Likewise, it makes different gets to the
                            Administrative center with restricted honors and permissions is additionally conceivable.
                          </p>
                          <li style="font-weight: bold;">
                            Cashier Level

                          </li>
                          <p>
                            This level suitably describes betting shops’ representatives, ready to engage bets without
                            acquiring any commissions.

                          </p>
                          <li style="font-weight: bold;">
                            Online player Level


                          </li>
                          <p>
                            This level denotes players who have an account by registering at the betting game online or
                            at a shop, and also place bets.

                          </p>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p></p>
            </div>
          </div>
          <div class="x-text x-text-headline e255-e82 m73-1g m73-1j">
            <div class="x-text-content">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- vrnl question for playstreaming end -->