

<div class="normal_view">
  <header class="page-header" [class.is-sticky]="isSticky">
    <nav>
      <div class="nav_row">
        <div class="nav_col">
          <a href="/index.html"><img src="assets/sirplay.logo.png" /></a>
        </div>
        <div class="nav_col_2">
          <div class="nav_row_2">
            <li class="active">
              <a class="act" routerLink="/" >Home</a>
            </li>
            <li>
              <a class="act" href="#">Betting</a>
              <div class="sub_menu">
                <ul>
                  <li class="hover_me">
                    <a routerLink="/sports-betting-software">Sport betting software</a>
                    <div class="sub_menu_2">
                      <ul>
                        <li>
                          <a routerLink="/sportsbook-iframe">Sportsbook iFrame</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="hover_me">
                    <a routerLink="/wagering-solutions">Wagering solution</a>
                    <div class="sub_menu_3">
                      <ul>
                        <li><a routerLink="/cashout">Cashout</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="hover_me">
                    <a routerLink="/sports-betting-software/retail-solutions">Betting retail</a>
                    <div class="sub_menu_4">
                      <ul>
                        <li>
                          <a routerLink="/betting-terminals">Betting Terminal</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="/sports-betting-software/esports-betting-software">eSports betting</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a class="act" href="#">Casino</a>
              <div class="sub_menu">
                <ul>
                  <li>
                    <a routerLink="/onlines_c">Online casino software</a>
                  </li>
                  <li>
                    <a routerLink="/livecasino">Live casino software</a>
                  </li>
                  <li><a routerLink="/casinogames">Casino game</a></li>
                  <li>
                    <a routerLink="/lottery">Lottery and bingo</a>
                  </li>
                  <li>
                    <a routerLink="/casino/tournaments">Casino Tournaments</a>
                  </li>
                  <li>
                    <a routerLink="/streaming-platform-casino-and-betting">Streaming platform</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="act" href="#">White Label</a>
              <div class="sub_menu">
                <ul>
                  <li>
                    <a routerLink="/white-label-betting-platform">White label sportsbook</a>
                  </li>
                  <li>
                    <a routerLink="/casino">White label casino</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="act" href="#">Web3</a>
              <div class="sub_menu">
                <ul>
                  <li>
                    <a routerLink="/web3-sportsbook">Web3 sportsbook</a>
                  </li>
                  <li>
                    <a routerLink="/crypto-casino">White label Crypto Casino</a>
                  </li>
                  <li><a routerLink="/web3-casino">Web3 Casino</a></li>
                  <li>
                    <a routerLink="/decentralized-sports-betting"
                      >Decentralized sports betting</a
                    >
                  </li>
                  <li><a routerLink="/bitcoin-sportsbook">Bitcoin sportsbook</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a class="act" href="#">Company</a>

              <div class="sub_menu">
                <ul>
                  <li><a routerLink="/demo">Demo</a></li>
                  <li><a href="/About.html">About us</a></li>
                  <li>
                    <a routerLink="/onlines">Online sportsbook software</a>
                  </li>
                  <li><a routerLink="/certified-sports-betting-software">Certifications</a></li>
                </ul>
              </div>
            </li>
            <li><a class="act" routerLink="/contact">Contact</a></li>
            <li>
              <a class="act" href="#"
                ><img src="assets/en.png" alt="flag" /> English</a
              >

              <div class="sub_menu">
                <ul>
                  <li class="list">
                    <img src="assets/pt-br.png" title="Portuguese (Brazil)" />
                    Portuguese (Brazil)
                  </li>
                  <li class="list">
                    <img src="assets/es.png" title="Spanish" /> Spanish
                  </li>
                  <li class="list">
                    <img src="assets/fr.png" title="French" /> French
                  </li>
                  <li class="list">
                    <img src="assets/de.png" title="German" /> German
                  </li>
                  <li class="list">
                    <img src="assets/ja.png" title="Japanese" /> Japanese
                  </li>
                  <li class="list">
                    <img src="assets/tr.png" title="Terkish" /> Terkish
                  </li>
                  <li class="list">
                    <img src="assets/zh.png" title="Chinese (Simplified)" />
                    Chinese (Simplified)
                  </li>
                </ul>
              </div>
            </li>
          </div>
        </div>
        <div class="nav_col_3">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-skype"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
      </div>
    </nav>
  </header>
</div>
<!-- responsive header -->
<div class="responsive">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="nav_col">
        <img src="assets/sirplay.logo.png" />
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div
          class="accordion accordion-flush navigation"
          id="accordionFlushExample"
        >
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accord_btn collapsed"
                type=""
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                <a href="/index.html">Home</a>
              </button>
            </h2>
            <!-- <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
    </div> -->
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                Betting
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <a href="/sports_betting.html">sports betting software</a>
              </div>

              <div class="accordion-body">
                <a href="/sportsbook.html"> Sportsbook iFrame</a>
              </div>

              <div class="accordion-body">
                <a href="/wagering.html">Wagering solution</a>
              </div>
              <div class="accordion-body">
                <a href="/cash.html">Cashout</a>
              </div>
              <div class="accordion-body">
                <a href="/retail_solution.html">betting retail</a>
              </div>
              <div class="accordion-body">
                <a href="betting_terminal.html">betting Terminals</a>
              </div>
              <div class="accordion-body">
                <a href="/esports.html">eSports betting</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                Casino
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <a href="/online_casinp.html">Online Casino Software</a>
              </div>
              <div class="accordion-body">
                <a href="/live_casino.html">Live casino Software</a>
              </div>
              <div class="accordion-body">
                <a href="/casino_games.html">Casino games</a>
              </div>
              <div class="accordion-body">
                <a href="/lottery_games.html">Lottery and bingo</a>
              </div>
              <div class="accordion-body">
                <a href="/casino_tournaments.html">Casino Tournaments</a>
              </div>
              <div class="accordion-body">
                <a href="/stream_platform.html">Streaming platform</a>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour"
                aria-expanded="false"
                aria-controls="flush-collapseFour"
              >
                White label
              </button>
            </h2>
            <div
              id="flush-collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingFour"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <a href="/white_label.html">White label Sportsbook</a>
              </div>
              <div class="accordion-body">
                <a href="/white label casino.html">White label Casino</a>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive"
                aria-expanded="false"
                aria-controls="flush-collapseFive"
              >
                Web3
              </button>
            </h2>
            <div
              id="flush-collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingFive"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <a href="/web3_sportsbook.html">Web3 Sportsbook</a>
              </div>
              <div class="accordion-body">
                <a href="/crypto.html">White label crypto casino</a>
              </div>
              <div class="accordion-body">
                <a href="web3 casino.html"> Web3 casino</a>
              </div>
              <div class="accordion-body">
                <a href="/Decentralized.html">Decentralized Sports betting</a>
              </div>
              <div class="accordion-body">
                <a href="/bitcoin.html">Bitcoin sportsbook</a>
              </div>
              <!-- <div class="accordion-body"> Streaming platform</div> -->
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSix"
                aria-expanded="false"
                aria-controls="flush-collapseSix"
              >
                Company
              </button>
            </h2>
            <div
              id="flush-collapseSix"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingSix"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <a href="/demo.html">Demo</a>
              </div>
              <div class="accordion-body">
                <a href="/About.html">About Us</a>
              </div>
              <div class="accordion-body">
                <a href="/online_sports_book.html"
                  >Online sportsbook Software</a
                >
              </div>
              <div class="accordion-body">
                <a href="/certificate.html">Certifications</a>
              </div>
              <!-- <div class="accordion-body"> Bitcoin sportsbook</div> -->
              <!-- <div class="accordion-body"> Streaming platform</div> -->
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingseven">
              <button
                class="accord_btn collapsed"
                type=""
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseseven"
                aria-expanded="false"
                aria-controls="flush-collapseseven"
              >
                <a href="/contact-us.html">contact</a>
              </button>
            </h2>
            <!-- <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
      </div> -->
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseEight"
                aria-expanded="false"
                aria-controls="flush-collapseEight"
              >
                <a>
                  <img src="assets/en.png" alt="flag" title="english" />
                  English
                </a>
              </button>
            </h2>
            <div
              id="flush-collapseEight"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingEight"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <img src="assets/pt-br.png" title="Portuguese (Brazil)" />
                Portuguese (Brazil)
              </div>
              <div class="accordion-body">
                <img src="assets/es.png" title="Spanish" /> Spanish
              </div>
              <div class="accordion-body">
                <img src="assets/fr.png" title="French" /> French
              </div>
              <div class="accordion-body">
                <img src="assets/de.png" title="German" /> German
              </div>
              <div class="accordion-body">
                <img src="assets/ja.png" title="Japanese" /> Japanese
              </div>
              <div class="accordion-body">
                <img src="assets/tr.png" title="Terkish" /> Terkish
              </div>
              <div class="accordion-body">
                <img src="assets/zh.png" title="Chinese (Simplified)" />
                Chinese (Simplified)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<!-- responsive header end -->
