<div class="normal_view">
  <header class="page-header" [class.is-sticky]="isSticky">
    <nav>
      <div class="nav_row">
        <div class="nav_col">
          <img class="vrnl_logo" src="assets/VRNL new LOGO copy.webp" routerLink="/" alt="vrnl-logo" />
        </div>
        <div class="nav_col_2">
          <div class="nav_row_2">
            <ul  class="nav_row_2">
            <li class="active ">
              <a class="act acthome current_page_item active" routerLink="/">Home</a>
            </li>
            <li>
              <a class="act" href="#">Betting</a>
              <div class="sub_menu">
                <ul>
                  <li class="hover_me">
                    <a routerLink="/sports-betting-software">Sport betting software</a>
                    <div class="sub_menu_2">
                      <ul>
                        <li>
                          <a routerLink="/sportsbook-iframe">Exchangebook iframe</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li><a routerLink="/sports-betting-software/esports-betting-software">Esports betting</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a class="act" href="#">Casino</a>
              <div class="sub_menu">
                <ul>
                  <li>
                    <a routerLink="/online-casino-software">Online casino software</a>
                  </li>
                  <li>
                    <a routerLink="/casino/live-casino">Live casino software</a>
                  </li>
                  <li><a routerLink="/casino/casino-games">Casino game</a></li>
                  <li>
                    <a routerLink="/casino/lottery-games">Lottery and bingo</a>
                  </li>
                  <li>
                    <a routerLink="/casino/tournaments">Casino Tournaments</a>
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <a class="act" routerLink="/risk-management">Risk Management</a>
              <!-- <div class="sub_menu">
                <ul>
                  <li>
                    <a routerLink="/risk-management">Risk Management</a>
                  </li>
                  <li>
                    <a routerLink="/betting-trade-master">Betting Trade Master</a>
                  </li>
                </ul>
              </div> -->
            </li>






            <li>
              <a class="act" href="#">White Label</a>
              <div class="sub_menu">
                <ul>
                  <li>
                    <a routerLink="/white-label-betting-platform">White label exchange</a>
                  </li>
                  <li>
                    <a routerLink="/casino">White label casino</a>
                  </li>
                </ul>
              </div>
            </li>
            
            <li>
              <a class="act" href="#">Company</a>

              <div class="sub_menu">
                <ul>
               
                  <li><a routerLink="/about-us" aria-label="About">About us</a></li>
                  <li>
                    <a routerLink="/online-sportsbook-software">Online Exchange software</a>
                  </li>
               
                </ul>
              </div>
            </li>
            <li routerLink="/our-theme" >
              <a href="#" class="act casino">Our Work</a>
             </li>
            <li><a class="act" routerLink="/FAQ">FAQ</a></li>
            <li><a  routerlink="/contact" aria-label="Contact" class="act" ng-reflect-router-link="/contact" href="#/contact">Contact</a>
            </li>
          </ul>
          </div>
        </div>
        <div class="nav_col_3" >
          <a target="_blank" href="https://www.facebook.com/people/Jack-Harris/pfbid02zB4x4iS12KXrQbTqepGxwWwtG1buPgyyzc5Ppiqh3vc2mL9woipxQFsZh319pvjNl/"
          style="color: rgb(0, 0, 0);" aria-label="Visit Facebook Profile">
          <i class="fa-brands fa-facebook-f"></i>
       </a>
          <a target="_blank" href="https://t.me/Johnmark1974



          " style="color: rgb(0, 0, 0);" aria-label="Visit telegram Profile"><i
              class="fa-brands fa-telegram"></i></a>

              <a target="_blank" href="https://twitter.com/VRNLOFFICIAL
          " style="color: rgb(0, 0, 0);" aria-label="Visit Twitter Profile"><i
              class="fa-brands fa-twitter"></i></a>
          <a target="_blank"
            href="https://api.whatsapp.com/send/?phone=%2B918268808222&text&type=phone_number&app_absent=0"
            style="color: rgb(0, 0, 0);" aria-label="Visit whatsapp Profile"><i class="fa-brands fa-whatsapp"></i></a>
          <a target="_blank" href="skype:live:9960f32f776599a2?chat" style="color: rgb(0, 0, 0);" aria-label="Visit skype Profile"> <i
              class="fa-brands fa-skype"></i></a>
          <a target="_blank" href="https://www.instagram.com/vrnl_official/?igshid=NzZhOTFlYzFmZQ%3D%3D" style="color: rgb(0, 0, 0);" aria-label="Visit instagram Profile"> <i
              class="fa-brands fa-instagram"></i></a>
               
            
        </div>
       
      </div>
      
    </nav>
  </header>

</div>

<!-- responsive header -->
<div class="responsive">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="nav_col" routerLink="/">
        <img src="assets/VRNL new LOGO copy.webp" alt="vrnl-logo" />
      </div> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="accordion accordion-flush navigation" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accord_btn collapsed" type="" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                aria-expanded="false" aria-controls="flush-collapseOne">
                <a routerLink="/">Home</a>
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Betting
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <a routerLink="/sports-betting-software">sports betting software</a>
              </div>
              <div class="accordion-body">
                <a routerLink="/sportsbook-iframe">Exchangebook iframe</a>
              </div>
              <div class="accordion-body">
                <a routerLink="/sports-betting-software/esports-betting-software">eSports betting</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Casino
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <a routerLink="/online-casino-software">Online Casino Software</a>
              </div>
              <div class="accordion-body">
                <a routerLink="/casino/live-casino">Live casino Software</a>
              </div>
              <div class="accordion-body">
                <a routerLink="/casino/casino-games">Casino games</a>
              </div>
              <div class="accordion-body">
                <a routerLink="/casino/lottery-games">Lottery and bingo</a>
              </div>
              <div class="accordion-body">
                <a routerLink="/casino/tournaments">Casino Tournaments</a>
              </div>
            </div>
          </div>

          <!-- <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree1">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                Risk Management
              </button>
            </h2>
            <div id="flush-collapseThree1" class="accordion-collapse collapse" aria-labelledby="flush-headingThree1"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <a routerLink="/risk-management">Risk Management</a>
              </div>
              <div class="accordion-body">
                <a routerLink="/betting-trade-master">Betting Trade Master</a>
              </div>
            </div>
          </div> -->

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingten">
              <button class="accord_btn collapsed" type="" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
                <a routerLink="/risk-management"> Risk Management</a>
              </button>
            </h2>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                White label
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <a routerLink="/white-label-betting-platform">White label exchange</a>
              </div>
              <div class="accordion-body">
                <a routerLink="/casino">White label Casino</a>
              </div>
            </div>
          </div>
<div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                Company
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <a routerLink="/about-us" aria-label="About">About Us</a>
              </div>
              <div class="accordion-body">
                <a routerLink="/online-sportsbook-software">Online Exchange Software</a>
              </div>
            </div>
          </div>
          <div class="accordion-item" routerLink="/our-theme">
            <h2 class="accordion-header" id="flush-headingseven">
              <button class="accord_btn collapsed" type="" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
                <a href="#"> Our Work</a>
              </button>
            </h2>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingten">
              <button class="accord_btn collapsed" type="" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
                <a routerLink="/FAQ">FAQ</a>
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingseven">
              <button class="accord_btn collapsed" type="" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
                <a routerLink="/contact">contact Us</a>
              </button>
            </h2>
          </div>
        
        </div>
      </div>
    </div>
  </nav>
</div>

<!-- responsive header end -->