<section class="comp_sol">
    <div class="comp_details">
      <!-- first row -->
      <div class="comp_row">
        <div class="comp_col">
          <a target="_blank" href="https://www.gamblingcommission.gov.uk">
          <img src="https://b2c.static112233.com/assets/images/gamblingcomm.png" style="width: 80px; margin-left: 5px;" />
        </a>
        </div>
        <div class="comp_col_1">
          <a  target="_blank" href="https://gordonmoody.org.uk/">
            <img class="comp_1" src="https://b2c.static112233.com/assets/images/gordonmoody.png" style="width:80px; margin-left: 8px;" />
          </a>
        </div>
        <div class="comp_col_1">
          <a   target="_blank" href="https://www.gamcare.org.uk/get-support/talk-to-us-now/">
            <img class="comp_1"  src="https://b2c.static112233.com/assets/images/gamecare.png"
            style="width: 80px; ;margin-left: 8px;"/>
          </a>
        </div>

        <div class="comp_col_1">
          <a   target="_blank" href="https://betblocker.org/">
            <img class="comp_1"  src="https://b2c.static112233.com/assets/images/betblocker.png"
            style="width: 80px; ;margin-left: 8px;"/>
          </a>
        </div>
      </div>
      <!-- second row -->
      <div class="comp_row">
        <div class="comp_col">
          <a target="_blank" href="https://www.begambleaware.org/">
            <img class="comp_2"  src="https://b2c.static112233.com/assets/images/gamblingaware.png" style="width: 80px; margin-left: 5px;" />
          </a>

        </div>
        <div class="comp_col_1">
          <a target="_blank" href="https://www.gamstop.co.uk/">
            <img class="comp_3" src="https://b2c.static112233.com/assets/images/gamestop.png" style="width: 80px; margin-left: 5px;" />
          </a>
        </div>
        <div class="comp_col_1">
          <a  target="_blank" href="https://www.safergamblingstandard.org.uk/certified-businesses/">
            <img class="comp_3" src="https://b2c.static112233.com/assets/images/safegambling.png" style="width: 80px; margin-left: 5px;" />
          </a>
        </div>
        <div class="comp_col_1">
          <a   target="_blank" href="https://www.gamblock.com/">
            <img class="comp_1"  src="https://b2c.static112233.com/assets/images/gameblock.png"
            style="width: 80px; ;margin-left: 8px;"/>
          </a>
        </div>
      </div>
<!-- third row -->
      <div class="comp_row">
        <div class="comp_col">
          <a target="_blank" href="https://www.taketimetothink.co.uk/">
            <img class="comp_2"   src="https://b2c.static112233.com/assets/images/taketimetothink.png" style="width: 80px; margin-left: 5px;" />
          </a>

        </div>
        <div class="comp_col_1">
          <a  target="_blank"  href="https://www.netnanny.com/">
            <img class="comp_3" src="https://b2c.static112233.com/assets/images/netnanny.png" style="width: 80px; margin-left: 5px;" />
          </a>
        </div>
        <div class="comp_col_1">
          <a  target="_blank" href="https://gamban.com/">
            <img class="comp_3" src="https://b2c.static112233.com/assets/images/gameban.png" style="width: 80px; margin-left: 5px;" />
          </a>
        </div>
      </div>


      <div class="company_about">
        <h4 class="comp_header">Company</h4>
        <div><p class="comp_list"><a href="/about-us" target="_blank">About Us</a></p></div>
        <div><p class="comp_list"><a href="/online-sportsbook-software" target="_blank">sportsbook Provider</a></p></div>
        <!-- <div><p class="comp_list">News</p></div>
        <div><p class="comp_list">Certifications</p></div> -->
        <div>
          <a href="/chck.html"><p class="comp_list">Privacy Policy</p></a>
        </div>
        <div><p class="comp_list"><a href="/contact" target="_blank">Contact Us</a></p></div>
      </div>
      <div class="company_about about_left">
        <h4 class="comp_header">Solutions</h4>
        <div><p class="comp_list"><a href="/sports-betting-software" target="_blank">Sports Betting software</a></p></div>
        <!-- <div><p class="comp_list">Bitcoin Sportsbook</p></div> -->
        <!-- <div><p class="comp_list">Crypto casino</p></div> -->
        <div><p class="comp_list"><a href="/casino" target="_blank">White Label Casino</a></p></div>
        <div><p class="comp_list"><a href="/white-label-betting-platform" target="_blank">White Label Betting Platform</a></p></div>
        <div><p class="comp_list"><a href="/sportsbook-iframe" target="_blank">Sportsbook iFrame</a></p></div>
      </div>
    </div>
  </section>

  <section>
    <footer>
      <div class="footer_sec">
        <div class="footer_para">
          <p style="color: white;"><a href="">vrnl.net.</a> 2023 All Rights Reserved</p>
        </div>
      </div>
    </footer>
  </section>