<section class="comp_sol">
    <div class="comp_details">
      <div class="comp_row">
        <div class="comp_col">
          <img src="assets/glicertified.png.webp" />
        </div>
        <div class="comp_col_1">
          <img class="comp_1" src="assets/iso-27701.png.webp" />
        </div>
      </div>
      <div class="comp_row">
        <div class="comp_col">
          <img class="comp_2" src="assets/experience-badge.png.webp" />
        </div>
        <div class="comp_col_1">
          <img class="comp_3" src="assets/qiss.png.webp" />
        </div>
      </div>
      <div class="company_about">
        <h4 class="comp_header">Company</h4>
        <div><p class="comp_list">About Us</p></div>
        <div><p class="comp_list">sportsbook Provider</p></div>
        <div><p class="comp_list">News</p></div>
        <div><p class="comp_list">Certifications</p></div>
        <div>
          <a href="/chck.html"><p class="comp_list">Privacy Policy</p></a>
        </div>
        <div><p class="comp_list">Contact Us</p></div>
      </div>
      <div class="company_about about_left">
        <h4 class="comp_header">Solutions</h4>
        <div><p class="comp_list">Sports Betting software</p></div>
        <div><p class="comp_list">Bitcoin Sportsbook</p></div>
        <div><p class="comp_list">Crypto casino</p></div>
        <div><p class="comp_list">White Label Casino</p></div>
        <div><p class="comp_list">White Label Betting Platform</p></div>
        <div><p class="comp_list">Sportsbook iFrame</p></div>
      </div>
    </div>
  </section>

  <section>
    <footer>
      <div class="footer_sec">
        <div class="footer_para">
          <p><a href="">Sirplay.com.</a> 2023 All Rights Reserved</p>
        </div>
      </div>
    </footer>
  </section>