<app-header></app-header>
<section class="first-sec">
    <div class="first-head">
      <h1>White Label Betting Platform</h1>
      <div class="home">
        <a href="/index.html">Home</a> <span class="dash">-</span>
        <span class="lil-para">White Label Betting Platform</span>
      </div>
    </div>
  </section>

  <section class="white-label">
    <div class="label-bet">
      <div class="label-para">
        <p>
          Vrnl’s <b> white label sportsbook solution</b> is a fully managed
          certified sportsbook. <br />

          <br />
          The uniqueness of this kind of solution is the
          <b>fastness in creating and delivering </b> the website, indeed our
          staff can set up the website in ten working days according to
          customers’ requests and proceeding towards building a
          <b>custom-tailored sportsbook website.</b> <br />

          <br />
          <b> We provide specialised hosting</b> , all required software and
          sports odds data feeds, risk management and customer support
          services.
        </p>
      </div>
      <div class="label-img">
        <img
          class="white_label_simg"
          src="assets/white-label-sportsbook.png.webp"
          alt="white-label-casino-platform.jpg.webp"
        />
      </div>
    </div>

    <div class="label-list">
      <ul class="label-list1">
        <li>
          Creation of website, <b>branding, customisation</b>, and testing of
          the clients’ sportsbook
        </li>
        <li>Regular updating and feature upgrades</li>
        <li>
          <b>Hardware setting up</b>, hosting, 24/7 monitoring and support
        </li>
        <li>
          <b>Wide range of betting markets</b>, sports categories and leagues
        </li>
        <li>Bet acceptance and settlement</li>
        <li>Risk management, accounting and monitoring tools</li>
      </ul>
      <p>
        Thanks to close cooperation with our customers, we continuously
        improve our sports betting software making it faster, more reliable
        and easier to use.
      </p>
    </div>
  </section>

  <section class="custom-sec">
    <div class="cutom-main">
      <div class="custom-img">
        <img src="assets/Customizations-platform.jpg.webp" alt="" />
      </div>

      <div class="head-custom">
        <h1>Customizations</h1>
        <h2>Be unique</h2>
        <p>
          <b>Vrnl’s consultants will collect your requirements</b> and show
          you several templates and recent development works: all the
          platforms are multi language and multi currency, the UI will be
          customized around your needs. <br />

          <br />
          Take your first steps in Vrnl’s world.
        </p>
        <div
          class="niva-separator1"
          style="
            height: 4px;
            background: #a0c528;
            width: 60px;
            border-radius: 5px;
          "
        ></div>
      </div>
    </div>

    <div class="plat-odd">
      <div class="plat-oddhead">
        <h1>Odds</h1>
        <h2>The engine of the platform</h2>
        <p>
          We have already
          <b>integrated the best odds providers in the world</b> and if that’s
          not enough for you we can also integrate your favorite one. <br />

          <br />
          <b>Customise the odds format</b> in 5 different ways: European (<b
            >decimal odds</b
          >), UK (<b>fractional odds</b>) or American (<b>moneyline odds</b>),
          including Hong Kong, Indonesian and Malaysian odds format.
        </p>
        <div
          class="niva-separator2"
          style="
            height: 4px;
            background: #a0c528;
            width: 60px;
            border-radius: 5px;
          "
        ></div>
      </div>
      <div class="odd-headimg">
        <img
          class="odds_sec_img"
          src="assets/different-odds-outcomes.png.webp"
          alt="different-odds-outcomes.png.webp"
        />
      </div>
    </div>

    <div class="tools">
      <div class="toolhead1">
        <img
          class="tool_sec_img"
          src="assets/bonus-and-promotions.jpg.webp"
          alt=""
        />
      </div>
      <div class="toolhead">
        <h1>Marketing tools</h1>
        <h2>Bonus and Promotions</h2>
        <p>
          <b>The acquisition of new players is a key point</b>, Vrnl
          provides various tools depending on the goal to be achieved. We have
          simplified the management of affiliations and our bonus engine
          allows you to be competitive in the market.
        </p>
    
      </div>
    </div>



    <app-contact-com></app-contact-com>






    <div class="risk">
      <div class="risk-img">
        <img src="assets/Zero-Risk.png" alt="Zero-Risk.png" />
      </div>
      <div class="risk-para">
        <h1>Zero risk</h1>
        <h2>Trading and risk management services</h2>
        <p>
          We offer trading and risk management services, odds management
          advice and winnings coverage, which means if the platform doesn not
          generate a revenue, WE PAY YOUR PLAYERS FOR YOU!
        </p>
      </div>
    </div>

    <div class="branding">
      <div class="branding-img">
        <img
          src="assets/sportsbook-branding.jpeg.webp"
          alt="sportsbook-branding.jpeg.webp"
        />
      </div>
      <div class="branding-head">
        <h1>Sportsbook Branding</h1>
        <h2>Unlimited layouts</h2>
        <p>
          Choose from <b>many sportsbook layouts</b> , we have a wide
          selection of templates. Or create your own layout through the
          <b>API services</b>, you and your development team will be able to
          build a bespoke User Interface in complete autonomy.
        </p>
      </div>
    </div>

    <div class="language">
      <div class="lanimg">
        <img
          src="assets/multi-language-multi-currency.jpeg.webp"
          alt="multi-language-multi-currency.jpeg.webp"
        />
      </div>
      <div class="lanhead">
        <h1>Multi Language and Multi Currency</h1>
        <h2>Internationalization - i18N</h2>
        <p>
          You can easily choose the language and currency you want to display
          on the platform, including <a href=""> crypto currencies.</a>
        </p>
      </div>
    </div>
  </section>

<app-footer></app-footer>