<app-header></app-header>
<section class="first-sec">
    <div class="first-head">
        <h1>{{'wlb_platform'|translate}}</h1>
        <div class="home"> <a href="/index.html" class="dash">{{'home'|translate}} -</a> <span class="lil-para">{{'wlb_platform'|translate}}</span> </div>
    </div>
</section>
<div class="containt">
    <section class="white-label">
        <div class="label-bet">
            <div class="label-para">
                <p [innerHTML]="'wlb_platform_p1'|translate">  </p>
                <p [innerHTML]="'wlb_platform_p2'|translate">  </p>
                <p [innerHTML]="'wlb_platform_p3'|translate">  </p>
            </div>
            <div class="label-img"> <img class="white_label_imgs" src="assets/vrnl 27_11zon.webp" loading="lazy"
                    alt="white label sportsbook" /> </div>
        </div>
        <div class="label-list-para">
            <ul class="label-list1" [innerHTML]="'wlb_platform_list'|translate">
                <!-- <li> Website Development, <b>Branding, Tailoring</b>, and Rigorous Testing of the Clients’ Exchange
                </li>
                <li>Regular ongoing enhancements and feature updates</li>
                <li> <b>Hardware Provisioning</b>, Hosting, Continuous 24/7 Vigilance, and Comprehensive Support </li>
                <li> <b>Diverse Array of Betting Markets,</b> Sports Categories, and League Offerings </li>
                <li>Efficient bet acceptance and accurate settlement processes</li>
                <li>Advanced Risk Management, Robust Accounting, and Vigilant Monitoring Tools</li> -->
            </ul>
            <p> {{'wlb_platform_p4'|translate}} </p>
        </div>
    </section>
    <section class="custom-sec">
        <div class="cutom-main">
            <div class="custom-img"> <img class="custome_img" src="assets/vrnl_iframe.webp" loading="lazy"
                    alt="white label customizations" width="328" height="234" /> </div>
            <div class="head-custom">
                <h1 class="bottom-marg letter-spacing font-weight">{{'wlb_platform_customization'|translate}}</h1>
                <h2 class="sec-header">{{'be_unique'|translate}}</h2>
                <p [innerHTML]="'be_unique_desp1'|translate"> </p>
                <p>{{'be_unique_desp2'|translate}}</p>
                <p> {{'be_unique_desp3'|translate}} </p>
                <div class="niva-separator1"
                    style=" height: 4px; background: #a0c528; width: 60px; border-radius: 5px; "></div>
            </div>
        </div>
        <div class="plat-odd">
            <div class="plat-oddhead">
                <h1 class="bottom-marg letter-spacing font-weight">{{'wlb_platform_odds'|translate}}</h1>
                <h2 class="sec-header sec-line">{{'wlb_platform_odds_optimize'|translate}}</h2>
                <p [innerHTML]="'wlb_platform_odds_p1'|translate"></p>
                <p> {{'wlb_platform_odds_p2'|translate}}</p>
                <div class="niva-separator2"
                    style=" height: 4px; background: #a0c528; width: 60px; border-radius: 5px;"></div>
            </div>
            <div class="odd-headimg"> <img class="odds_sec_img" src="assets/VRNL 3_odds_11zon.webp" loading="lazy"
                    alt="white-label-betting-platform" /> </div>
        </div>
        <div class="risk">
            <div class="risk-img"> <img src="assets/Zero-Risk.png" loading="lazy" alt="Zero-Risk" width="90"
                    height="90" /> </div>
            <div class="risk-para">
                <h1>{{'wlb_platform_zeroRisk'|translate}}</h1>
                <h2>{{'wlb_platform_zeroRisk_h1'|translate}}</h2>
                <p> {{'wlb_platform_zeroRisk_p1'|translate}} </p>
            </div>
        </div>
        <div class="branding">
            <div class="branding-img"> <img src="assets/sportsbook-branding.jpeg.webp" loading="lazy"
                    alt="sportsbook-branding" width="250" height="129" /> </div>
            <div class="branding-head">
                <h1>{{'wlb_platform_bpb'|translate}}</h1>
                <h2>{{'wlb_platform_bpb_layouts'|translate}}</h2>
                <p [innerHTML]="'wlb_platform_bpb_layouts_desp'|translate"> </p>
            </div>
        </div>
    </section>
</div><app-footer></app-footer>