.hover-1_1{
    color: #0a0a0a;
    border-radius: 0px;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #a0c528;
    transition: ease-out 0.9s;
    background-color: #fff;
    height: 50px;
   
}
.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #a0c528;
    border-color: #a0c528;
}
.button_slide{
    color: #000000;
    border-radius: 0px;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #a0c528;
    transition: ease-out 0.9s;
    background-color: #ffffff;
    height: 50px;
}

.web_images{
   /* width: 850px;  */
   height: 400px;
}

.live_sec5_imgs{
    width: 793px; 
    height: 370px;
}
.web_3_imag{
    width: 768px; 
    height: 640px;  
}

.lottery_img{
    width: 781px; 
    height: 323px; 
    margin-left: 75px;
}

@media screen and (max-width: 820px){


    .web_images{
        width: 100% !important; 
        height: auto !important;
     }
     
     .live_sec5_imgs{
        width: 100% !important; 
        height: auto !important;
     }
     .web_3_imag{
        width: 100% !important; 
        height: auto !important;
     }
     
     .lottery_img{
        width: 100% !important; 
        height: auto !important;
     }
     
     .kohli_images{
        width: 100% !important; 
        height: auto !important;
     }

}

.sports_row_1{
    padding-left: 31px;
}
b, strong {
    font-weight: bold;
}

.features_col{
    margin-top: 100px;
}

.features_col_1{
    width: 831px;

}

.wpb_wrapper{
    padding-left: 98px;
    padding-right: 98px;
    width: 100%;
    font-family: Poppins;
    line-height: 30px;
    font-weight: 400;
    color: #686868;
    font-size: 16px;
}

.crypto-section5-container{
    margin-left: -33px;
}