<app-header></app-header>
<section class="first-sec">
    <div class="first-head">
        <h1>{{'online_exchange_sw'|translate}}</h1>
        <div class="home"> <a href="/index.html">{{'home'|translate}}</a> <span class="dash">-</span> <span class="lil-para">{{'online_exchange_sw'|translate}}</span> </div>
    </div>
</section>
<section class="sports_changes">
    <P class="SPORTS_PARA"> {{'we_are'|translate}} <span class="typing-text"></span></P>
</section>
<section class="sport_book_sec">
    <div class="sports_row_1">
        <div class="sports_book_col">
            <h2 class="sports_book_h1">{{'online_exchange_sw'|translate}}</h2>
            <p class="sports_param">{{'online_exchange_sw_p1'|translate}}</p>
            <p class="sports_param"> {{'online_exchange_sw_p2'|translate}}</p>
            <div class="onther_param">
                <h2 class="onther_head">{{'onther_head'|translate}}</h2>
                <p class="onther_p1">{{'onther_p1'|translate}}</p>
                <p class="onther_a"><a href=" https://skyexch.vrnlexch.com/#/dash" target="_blank" class="lc247"><strong>
                    {{'view_demo'|translate}} </strong></a></p>
            </div>
            <div class="onther_btn"><button class="hover-1_1 otn_s_1 button_slide slide_right" routerLink="/contact"><i
                        class="fa-solid fa-phone"></i> {{'contact_us!'|translate}}</button> </div>
        </div>
        <div class="sports_book_col_1"><img class="Online sportsbook software" src="assets/VRNL 2.webp" loading="lazy"
                alt="Online sportsbook software" width="468 " height="463"></div>
    </div>
</section>
<section class="main_feature">
    <div class="fearues_row">
        <div class="features_col"><img class="features of Online sportsbook software" src="assets/web3_sports.jpg.webp"
                loading="lazy" alt="Online Exchange software"></div>
        <div class="features_col_1">
            <h1 class="feature_header"><span>{{'online_exchange_sw'|translate}}</span><strong> {{'main_features'|translate}}</strong></h1>
            <p class="feature_para">{{'feature_para'|translate}}</p>
            <ul class="feature_list" [innerHTML]="'feature_list'|translate">
                <!-- <li><strong>A Global Betting Experience : </strong> VRNL provides access to a comprehensive array of
                    sports, leagues, and betting markets from around the world. With us, you can offer your users a
                    truly global betting experience. </li>
                <li><strong>Extensive Pre-Match Options : </strong> Choose from a vast selection of 150,000 monthly
                    pre-match betting options. We ensure that your platform is stocked with a wide variety of choices to
                    cater to diverse betting preferences. </li>
                <li><strong>Thrilling In-Play Opportunities : </strong> Engage your users with 75,000 monthly in-play
                    opportunities. These real-time betting options add excitement and spontaneity to the betting
                    experience. </li>
                <li><strong>Casino Games for the Metaverse : </strong> VRNL offers an extensive collection of casino
                    games suitable for the metaverse. Immerse your users in a virtual casino environment with our
                    diverse gaming options. </li>
                <li><strong>Seamless iFrame Integration : </strong> Easily integrate our iFrame into your iGaming
                    platform. Our user-friendly iFrame solution allows you to enhance your platform's capabilities
                    effortlessly. </li>
                <li><strong>Flexible Integration : </strong> Choose your integration method, whether it's through API or
                    iFrame. We provide versatile options to suit your convenience and platform requirements. </li> -->
            </ul>
        </div>
    </div>
</section>
<section class="sportsbook_sec_page">
    <div class="sports_container_1">
        <h2 class="sports_header_2">{{'sports_header_2'|translate}} </h2>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p [innerHTML]="'sports_header_2_p1'|translate">
                    <!-- We provide a <a style="color: #a0c528;" href="#">White Label Casino</a> solution featuring an
                    extensive library of over 1,000 games. -->
                </p>
                <p>{{'sports_header_2_p2'|translate}}</p>
                <p [innerHTML]="'sports_header_2_p3'|translate"></p>
            </div>
        </div>
        <div class="web_3_igaming_img"> <img class="web_images"
                src="assets/vrnl online sportbook software_11zon (1).webp" loading="lazy" alt="iGaming Casino Platform"
                title="Web3 plateform"> </div>
    </div>
</section>
<section class="crypto-section5-container">
    <div class="crypto-section5-main">
        <div class="crypto-section5-left">
            <h2>{{'live_casino'|translate}}</h2>
            <ul class="online_sports_list" [innerHTML]="'online_sports_list'|translate">
                <!-- <li>Live Game Show</li>
                <li>First Person games</li>
                <li>Slots</li>
                <li>American roulette live</li>
                <li>Live blackjack</li>
                <li>Baccarat live</li>
                <li>Casino Hold’em live</li>
                <li>SICBO</li>
                <li>Dragon tiger live</li>
                <li>Andar Bahar</li>
                <li>Teen Patti</li> -->
            </ul>
        </div>
        <div class="crypto-section5-right">
            <h2>{{'play_directly'|translate}}</h2> <img class="live_sec5_imgs"
                src="assets/vrnl 19_11zon.webp" loading="lazy" alt="Live Casino">
        </div>
    </div>
</section>
<section class="web_page_sec">
    <div class="web3_page_row">
        <div class="web_page_col">
            <h1 class="web_3_header">{{'top_online_providers'|translate}}</h1> <img class="web_3_imag"
                src="assets/vrnl online c_11zon (1).webp" loading="lazy" alt="Online Casino">
        </div>
        <div class="web_page_col_1">
            <h1 class="web3_header_2"> {{'online_casino'|translate}}</h1>
            <p class="new-containt">{{'online_casino_p1'|translate}} </p>
            <ul class="user_data_section" [innerHTML]="'user_data_section1'|translate">
                <!-- <li>Providers 75 + more than</li>
                <li>Slot machine 15,000 + more than</li>
                <li>Table games 500 + more than</li>
                <li>Video poker 700 + more than</li>
                <li>Other games 200 + more than</li> -->
            </ul>
        </div>
    </div>
</section>
<section class="crypto-section6-container">
    <div class="crypto-section6-main">
        <div class="crypto-section6-left">
            <h2>{{'lottery_bingo_games'|translate}}</h2>
            <P class="new-containt">{{'lottery_bingo_games_p1'|translate}}</P>
            <ul class="user_data_section" [innerHTML]="'user_data_section2'|translate">
                <!-- <li>Bingo 80 + more than</li>
                <li>Lottery 130 + more than</li> -->
            </ul>
        </div>
        <div class="crypto-section6-right">
            <h2>{{'ultimate_dest'|translate}}</h2> <img class="lottery_img"
                src="assets/bingo vrnl 13.webp" alt="Lottery and Bingo Games">
        </div>
    </div>
</section> <app-footer></app-footer>