<app-header></app-header>

<section>
    <div class="cashout-section1-row">
      <div class="cashout-section1-left-col">
        <h1 class="cashout-section1-left-col-header">Cashout</h1>

        <p class="cashout-section1-left-col-paras">
          The cashout is one of the most important tools for betting software.
        </p>

        <p class="cashout-section1-left-col-paras">
          The Cashout means ‘’to cash now’ and it’s an option that allows the
          customers to close the bet at any time and for a specific market, by
          blocking the profits or cutting the loss thanks to a mathematics
          formula which shares the gains equally with the current odds.
        </p>

        <button class="button_slide slide_right">
          <i class="fa-solid fa-phone"></i> Contact us!
        </button>
      </div>

      <div class="cashout-section1-right-col">
        <img class="cash_images" src="assets/sirplay vrnl 30_data.jpg" alt="" />
      </div>
    </div>
  </section>

  <!-- =================================================================== -->

  <section>
    <div class="cashout-section2-row">
      <div class="cashout-section2-col1">
        <h2 class="cashout-section2-col1-h1">
          What is the Cashout? How does it work?
        </h2>
        <p class="cashout-section2-col1-paras">
          Nothing easier: it is an option through which it is possible to
          close a bet, before the end of the matches included in it, and gain
          an anticipated winning or limiting the damages for a possible loss.
        </p>
        <p class="cashout-section2-col1-paras">
          This function reveals how much you can win or lose in real time,
          based on the trend of the match.<br />
          The Cashout is obviously a peculiarity of certain betting software
          and is not present in most of the Sportsbooks.
        </p>

        <div class="seprators2"></div>
      </div>

      <div class="cashout-section2-col2">
        <img class="cash_img_1" src="assets/sirplay vrnl 27_data.jpg" alt="" />
      </div>
    </div>
  </section>
  <!-- =================================================================== -->

  <section>
    <div class="cashout-section3-row">
      <div class="cashout-section3-col1">
        <img class="cash_wide" src="assets/sirplay vrnl 31_data.jpg" alt="" />
      </div>

      <div class="cashout-section3-col2">
        <h2>When can you cash out a bet?</h2>
        <p>
          When the player clicks on the “Cash out” button, the system closes
          the game by spreading the possible gain (or limited loss) on all the
          markets present.
        </p>

        <p>
          The presence of the cashout function is a peculiarity of Vrnl’s
          platform and is not present on the sites of classic bookmakers. For
          this reason, it is of fundamental importance to know how to seize
          the moment, by clicking on the button before the odds change, or to
          keep the bet open and check if the payout will be greater.
        </p>

        <div class="separators3"></div>
      </div>
    </div>
  </section>

  <!-- =================================================================== -->

  <section>
    <div class="cashout-section4-row">
      <div class="cashout-section4-col1">
        <h2>What advantages does the cashout give to players?</h2>
        <ol>
          <li>
            Thanks to the cashout it is possible to protect their winnings.
          </li>
          <li>It is possible to reduce the loss.</li>
          <li>
            With the cashout it is possible to increase the balance, without
            making further deposits.
          </li>
        </ol>

        <div class="separators4"></div>
      </div>

      <div class="cashout-section4-col2">
        <img class="cashout_kholi" src="assets/sirplay sportbook 1.jpg" alt="" />
      </div>
    </div>
  </section>

  <!-- =================================================================== -->

  <section>
    <div class="cashout-section5-row">
      <div class="cashout-section5-col1">
        <img class="msd_cash" src="assets/sirplay vrnl 24_data.jpg" alt="" />
      </div>

      <div class="cashout-section5-col2">
        <h2>Live Betting and Pre-match Cashout</h2>
        <p>
          We realized two types of cashout, one is for the prematch and the
          other one for the live betting and both of them use Vrnl
          proprietary mathematics which guarantee utility and security.
        </p>

        <h3>Pre-match Cashout</h3>
        <p>
          The Pre-match cashout is highly customizable according to the needs
          of the Bookmaker. In fact, it is possible to define the minimum
          number of events, the maximum number of events and also the minimum
          odd below which cash out is not allowed.
        </p>

        <p>
          The player as well as the Bookmaker will at all times have a clear
          view of the potential winnings with and without cashout and the
          details of which bets have been won thanks to the use of this
          option.
        </p>

        <h3>In-play Cashout</h3>
        <p>
          The Live betting (In-play) Cash out option guarantees the bookmaker
          a fixed percentage of profit on the bets placed. If your players
          haven’t requested it yet, be assured that they will do so shortly.
          The calculation carried out by the system developed by Vrnl is
          automatic and takes place in real time based on the variation of
          live odds.
        </p>

        <p>
          Also in this case, both the Bookmaker and the player will have clear
          and detailed reporting of the bets that have taken advantage of this
          attractive feature.
        </p>

        <div
          class="separators5"
          style="
            height: 4px;
            background: #a0c528;
            width: 60px;
            border-radius: 5px;
          "
        ></div>
      </div>
    </div>
  </section>

  <!-- ============================================================================= -->

  <section class="center_section">
    <div class="cashout-section6">
      <h2 style="text-align: center">Before starting, see it in action!</h2>
      <h4 style="text-align: center">Demo platform:</h4>
      <p style="text-align: center">
        <a href="https://www.rex.games/" target="_blank">
          https://www.rex.games/</a
        >
      </p>
    </div>
  </section>
  <app-contact-com></app-contact-com>



<app-footer></app-footer>