.cash_images{
    width: 526px;
    height: 329px;}

.cash_img_1{
    width: 556px;
    height: 392px;  
}
.cash_wide{
    width: 576px;
    height: 305px;     
}
.cashout_kholi{
    width: 478px;
    height: 504px;     
}

.msd_cash{
    width: 520px;
    height: 330px;
}

@media screen and (max-width: 820px){
    .cash_images{
        width: 100% !important;
        height: auto !important;
    }
    
    .cash_img_1{
        width: 100% !important;
        height: auto !important;
    }
    .cash_wide{
        width: 100% !important;
        height: auto !important;
    }
    .cashout_kholi{
        width: 100% !important;
        height: auto !important;   
    }
    
    .msd_cash{
        width: 100% !important;
        height: auto !important;
    }
}