<app-header></app-header>
<section class="sport_iframe_sec">
    <div class="sports_ifram_row">
      <div class="sports_if_col">
        <h1 class="sports_header">Sportsbook iFrame</h1>
        <p class="sports_para">
          Sportsbook iFrame allow you to enable the sportsbook module in a few
          days through the integration of API requests. Furthermore, the
          Sportsbook service is completely managed by us and we guarantee the
          widest programming of online events and markets.
        </p>

        <button class="button_slide slide_right">
          <i class="fa-solid fa-phone"></i> Contact us!
        </button>
      </div>
      <div class="sports_if_col_2">
        <img
          class="iframe_images"
          src="assets/sirplay vrnl 12.webp"
        />
      </div>
    </div>
  </section>

  <section class="types_sports_sec">
    <div class="sports_type_row">
      
      <div class="sports_col_1">
        <h1 class="types_header">Types of sportsbook iframe</h1>
        <p class="type_para">
          The Sportsbook iFrame solutions are three and based on the channel
          used, we provide the most suitable for you:
        </p>
        <ul class="types_list">
          <li>
            iFrame for <strong> Desktop </strong> , for computers of any resolution with different
            and customizable layouts.
          </li>
          <li>
            iFrame for <strong>Terminals and kiosks SSBT</strong> , the layout is studied to adapt to touchscreen systems and the user experience is minimal to allow inexperienced players to place bets.
          </li>
        </ul>
        <p class="type_para">
          Furthermore through API it is possible to customize graphics and
          game functions
        </p>
        <br />
        <br />

        <div class="white_back"></div>
      </div>
      <div class="sports_col">

        <img
        class="types_images"
        src="assets/sirplay image 4 (1).webp"
      />
      </div>
      
    </div>
  </section>
<!-- 
  <section class="gaming_sec_iframe">
    <div class="gaming_row_iframe">
      <div class="gaming_col_iframe">
        <img
          class="gaming_img_iframe"
          src="assets/sirplay igaming.webp"
         
        />
      </div>
      <div class="gaming_col_2_iframe">
        <h1 class="gaming_header_iframe">
          Sportsbook iFrame is suitable for land based Casinos
        </h1>
        <p class="gaming_para_iframe">
          If you own a land-based casino and you would like to offer sports betting as well, our Sportsbook iFrame solution for terminals and kiosks will be the right choice since it will allow you to create cashiers accounts to manage the sports betting tickets sale.
        </p>
       
        <br />
        <br />
        <div class="white_back"></div>
      </div>
    </div>
  </section>  -->

  <section class="types_sports_sec_iframe">
    <div class="sports_type_row">
      <div class="sports_col_1_iframe">
        <img class="managed_images" src="assets/VRNL 2.webp" />
      </div>
    
      <div class="sports_col_iframe">
        <h1 class="types_header">Fully managed sportsbook</h1>
        <p class="type_para">
          Our Sportsbook iFrame includes the provision of the odds data feed
          and configuration of the main betting settings. The software embeds
          many features and tools to manage the odds margins and
          configurations autonomously. But if you want to focus on the Players
          management and marketing only, we provide full managed trading
          services and support.
        </p>

        <br />
        <br />

        <div class="white_back"></div>
      </div>
      </div>
  </section>

  <section class="sports_iframes">
<div class="sport_sol_row">
 
  <div class="sport_sol_col_1">
    <h1 class="header_iframes">To get the sportsbook iframe solution is very easy</h1>
    <p class="gaming_para_iframe">
      We’ve made it as easy as possible to activate the iFrame, just five steps:
    </p>
    <ol class="gaming_para_iframe">
      <li>
        Formalize the agreement between Vrnl and the customer.
      </li>
      <li>Start the sportsbook iFrame integration through APIs with our sdk.</li>
      <li>
        Meeting to define the sportsbook strategy to follow.
      </li>
      <li>Definition of most interesting sports and events by following your operating area.</li>
      <li>Let’s go live!</li>
    </ol>
  </div>
  <div class="sport_sol_col">
    <img class="i-frame_img1" src="assets/Sirplay image 8.webp">
      </div>
</div>
  </section>

  <!-- <section class="contact_sec">
    <div class="contact_row">
      <div class="contact_col">
        <h3 class="contact_header">Contact US</h3>
        <p class="contact_para">
          Connect with a Vrnl expert for a detailed discussion about how
          our services might give benefits to your Betting business and create
          your own strategy.
        </p>
        <div class="contact_social">
          <div class="contact_details">
            <div class="row_col">
              <img src="assets/Skype_logo.webp" />
            </div>
            <div class="row_col_1">
              <p class="contact_b">English Spanish</p>
            </div>
          </div>
        </div>
        <div class="contact_social">
          <div class="contact_details">
            <div class="row_col">
              <img class="whats_img" src="assets/Whatsapp.webp" />
            </div>
            <div class="row_col_1">
              <p class="contact_a">+356 99972143</p>
            </div>
          </div>
        </div>
      </div>
      <div class="contact_col_1">
        <div class="contact_card">
          <form>
            <div class="name_label">
              <label for="fname">Full name</label>
            </div>
            <div class="name_input">
              <input type="text" id="fname" name="fname" value="" required />
            </div>
            <div class="email_label">
              <label for="fname"><b>Your email</b></label>
            </div>
            <div class="email_input">
              <input
                type="text"
                id="fname"
                name="fname"
                value=""
                onkeypress="myFunction()"
              />
            </div>
            <div class="email_label">
              <label for="fname"><b>Country</b></label>
            </div>
            <div class="email_input">
              <input type="tel" id="country_selector" name="phone" value="" />
            </div>
            <div class="email_label">
              <label for="fname"><b>Phone Number</b></label>
            </div>
            <div class="email_input">
              <input value="" id="phone" type="tel" name="phone" />
            </div>
            <div class="email_label">
              <label for="fname"><b>Message</b></label>
            </div>
            <div class="text_area">
              <textarea rows="20" cols="44"></textarea>
            </div>
            <div class="btn">
              <button class="con_btn">Submit</button>
            </div>
          </form>
        </div>
        <p class="con_param">
          We don’t share your personal information with anyone. Check out our
          <span class="white_change">“privacy policy”</span> for more
          information
        </p>
      </div>
    </div>
  </section> -->
 


<app-footer></app-footer>