<app-header></app-header>
<section class="sport_iframe_sec">
    <div class="sports_ifram_row">
        <div class="sports_if_col">
            <h1 class="sports_header">{{'exch_iframe'|translate}} </h1>
            <p class="sports_para"> {{'exch_iframe_para'|translate}} </p> <button class="button_slide slide_right" routerLink="/contact"> <i
                    class="fa-solid fa-phone"></i> {{'contact_us!'|translate}} </button>
        </div>
        <div class="sports_if_col_2"> <img class="iframe_images" src="assets/vrnl 12.webp" alt="Sportsbook iFrame"
                loading="lazy" /> </div>
    </div>
</section>
<section class="types_sports_sec">
    <div class="sports_type_row">
        <div class="sports_col_1">
            <h1 class="types_header">{{'exch_iframe_types'|translate}}</h1>
            <p class="type_para"> {{'exch_iframe_types_para'|translate}}</p>
            <ul class="types_list" [innerHTML]="'exch_iframe_types_list'|translate">
                
            </ul>
            <p class="type_para"> {{'exch_iframe_types_para2'|translate}}</p> <br /> <br />
            <div class="white_back"></div>
        </div>
        <div class="sports_col"> <img class="types_images" src="assets/vrnl image 4 (1)_11zon.webp"
                alt="Types of sportsbook iframe" loading="lazy" /> </div>
    </div>
</section>
<section class="types_sports_sec_iframe">
    <div class="sports_type_row">
        <div class="sports_col_1_iframe"> <img class="managed_images" src="assets/VRNL 2.webp" loading="lazy"
                alt="managed sportsbook" /> </div>
        <div class="sports_col_iframe">
            <h1 class="types_header">{{'cm_exch'|translate}}</h1>
            <p class="type_para"> {{'exch_iframe_types_para'|translate}} </p> <br /> <br />
            <div class="white_back"></div>
        </div>
    </div>
</section>
<section class="sports_iframes">
    <div class="sport_sol_row">
        <div class="sport_sol_col_1">
            <h1 class="header_iframes">{{'acq_exch'|translate}}</h1>
            <p class="gaming_para_iframe">{{'acq_exch_para'|translate}}</p>
            <ol class="gaming_para_iframe" [innerHTML]="'acq_exch_list'|translate">
                
            </ol>
        </div>
        <div class="sport_sol_col"> <img class="i-frame_img1" src="assets/vrnl_iframe.webp" loading="lazy"
                alt="sportsbook iframe"> </div>
    </div>
</section> <app-footer></app-footer>