.iframe_images{
    width: 580px;
    height: 295px;
}

.managed_images{
    width: 524px;
    height: 507px;
}

.button_slide {
border-color: black;
}
@media screen and (max-width: 820px){
    .iframe_images{
        width: 100% !important;
        height: auto !important;
    }
    
    .managed_images{
        width: 100% !important;
        height: auto !important;
    }

    .gaming_row_iframe {
        display: flex;
        flex-direction: column;
}
.sport_sol_row{
    display: flex;
    flex-direction: column;  
}
.types_images{
display: none;
}
.gaming_img_iframe{
    display: none;

}

.gaming_col_2_iframe {
    width: 100% !important;
    padding: 12px;
}
.gaming_header_iframe{
    font-size: 27px !important;
   
    font-weight: 600 !important;
}
.sports_col_iframe {
    width: 100% !important;
    padding: 12px !important;
}
.i-frame_img1{
display: none;
}
.sport_sol_col_1{
width: 99% !important;
padding: 12px;
}
.header_iframes{
font-size: 27px !important;
font-weight: 600 !important;
}
.sport_iframe_sec {
    margin-top: 80px !important;

}
}
.gaming_sec_iframe {
    padding-top: 63PX;
    margin-bottom: 80px;
}

.gaming_row_iframe {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.gaming_col_2_iframe{
    width: 40%;
}
.gaming_img_iframe{
    width: 540px;
height:370px; 
}

.gaming_col_iframe{
    width: 43%;
}

.gaming_header_iframe{
   font-size: 35px;
    color: #a0c528;
    line-height: 45px;
    text-align: left;
    margin-bottom: 37px;
   
    font-weight: bold;
}
.gaming_para_iframe{
    font-family: Poppins;
    line-height: 30px;
   
  font-weight: 300;
    font-size: 16px;
    color: black;
}

.sport_sol_row{
    display: flex;
    justify-content: center;
    gap:4%;
}
.i-frame_img1{
    width: 555px;
    height: 451px;
}

.sports_iframes{
    margin-top: 64px;
    margin-bottom: 64px;
}
.sport_sol_col_1{
  width: 45%;  
}
.header_iframes{
    font-size: 35px;
    color: #a0c528;
    line-height: 45px;
    text-align: left;
    margin-bottom: 30px !important;
    font-family: Poppins;
font-weight: bold;
}

strong{
    font-weight: bold;
}

.sports_col_1_iframe{

}
.sports_col_iframe{
width: 41%;
}
.types_sports_sec_iframe{
    padding-top: 11px;
}