<app-header></app-header>
<div class="container">
    <section id="animate-area">
        <div class="main_sec">
            <section class="typing-container" style="font-family: Poppins;">
                <h1 class="home_header_h1"> {{'aboutus_title'|translate}} <span class="typing-text"></span> </h1>
            </section>
            <p class="param" style="color: #686868 !important;font-family: Poppins;"> {{'aboutus_desp'|translate}} </p>
        </div>
    </section>
    <section class="about-section1-container">
        <div class="about-section1-main">
            <h1 style="font-family: Poppins;">{{'online_gaming_provider'|translate}}</h1>
            <!-- <div class="about_map">
                <div class="map">
                    <ul class="map__markers">
                        <li class="map__marker map__marker--chicago"> <a href="#">India</a>
                            <div class="map__marker-info">
                                <div class="map__marker-info-inner animate animate--bounce-in">
                                    <header class="map__marker-info-header">
                                        <h2 style="font-size: 1.5rem;">India</h2>
                                    </header>
                                    <main class="map__marker-info-main">
                                        <p><a href="#">Lorem ipsum</a> dolor sit amet, consectetur adipisicing elit.
                                            Aliquid asperiores, quae eos modi temporibus vitae nesciunt, quia voluptatem
                                            repellat recusandae!</p>
                                    </main>
                                </div>
                            </div>
                            <div class="bounce"> <i class="fa-solid fa-location-dot loc"></i> </div>
                        </li>
                        <li class="map__marker map__marker--florida"> <a href="#">Bangladesh</a>
                            <div class="map__marker-info">
                                <div class="map__marker-info-inner animate animate--bounce-in">
                                    <header class="map__marker-info-header">
                                        <h2 style="font-size: 1.5rem;">Bangladesh</h2>
                                    </header>
                                    <main class="map__marker-info-main">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores,
                                            quae eos modi temporibus vitae nesciunt, quia voluptatem repellat <a
                                                href="#">recusandae</a>!</p>
                                    </main>
                                </div>
                            </div>
                            <div class="bounce1"> <i class="fa-solid fa-location-dot loc1"></i> </div>
                        </li>
                    </ul> <img src="assets/vrnl-market_2022-1-768x369 2.webp" alt="map" />
                </div>
            </div> -->
        </div>
        <!-- <div class="about-section1-adddress">
            <div class="about-section1-add1">
                <h3><strong> Vrnl's USA</strong></h3>
                <p class="para1">46 Country Club, Bellport</p>
                <p class="para1">NY 11713, United States</p>
            </div>
            <div class="about-section1-add2">
                <h3><strong>Vrnl LATAM </strong></h3>
                <p class="para1">Calle Coronel Inclan, 237</p>
                <p class="para1">Oficina 703 Miraflores – Lima – Perú</p>
            </div>
        </div> -->
        <div class="about-section1-para">
            <p style="margin-bottom: 20px" style="color: #686868;" [innerHTML]="'about-section1-para1'|translate">
                <!-- <strong style="color: #000;"> Vrnl is a
                    well-established Sportsbook and Gaming Provider with a remarkable 5-year track record in the
                    betting industry. </strong> Since 2020, we have been dedicated to supplying bookmakers, lotteries,
                and betting organizations in regulated markets.  -->
            </p>
            <p>&nbsp;</p>
            <p style="margin-bottom: 20px"> <i
                    style="color: #686868;font-size: 17px;">"{{'about-section1-para2'|translate}}" </i> </p>
            <p>&nbsp;</p>
            <p style="margin-bottom: 20px"> <i style="color: #686868;font-size: 17px;">"{{'about-section1-para21'|translate}}" </i> </p>
            <p>&nbsp;</p>
            <p style="margin-bottom: 20px"> <i style="color: #686868;font-size: 17px;">"{{'about-section1-para22'|translate}}" </i> </p>
            <p>&nbsp;</p>
            <p style="margin-bottom: 20px;font-size: 17px;color: #686868;" [innerHTML]="'about-section1-para3'|translate" >  </p>
            <p>&nbsp;</p>
        </div>
    </section>
</div>
<div class="subpage-main" style="font-family: Poppins;">
    <div class="subpage-content">
        <div class="aboutus-content-box">
            <div class="container">
                <h1 class="subpage-title-1 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500"
                    data-aos-delay="000"><span>{{'about_us'|translate}}</span></h1>
                <div class="col-lg-8 content-2 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500"
                    data-aos-delay="000">
                    <p style="color: #686868;">{{'about_us_desp'|translate}}</p>
                    <p style="color: #686868;">
                </div>
            </div>
        </div>

        <section class=whites_sec>
            <div class=whites_row>
                <div class=whites_col>
                    <h2 class=white_header>Comprehensive  <span class="why-partner-title">iGaming & Betting</span>  Solutions for Every Business</h2>
                    <p class=white_para>
                        At <span class="white_change"> VRNL </span>
                        we pride ourselves on delivering top-tier solutions for businesses and individuals in the online
                        gaming and betting industry. Whether you are a startup looking to launch your platform or an
                        established brand seeking expansion, we provide end-to-end services that empower your growth,
                        ensure compliance, and deliver exceptional user experiences.
                    </p>
                    <p class="white_para">We understand that every business is unique, which is why we offer customized
                        solutions tailored to your brand’s identity, target market, and long-term goals. From
                        white-label platforms that allow you to enter the market quickly to fully customized betting
                        exchanges, casino integrations, and API services, we provide the flexibility you need to stand
                        out in a competitive industry.
                    </p>
                    <p class="white_para">Our platform is built with cutting-edge technology to guarantee speed,
                        security, and scalability, ensuring that your business can handle high volumes of players and
                        transactions with ease. We also prioritize compliance with regulatory requirements, offering
                        secure payment gateways, reliable KYC processes, and responsible gaming tools to build trust and
                        credibility with your audience.</p>
                    <br><br>
                    <div class=white_back></div>
                </div>
                <div class=whites_col_1><img class=whites_sec_img2 src="assets/whitelabelsolution.webp"
                        loading=lazy alt="White Label Solutions"></div>
            </div>
        </section>
        <section class=gaming_sec>
            <div class=gaming_row>
                <div class=gaming_col><img class="gaming_img e" src="assets/igaming-betting-solution.webp" loading=lazy
                        width=520 height=325 alt="iGaming Platform"></div>
                <div class=gaming_col_2>
                    <h2 class=gaming_header>Our Services</h2>
                    <p class=gaming_para>At VRNL, we bring together innovation, technology, and entertainment to
                        deliver a complete suite of gaming and betting solutions. Whether it’s building a new platform
                        or enhancing an existing one, our services are designed to give you reliability, flexibility,
                        and unmatched player experiences. 
                        </p>
                     
                        <ul>
                            <li> White Label Solutions  – <span class="c-font-weight">Launch your own branded gaming or betting platform with complete backend support.</span></li>
                            <li> Sports Exchange Platform  – <span class="c-font-weight">Real-time, high-performance peer-to-peer sports betting system</span></li>
                            <li> Online Casino  – <span class="c-font-weight">Wide range of slots, live dealers, and classic casino games.</span></li>
                            <li> iGaming Solutions  – <span class="c-font-weight">All-in-one platform combining sports, casino, fantasy, and virtual games.</span></li>
                            <li> AWC Games Integration  – <span class="c-font-weight">Smooth integration of AWC’s diverse gaming portfolio.</span></li>
                            <li> Table Casino Games  – <span class="c-font-weight">Popular titles like Poker, Roulette, Blackjack, Teen Patti, and more.</span></li>
                            <li> API Services  – <span class="c-font-weight">Secure and scalable APIs for sports betting, casino, and data feeds.</span></li>
                            <li> B2B Solutions  – <span class="c-font-weight">Tailored packages for agents, operators, and resellers.</span></li>
                            <li> B2C Services  – <span class="c-font-weight">Engaging and user-friendly platform experiences for end-users.</span></li>
                            <li> Deposit & Withdrawal Solutions  – <span class="c-font-weight">Instant, secure payments via UPI, Net Banking, wallets, and crypto.</span></li>
                            <li> User Registration & Management  – <span class="c-font-weight">Easy onboarding, KYC verification, and multi-level user control.</span></li>
                        </ul>
                        <br>
                    <div class=white_back></div>
                </div>
            </div>
        </section>


        <div class="partner_section">
            <div class="container">
                <h3 class="partner-title aos-init aos-animate " style="font-family: Poppins;" data-aos="fade-up"
                    data-aos-duration="1500" data-aos-delay="000">Why <span class="why-partner-title">Choice Us</span>  </h3>
            </div>
            <div class="why-c-container">
                <div class="why-c-box " *ngFor="let data of whychoiceus">
                    <div class="why-c-img">
                        <img src="assets/{{data.name}}.webp" alt="">
                    </div>
                    <div class="why-c-text">
                        {{data.text}}
                    </div>

                </div>
            </div>
        </div>

        <div class="partner_section">
            <div class="container">
                <h3 class="partner-title aos-init aos-animate" style="font-family: Poppins;" data-aos="fade-up"
                    data-aos-duration="1500" data-aos-delay="000">{{'our_client'|translate}} </h3>
                <p style="color: #686868;text-align: initial;" data-aos="fade-up" data-aos-duration="1500"
                    data-aos-delay="000" class="aos-init aos-animate"> {{'our_client_desp'|translate}}</p>
                <!-- <div class="partners_logo_sec partners_logo_sec_desk aos-init aos-animate" data-aos="fade-up"
                    data-aos-duration="1500" data-aos-delay="000">
                    <div class="partners_logo_box"> <a href="https://velkii365.com/#/home" target="_blank"> <img
                                src="assets/partner-logo-new/velkii365.webp" alt="velkii365"
                                class="img-fluid partner-image copy"> </a> </div>
                    <div class="partners_logo_box"> <a href="https://exch.9xbet.vip/#/home" target="_blank"> <img
                                src="assets/partner-logo-new/xbet9.webp" alt="xbet9"
                                class="img-fluid partner-image copy"> </a> <a href="https://baaji365.biz/#/home"
                            target="_blank"> <img src="assets/partner-logo-new/baaji365biz.webp" alt="baaji365biz"
                                class="img-fluid partner-image copy"> </a> <a href="https://www.bazi365.live/#/dash"
                            target="_blank"> <img src="assets/partner-logo-new/bazi365.webp" alt="bazi365"
                                class="img-fluid partner-image copy"> </a> </div>
                    <div class="partners_logo_box"> <a href="https://velkiex123.biz/#/home" target="_blank"> <img
                                src="assets/partner-logo-new/velkiex123biz.webp" alt="velkiex123biz"
                                class="img-fluid partner-image copy"> </a> <a href="https://bdbaji365.live/#/home"
                            target="_blank"> <img src="assets/partner-logo-new/bdbaji365.webp" alt="bdbaji365"
                                class="img-fluid partner-image copy" style="padding: 8px 12px;"> </a> <a
                            href="https://star365.live/#/home" target="_blank"> <img
                                src="assets/partner-logo-new/star365.webp" alt="star365"
                                class="img-fluid partner-image copy"> </a> <a href="https://www.agun365.win/#/dash"
                            target="_blank"> <img src="assets/partner-logo-new/play25.webp" alt="play25"
                                class="img-fluid partner-image copy"> </a> <a href="https://www.play25.live/#/dash"
                            target="_blank"> <img src="assets/ex3659.webp" alt="ex3659"
                                class="img-fluid partner-image copy"> </a> </div>
                    <div class="partners_logo_box"> <a href="https://velkibuzzer.io/#/home" target="_blank"> <img
                                src="assets/partner-logo-new/velkibuzzer.webp" alt="velkibuzzer"
                                class="img-fluid partner-image copy"> </a> <a href="https://www.betswiz.com/#/dash"
                            target="_blank"> <img src="assets/partner-logo-new/betswiz.webp" alt="betswiz"
                                class="img-fluid partner-image copy"> </a> <a href="https://www.skyfaire.live/#/dash"
                            target="_blank"> <img src="assets/partner-logo-new/skyfaire.webp" alt="skyfaire"
                                class="img-fluid partner-image copy"> </a> <a href="https://www.betguru.win/#/dash"
                            target="_blank"> <img src="assets/partner-logo-new/betguru.webp" alt="betguru"
                                class="img-fluid partner-image copy"> </a> <a href="https://www.playbdt.live/#/dash"
                            target="_blank"> <img src="assets/partner-logo-new/playbdt.webp" alt="playbdt"
                                class="img-fluid partner-image copy"> </a> </div>
                    <div class="partners_logo_box"> <a href="https://www.betskyexch.com/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/betskyexch.webp" alt="betskyexch"
                                class="img-fluid partner-image copy"> </a> <a href="https://www.lc247.live/#/dash"
                            target="_blank"> <img src="assets/partner-logo-new/lc247.webp" alt="lc247"
                                class="img-fluid partner-image copy"> </a> <a href="https://www.9wickets.site/#/dash"
                            target="_blank"> <img src="assets/logo-wckt9.webp" alt="9wickets"
                                class="img-fluid partner-image copy"> </a> <a  href="https://www.baazi365.co/#/dash"
                            target="_blank"> <img src="assets/partner-logo-new/Baazi365.webp" alt="baazi365"
                                class="img-fluid partner-image copy"> </a> <a href="https://www.betgame247.live/#/dash"
                            target="_blank"> <img src="assets/partner-logo-new/betgame247.webp" alt="betgame"
                                class="img-fluid partner-image copy"> </a> </div>
                    <div class="partners_logo_box"> <a href="https://www.rajbet.win/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/rajbet.webp" alt="rajbet"
                                class="img-fluid partner-image copy"> </a> <a href="https://www.citybett.com/#/dash"
                            target="_blank"> <img src="assets/partner-logo-new/citybett.webp" alt="citybett"
                                class="img-fluid partner-image copy"> </a> <a href="https://auraexch.live/#/home"
                            target="_blank"> <img src="assets/aura.webp" alt="aura"
                                class="img-fluid partner-image copy"> </a> </div>
                    <div class="partners_logo_box"> <a href="https://www.3wickets.io/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/wicket3.webp" alt="wicket3"
                                class="img-fluid partner-image copy"> </a> </div>
                </div>  -->

                <!-- for mobile view -->
                <!-- <div class="partners_logo_sec partners_logo_sec_mob aos-init aos-animate" data-aos="fade-up"
                    data-aos-duration="1500" data-aos-delay="000">
                    <div class="partners_logo_box"> <a class="box" href="https://velkii365.com/#/home" target="_blank">
                            <img src="assets/partner-logo-new/velkii365.webp" alt="velkii365"
                                class="img-fluid partner-image copy"> </a><a class="box"
                                href="https://www.baazi365.co/#/dash" target="_blank"> <img
                                    src="assets/partner-logo-new/Baazi365.webp" alt="baazi365" class="img-fluid partner-image copy">
                            </a> <a class="box"
                            href="https://exch.9xbet.vip/#/home" target="_blank"> <img
                                src="assets/partner-logo-new/xbet9.webp" alt="xbet9"
                                class="img-fluid partner-image copy"> </a>  <a class="box"
                            href="https://velkiex123.biz/#/home" target="_blank"> <img
                                src="assets/partner-logo-new/velkiex123biz.webp" alt="velkiex123biz"
                                class="img-fluid partner-image copy"> </a> <a class="box"
                            href="https://bdbaji365.live/#/home" target="_blank"> <img
                                src="assets/partner-logo-new/bdbaji365.webp" alt="bdbaji365"
                                class="img-fluid partner-image copy"> </a> <a class="box"
                            href="https://star365.live/#/home" target="_blank"> <img
                                src="assets/partner-logo-new/star365.webp" alt="star365"
                                class="img-fluid partner-image copy"> </a> <a class="box"
                                href="https://www.play25.live/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/play25.webp" alt="play25"
                                class="img-fluid partner-image copy"> </a><a class="box"
                            href="https://www.betswiz.com/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/betswiz.webp" alt="betswiz"
                                class="img-fluid partner-image copy"> </a> <a class="box"
                            href="https://www.skyfaire.live/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/skyfaire.webp" alt="skyfaire"
                                class="img-fluid partner-image copy"> </a> <a class="box"
                            href="https://www.betskyexch.com/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/betskyexch.webp" alt="betskyexch"
                                class="img-fluid partner-image copy"> </a> <a class="box"
                            href="https://www.lc247.live/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/lc247.webp" alt="lc247"
                                class="img-fluid partner-image copy"> </a> <a class="box"
                                href="https://baaji365.biz/#/home" target="_blank"> <img
                                    src="assets/partner-logo-new/baaji365biz.webp" alt="baaji365biz"
                                    class="img-fluid partner-image copy"> </a><a class="box"
                                href="https://www.9wickets.site/#/dash" target="_blank"> <img src="assets/logo-wckt9.webp"
                                alt="9wickets" class="img-fluid partner-image copy"> </a> <a class="box"
                            href="https://www.rajbet.win/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/rajbet.webp" alt="rajbet"
                                class="img-fluid partner-image copy"> </a> <a class="box"
                            href="https://www.citybett.com/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/citybett.webp" alt="citybett"
                                class="img-fluid partner-image copy"> </a>  <a class="box"
                                href="https://velkibuzzer.io/#/home" target="_blank"> <img
                                    src="assets/partner-logo-new/velkibuzzer.webp" alt="velkibuzzer"
                                    class="img-fluid partner-image copy"> </a>  <a class="box"
                            href="https://www.9ex365.bet/#/dash" target="_blank"> <img src="assets/ex3659.webp"
                                alt="ex3659" class="img-fluid partner-image copy"> </a> <a class="box"
                            href="https://www.betguru.win/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/betguru.webp" alt="betguru"
                                class="img-fluid partner-image copy"> </a> <a class="box"
                            href="https://www.playbdt.live/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/playbdt.webp" alt="playbdt"
                                class="img-fluid partner-image copy"> </a> <a class="box"
                            href="https://www.betgame247.live/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/betgame247.webp" alt="betguru"
                                class="img-fluid partner-image copy"> </a>  <a class="box" href="https://auraexch.live/#/home" target="_blank"> <img
                                src="assets/aura.webp" alt="aura" class="img-fluid partner-image copy"> </a> <a
                            class="box" href=" https://www.bazi365.live/#/dash" target="_blank"> <img
                                src="assets/partner-logo-new/bazi365.webp" alt="bazi365"
                                class="img-fluid partner-image copy"> </a> </div>
                </div> -->
            </div>
        </div>
    </div>
</div><app-footer></app-footer>