<app-header></app-header>
<div class="container">
<section id="animate-area">
    <div class="main_sec">
      <section class="typing-container">
        <h1 class="home_header_h1">
          I'm sure you are curious to discover
          <span class="typing-text"></span>
        </h1>
      </section>
      <p class="param">
        A company which is constantly striving for Innovative Solutions for
        the Business Needs
      </p>
    </div>
  </section>

  <section class="about-section1-container">
    <div class="about-section1-main">
      <h6 class="section-title  dark_title">Vrnl</h6>
      <h1>Gaming solutions experts</h1>

      <div class="about_map">
        <img src="assets/sirplay-market_2022-1-768x369.png" alt="" />
      </div>
    </div>

    <div class="about-section1-adddress">
      <div class="about-section1-add1">
        <h3><strong> Vrnl's USA</strong></h3>
        <p>46 Country Club, Bellport</p>
        <p class="para1">NY 11713, United States</p>
      </div>

      <div class="about-section1-add2">
        <h3><strong>Vrnl LATAM </strong></h3>
        <p class="para1">Calle Coronel Inclan, 237</p>
        <p>Oficina 703 Miraflores – Lima – Perú</p>
      </div>
    </div>

    <div class="about-section1-para">
      <p style="margin-bottom: 20px">
        <strong>
          Vrnl is a Sportsbook and Gaming Provider with 15 years of
          experience in the gambling industry.
        </strong>
        We have been supplying bookmakers, lotteries and betting organizations
        in regulated markets since 2005.
      </p>
      <p>&nbsp;</p>

      <p style="margin-bottom: 20px">
        <i
          >“We are creative strategists, nerds and communicators with a huge
          passion for online gaming and we work hard to build our customers’
          success in the business.”
        </i>
      </p>
      <p>&nbsp;</p>

      <p style="margin-bottom: 20px">
        Our gaming platform is just one of the reasons that brought Vrnl to
        be the International Software House it is today.<strong>
          With 15 years of experience in this sector, Vrnl offers services
          to more than 40 bookmakers in 11 countries in the world.</strong
        >
      </p>
      <p>&nbsp;</p>
    </div>

    <!-- ====================================================================== -->

    <div class="about-section1-counter-row">
      <div class="about-section1-counter-col">
        <p class="counter">{{ counter }}</p>
        <p class="stats-content">Bookmakers</p>
      </div>

      <div class="about-section1-counter-col">
        <p class="counter">11</p>
        <p class="stats-content">Countries</p>
      </div>

      <div class="about-section1-counter-col">
        <p class="counter">9</p>
        <p class="stats-content">Licenses</p>
      </div>

      <div class="about-section1-counter-col">
        <p class="counter">4</p>
        <p class="stats-content">Certifications</p>
      </div>
    </div>
  </section>
</div>
  <section class="about-section2-container">
    <div class="about-section2-main">
      <h2>Our Mission and Vision Statement</h2>
      <p>
        Our mission at Vrnl is to provide the highly brand consciousness
        and the affiliation of loyal individuals and organizations whose
        members live and breathe the SPORTS world, a platform to earn from
        their hobbies.<br />
        <strong> Vrnl’s vision</strong> is to be a provider that serves and
        supports the well established, easily identifiable sports lovers in
        the world.
      </p>
      <p>&nbsp;</p>

      <h2>Our competitive advantage</h2>
      <p>
        Regardless of the advertising you do and the services you offer, the
        bettors look at one thing, how much they can win!
      </p>
      <p>&nbsp;</p>

      <p>
        Vrnl has developed its own
        <strong> mathematical algorithm for risk management </strong>and over
        the past 15 years has corrected and continuously modified our
        mathematical formula. This has made our algorithm more and more
        precise and reliable.<strong>
          Today our team manages the security of 1 million bets a day and
          thanks to this secret,</strong
        >
        all Vrnl customers close the month on a positive revenue.
      </p>
      <p>&nbsp;</p>

      <p>
        Vrnl can also boast of having a team of highly qualified
        professionals who work with all our clients and make it easy and
        comfortable for them in all the sports betting we offer. This know-how
        is also growing thanks to the reporting tools available with the
        software, continuously analysing the data of the reports that provide
        a complete view of the sports betting activity for each player or
        betting shop in all the markets.
      </p>
      <p>&nbsp;</p>

      <img src="assets/events-and-fairs-1024x427.png.webp" alt="" />
    </div>
  </section>
  <section class="about-section3-container">
    <h2>Vrnl's certified</h2>
    <p>
      Vrnl works to ensure our application complies with all the guidelines
      published by the different jurisdictions. Vrnl’s Sports Betting
      System has been tested and certified by leading industry entities.
      Vrnl’s Sports Betting Software has already achieved 4 certifications
      of quality and security, and others are in progress.
    </p>

    <p>&nbsp;</p>

    <h2>Our Partners</h2>
    <p>
      Vrnl's constantly seeking the best gaming and entertainment partners
      in order to guarantee an exclusive gaming experience to Clients and
      Players. Thanks to the partnership agreements reached with several
      casinos and virtual games providers – international leaders in the
      industry – Vrnl has integrated its Sports Betting Platform with a
      wide range of games: slots machines, table games, live casino, virtual
      games, fantasy games, etc. The games are available for either Desktops
      PCs and mobile devices with high-quality graphics, animation and audio,
      besides the intuitive and user-friendly menu. The bookmaker is supported
      by a fast integration process that combines the scalability, flexibility
      and the performance of a betting software with the highest levels of
      security and reliability, offering to the clients the widest range of
      available games in the sector and so, the perfect gaming solutions.
    </p>
  </section>

  <app-contact-com></app-contact-com>

<app-footer></app-footer>