<div class="normal_header">
  <header class="page-header" [class.is-sticky]="isSticky">
    <nav>
      <div class="hader_row">
        <img
          class="images_logo"
          src="assets/VRNL new LOGO copy.webp" width="106px" height="45px"
          routerLink="/"
          alt="logo"
          loading="lazy"
        />

        <div class="nav_col_1">
          <ul class="nav_col_2">
            <li routerLink="/white-label-betting-platform">
              <a href="#"> {{'wl_exch_caps'|translate}} </a>
            </li>

            <li>
              <a href="#">{{'wlc_caps'|translate}} </a>
              <i class="fa-solid fa-angles-down"></i>
              <div class="sub_menu">
                <ul>
                  <li>
                    <a routerLink="/casino/casino-games"> {{'casino_game'|translate}}</a>
                  </li>
                  <li><a routerLink="/casino/live-casino"> {{'live_casino'|translate}}</a></li>
                  <li>
                    <a routerLink="/casino/lottery-games">{{'lottery_games'|translate}}</a>
                  </li>
                  <li>
                    <a routerLink="/casino/tournaments">{{'casino_tournament'|translate}}</a>
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <a href="#"> {{'company_caps'|translate}} </a> <i class="fa-solid fa-angles-down"></i>

              <div class="sub_menu">
                <ul>
                  <li><a routerLink="/about-us"> {{'about'|translate}}</a></li>
                  <li><a routerLink="/"> {{'exch_sw_provider'|translate}}</a></li>
                  <li><a routerLink="/contact">{{'contact_us'|translate}}</a></li>
                </ul>
              </div>
            </li>
            <li routerLink="/our-theme">{{'our_work'|translate}}</li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
<div class="responsive_nav">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" aria-label="logo"
        ><img src="assets/VRNL new LOGO copy.webp" loading="lazy" alt="logo" width="106px" height="45px"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button
                  class="accord_btn collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                  routerLink="/white-label-betting-platform"
                >
                  <a href="#"> {{'wl_exch_caps'|translate}}</a>
                </button>
              </h2>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  {{'wlc_caps'|translate}}
                </button>
              </h2>
              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <a routerLink="/casino/casino-games">{{'casino_game'|translate}}</a>
                </div>
                <div class="accordion-body">
                  <a routerLink="/casino/live-casino">{{'live_casino'|translate}}</a>
                </div>
                <div class="accordion-body">
                  <a routerLink="/casino/lottery-games">{{'lottery_games'|translate}}</a>
                </div>
                <div class="accordion-body">
                  <a routerLink="/casino/tournaments">{{'casino_tournament'|translate}}</a>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour"
                  aria-expanded="false"
                  aria-controls="flush-collapseFour"
                >
                  {{'company_caps'|translate}}
                </button>
              </h2>
              <div
                id="flush-collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <a routerLink="/about-us">{{'about'|translate}}</a>
                </div>
                <div class="accordion-body">
                  <a routerLink="/">{{'exch_sw_provider'|translate}}</a>
                </div>

                <div class="accordion-body">
                  <a routerLink="/contact">{{'contact_us'|translate}}</a>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button
                  class="accord_btn collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  routerLink="/our-theme"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                  style="cursor: pointer"
                >
                  <a href="#"> {{'our_work'|translate}} </a>
                </button>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
