<div class="normal_header">
    <header class="page-header">
        <nav>
            <div class="hader_row">
                <div class="nav_col">
<img class="images_logo" src="assets/sirplay.logo.png">
                </div>
                <div class="nav_col_1">
<ul class="nav_col_2">
    <li><a href="/white_label.html"> WHITE LABEL SPORTSBOOK </a>   <i class="fa-solid fa-angles-down"></i></li>
    <li><a href="">WHITE LABEL CASINO  </a> <i class="fa-solid fa-angles-down"></i>
    <div class="sub_menu">
        <ul>
            <li> <a href="/casino_games.html"> Casino games</a></li>
            <li> <a href="/live_casino.html"> Live casino</a></li>
            <li> <a href="/lottery_games.html">Lottery Games</a> </li>
            <li> <a href="/casino_tournaments.html">Casino tournament</a></li>



        </ul>
    </div>
    
    
    </li>
    <li><a href=""> WEB3 </a> <i class="fa-solid fa-angles-down"></i>
        <div class="sub_menu">
            <ul>
                <li> <a href="/web3 casino.html"> Web3 casino</a> </li>
                <li> <a href="crypto.html"> Crypto Casino </a></li>
            </ul>
        </div>
    
    </li>
    <li><a href=""> COMPANY </a> <i class="fa-solid fa-angles-down"></i>
    
        <div class="sub_menu">
            <ul>
                <li> <a href="/About.html"> About</a></li>
                <li> <a href="/index.html"> Sportsbook software provider</a></li>
                <li> <a href="/certificate.html">Certification</a> </li>
                <li> <a href="/contact-us.html">Contact us</a></li>

    
    
    
            </ul>
        </div>
    
    </li>
    <li><img src="assets/download.png"> ENGLISH <i class="fa-solid fa-angles-down"></i>
        <div class="sub_menu">
            <ul>
                <li><img src="assets/download.png"> English</li>
                <li><img src="assets/download (1).png"> Esponal</li>
            </ul>
        </div>
    
    
    </li>
</ul>
                </div>
            </div>  
        </nav>
    </header>
    </div>
<div class="responsive_nav">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="assets/sirplay.logo.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accord_btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            WHITE LABEL SPORTSBOOK
                        </button>
                      </h2>
                      <!-- <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                      </div> -->
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            WHITE LABEL CASINO 
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> <a href="/casino_games.html">Casino games</a></div>
                        <div class="accordion-body"> <a href="/live_casino.html">Live casino</a>  </div>
                        <div class="accordion-body"><a href="/lottery_games.html">Lottery Games</a></div>
                        <div class="accordion-body"><a href="/casino_tournaments.html">Casino tournament</a></div>



                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            WEB3 
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> <a href="/web3 casino.html">Web3 casino</a></div>
                        <div class="accordion-body"><a href="/crypto.html">Crypto Casino</a></div>

                      </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            COMPANY
                                                  </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body"> <a href="/About.html">About</a></div>
                          <div class="accordion-body"><a href="/index.html">Sportsbook software provider</a></div>
                          <div class="accordion-body"><a href="/certificate.html">Certification </a></div>
                          <div class="accordion-body"><a href="/contact-us.html">Contact us</a></div>

  
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            <img src="assets/download.png">       ENGLISH                                                  </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body"><img src="assets/download.png"> English</div>
                     
                          <div class="accordion-body">
                            <img src="assets/download (1).png"> Esponal
                          </div>
                    

  
                        </div>
                      </div>




                  </div>
            </div>
          </div>
        </div>
      </nav>

</div>