#animate-area { 
    width: 100%; 
    height: 400px; 
    background-image: url(assets/Untitled-4.png);
  background-size: cover ;
}
@media (max-width: 768px){
  #animate-area{
    height: 157px;
  }
}