<app-header></app-header>

<section id="animate-area">
    <div class="main_sec"> 
         <section class="typing-container">
             <h1 class="home_header_h1">Contact Us
                <span class="typing-text"></span></h1>
           </section>
           <p class="param">A company which is constantly striving for Innovative Solutions for the Business Needs</p>
 
    </div>
 </section>

 <app-contact-com></app-contact-com>



  <section class="contact-section1-container">
    <div class="contact-section1-main">
        <h1>Gaming solutions experts</h1>
        <div class="contact-section1-img">
        <img src="assets/sirplay-market_2022-1-768x369.png" alt="">
      </div>
    </div>


    <div class="contact-section1-para">
    <p style="margin-bottom:20px ;"><strong>  Vrnl is a Sportsbook and Gaming Provider with 15 years of experience in the gambling industry. </strong> We have been supplying bookmakers, lotteries and betting organizations in regulated markets since 2005.
    </p>
    <p>&nbsp;</p>

    <p style="margin-bottom:20px ;"><i>“We are creative strategists, nerds and communicators with a huge passion for online gaming and we work hard to build our customers’ success in the business.”
    </i></p>
    <p>&nbsp;</p>

    
  </div>

</section>

<app-footer></app-footer>