<app-header></app-header>

<section id="animate-area">
    <div class="main_sec"> 
         <section class="typing-container">
             <h1 class="home_header_h1">Contact Us  <span class="typing-text"></span></h1>
           </section>
           <p class="param">A company that consistently pursues innovative solutions to meet its business needs.</p>
 
    </div>
 </section>

 <app-contact-com></app-contact-com>



  <section class="contact-section1-container">
    <div class="contact-section1-main">
        <h1>Online Gaming Provider</h1>
        <div class="contact-section1-img">  <div class="about_map">
          <div class="map">
  
      
            <ul class="map__markers">
                  <li class="map__marker map__marker--chicago">
  
                    <a href="#">India</a>
          
                    <div class="map__marker-info">
  
                      <div class="map__marker-info-inner animate animate--bounce-in">
                        <header class="map__marker-info-header">
                          <h2 style="font-size: 1.5rem;">India</h2>
                        </header>
          
                        <main class="map__marker-info-main">
                          <p><a href="#">Lorem ipsum</a> dolor sit amet, consectetur adipisicing elit. Aliquid asperiores, quae eos modi temporibus vitae nesciunt, quia voluptatem repellat recusandae!</p>
                        </main>
                      </div>
          
                    </div>
                    <div class="bounce">
  
                    <i class="fa-solid fa-location-dot loc"></i>
                    </div>
                  </li>
          
                  <li class="map__marker map__marker--florida">
                    <a href="#">Bangladesh</a>
          
                    <div class="map__marker-info">
          
                      <div class="map__marker-info-inner animate animate--bounce-in">
                        <header class="map__marker-info-header">
                          <h2 style="font-size: 1.5rem;">Bangladesh</h2>
                        </header>
          
                        <main class="map__marker-info-main">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores, quae eos modi temporibus vitae nesciunt, quia voluptatem repellat <a href="#">recusandae</a>!</p>
                        </main>
          
                      </div>
          
                    </div>
  
                    <div class="bounce1">
                    <i class="fa-solid fa-location-dot loc1"></i>
                  </div>
                  </li>
          
          
                
                 
          
            
                </ul>
                <img src="assets/vrnl-market_2022-1-768x369 2.webp" alt="map" />
          
              </div>
       
        </div> </div>
    </div>


    <div class="contact-section1-para">
    <p style="margin-bottom:20px ;"> <strong style="color: #000;">
      Vrnl is a well-established Sportsbook and Gaming Provider with a remarkable 10-year track record in the betting industry.
    </strong>
    Since 2012, we have been dedicated to supplying bookmakers, lotteries, and betting organizations in regulated markets.
  </p>
  <p>&nbsp;</p>

  <p style="margin-bottom: 20px">
    <i style="color: #686868;font-size: 17px;"
      >"We are a team of creative strategists, tech enthusiasts, and effective communicators, driven by an unwavering passion for the online gaming industry. Our relentless commitment is to foster the success of our clients in the business."
    </i>
  </p>

    
  </div>

</section>

<app-footer></app-footer>