.company_about {
    margin-left: 2px !important;
}

.contact_sec{
    padding-top: 80px;
    margin-bottom: 40px;
}
.contact_row{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.contact_col{
    width: 41%;
}
.contact_para{
    color: #686868;
    font-size: 16px;
    width: 95%;
   font-weight: 350;
}
.contact_header{
    font-weight: 600;
    font-size: 25px;
}
.contact_social{
    display: flex;
    justify-content: center;
    margin-top: 31px;

}
.contact_details{
    display: flex;
    flex-direction: column;
}
.contact_a{
    color: #a0c528;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}
.contact_a:hover{
    color: #000;
}
.whats_img{
    margin-left: 23px;
}
.contact_b{
    color: #a0c528;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    margin-left: 19px;

}
.contact_b:hover{
    color: #000;
}
.name_input input{
width: 392px;
padding: 4px;
font-size: 18px;
font-weight: bold;
border: 1px solid black;
color: #000;

}
.name_label{
font-weight: 900;
font-size: 16px;
color: #000;
}
.email_input input{
    width: 392px;
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    color: #000;


    }
    .email_label{
        font-weight: 900;
        font-size: 18px;
        margin-top: 12px;
        color: #000;
        }
        input:focus {
            outline: none !important;
            border:1px solid #a0c528;
          }
          textarea:focus {
            outline: none !important;
            border:1px solid #a0c528;
          }


          textarea{
            resize: vertical;
            width: 392px;
            border: 1px solid black;

          }
.con_btn{
    margin-top: 45px;
}
          .con_btn{
            color: white;
            background-color: #a0c528;
            padding: 12px;
            border: none;
            width: 155px;
            font-size: 18px;
            height: 50px;
          }
          .con_btn:hover{
            background-color: #000;
          }
.con_param{
    font-size: 16px;
    margin-top: 27px;
    width: 100%;
    color: #686868;
}
.contact_col_1{
width: 33%;
}

@media (max-width:820px){
   
    .contact_row{
        display: flex;
        flex-direction: column;
    }    
    .contact_col {
        width: 98%;
        margin-left: 26px;
    }

    .contact_social{
        /* display: flex;
        justify-content: center;
        margin-top: 31px; */
        margin-left: -45px;
    }

   
    .contact_col_1 {
        padding: 17px;
        width: 100%;
    }
    .name_input input {
        /* width: 351px; */
        width: 100%;
    }
    .email_input input {
        /* width: 351px; */
        width: 100%;
    }
    textarea {
        /* width: 351px; */
        width: 100%;
    }
    .contact_sec{
        padding: 10px;
    }
    
  .country-select {
 
    width: 100% !important;
  }
  .cot{
    width: 110% !important;

  }
    
}

.country-select {
    position: relative;
    display: inline-block;
    width: 100% !important;
}
.flag_chck{
    list-style: none;
    list-style: none;
    background: #e5d9d9;
    width: 100%;
    max-height: 173px;
    overflow-y: scroll;
}

.flag_chck li{
margin: 6px;
cursor: pointer;
}
.email_input1{
    width: 394px;
    border: 1px solid;
    padding: -8px;
    height: 49px;
}
#country_selector{
    /* padding-top: 15px; */
    padding-left: 45px;
}



.wpcf7-response-output {
    border: 2px solid;
    border-color: #ffb900 !important;
    /* display: none; */
}
.wpcf7 form .wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: 2px solid #00a0d2;
}
.niva-contact label span, div.wpcf7-response-output {
    font-weight: 400;
    color: #000000 !important;
    margin: 15px 0;
}

.iti__selected-flag {
    z-index: none !important;
    
}
.wpcf7-spinner {
    /* visibility: hidden; */
    display: inline-block;
    background-color: #23282d;
    opacity: 0.75;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 0 24px;
    position: relative;
}

.wpcf7-spinner::before {
    content: '';
    position: absolute;
    background-color: #fbfbfc;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border: none;
    border-radius: 100%;
    transform-origin: 50% 50%; /* Changed to center of the element */
    animation-name: spin;
    animation-duration: 1000ms !important;
    animation-timing-function: linear !important;
    animation-iteration-count: infinite !important;
  }
  
  /* Define the spin animation separately */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  





/* .icon{
    background-image: url("/assets/FLAG.jpg");
 background-repeat: no-repeat;
 padding-top: 12px;
} */
