<section class="contact_sec">
  <div class="contact_row">
    <div class="contact_col">
      <h1 class="contact_header">Contact US</h1>
      <p class="contact_para">
        Connect with a Vrnl expert for a detailed discussion about how are
        services can benefit your betting business and help you create a tailored strategy.
      </p>
      <div class="contact_social">
        <div class="contact_details">
          <div class="row_col" style="cursor: pointer">
            <a href="skype:live:.cid.2d0bfe0a892473db?chat">
              <img src="assets/Skype_logo.webp" loading="lazy" alt="skype"  width="140" height="63"/>
            </a>
          </div>
          <div class="row_col_1">
            <p class="contact_b">English</p>
          </div>
        </div>
      </div>
      <div class="contact_social">
        <div class="contact_details">
          <div class="row_col">
            
              <img
                class="whats_img"
                src="assets/Whatsapp.webp" loading="lazy"
                alt="whatsapp"
                width="60" height="60"
              />
        
          </div>
          <div class="row_col_1">
            <div class="row_2">
           
              <a href="https://wa.me/+918268808222" target="_blank">
                <p class="contact_a">+918268808222 | </p></a
              >
              <a href="https://wa.me/+917045558242" target="_blank">
                <p class="contact_a">  +917045558242 </p></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact_col_1">
      <div class="wpb_wrapper">
        <h2
          class="x-text-content-text-primary"
          style="font-size: 18px; font-weight: bolder"
        >
          JUST WRITE US A MESSAGE
        </h2>
      </div>
      <div class="contact_card">
        <form
        [formGroup]="form"
        action="javascript:void(0)"
        (submit)="send()"
       
          novalidate
        >
          <div class="name_label">
            <label for="fname">Full name</label>
          </div>
          <div class="name_input">
            <input
            formControlName="from_name"
              type="text"
              id="fname"
              name="fname"
              value=""
             
              required
            />

            <br />
            <small
            *ngIf="from_name && from_name.invalid && from_name.touched "
              style="color: #ff0000; font-size: 18px"
              >The field is required.</small
            >
          </div>
          <div class="email_label">
            <label for="email"><b>Your email</b></label>
          </div>
          <div class="email_input">
            <input
            formControlName="from_email"
              type="text"
              id="email"
              autocomplete="off"
              name="femail"
              value=""
              onkeypress="myFunction()"
              required
              femail
         
             
            />

            <br />
            <small
            *ngIf="from_email && from_email.invalid && from_email.touched"
              style="color: #ff0000; font-size: 18px"
            
              >The field is required.</small
            >
          </div>
          <div class="email_label">
            <label for="Country" id="country_selector-label"
              ><b>Country</b></label
            >
          </div>

          <div class="email_input">
            <input
            formControlName="country"
            autocomplete="country"
              type="text"
              aria-labelledby="country_selector-label"
              id="Country"
              name="countries"
              value=""
              required
              
           
              class="cot"
            />
          </div>

          <!-- <========country number start============> -->





          <!-- <========country number end============> -->

          <div class="email_label ">
            <label for="phone"><b>Phone Number</b></label>
          </div>
         
          <div class="email_input emails_pad">
            <input
            formControlName="number"
              value=""
              id="phone"
              type="tel"
              name="phone"
              required
              maxlength="10"
              placeholder="000-000-0000"
            
             
            />
          </div>
          <div class="email_label">
            <label for="Message" id="message-label"><b>Message</b></label>
          </div>
          <div class="text_area">
            <textarea
            formControlName="message"
              rows="20"
              aria-labelledby="message-label"
              cols="44"
              name="message"
              required
              fmessage
              
              id="Message"
            
            ></textarea>
          </div>

          <div class="btn" style="border: none">
            <button
              class="con_btn"
              type="submit"
          [disabled]="form.invalid"
            >
              Submit
            </button>

            <span class="wpcf7-spinner" *ngIf="loder"></span>
          </div>
          <!-- <div class="wpcf7-response-output error" aria-hidden="true"  *ngIf="contactForm.invalid && (contactForm.touched || contactForm.dirty)">One or more fields have an error. Please check and try
            again.</div> -->
        </form>
      </div>
      <p class="con_param">
        We don’t share your personal information with anyone. Check out our
        <span class="white_change" routerLink="/privacy-policy"
          >“privacy policy”</span
        >
        for more information
      </p>
    </div>
  </div>
</section>
