
<header class="header">
  
    <img class="images_logo" src="assets/VRNL new LOGO copy.webp" routerLink="/" loading="lazy" alt="logo" width="106px" height="45px">


  <nav class="navbar">

    <ul class="navbar-list">
      <li><a class="navbar-link" routerLink="/" >{{'vrnl'|translate}}</a></li>
      <li><a  class="navbar-link" href="#">{{'sports_betting_software'|translate}} <i class="fa-solid fa-angle-down"></i></a>
        <ul id="submenu" >
           <li><a routerLink="/sports-betting-software/mobile-betting-software">{{'mobile_bet'|translate}}</a></li>
           <li><a routerLink="/exchangebook-iframe">{{'exch_iframe'|translate}}   <i class="fa-solid fa-angle-down"></i></a>
                <ul id="menu_2">
                    <li><a routerLink="/"> {{'sports_betting_wid'|translate}}</a></li>
                </ul>
            
            </li>
            <li><a routerLink="/sports-betting-software/esports-betting-software" >{{'esports_betting'|translate}}</a></li>

        </ul>
    
    
    </li>
      <li><a class="navbar-link" href="#">{{'wlc'|translate}} <i class="fa-solid fa-angle-down"></i></a>
    <ul id="submenu">
        <li><a routerLink="/casino/casino-games">{{'casino_game'|translate}}</a></li>
        <li><a routerLink="/casino/live-casino" >{{'live_casino'|translate}} </a></li>
        <li><a routerLink="/casino/lottery-games">{{'lottery_games'|translate}}</a></li>

    </ul>
    
    </li>
     
      <li>
        <li><a class="navbar-link" href="#">{{'company'|translate}} <i class="fa-solid fa-angle-down"></i></a>
        
            <ul id="submenu">
                <li><a routerLink="/about-us">{{'about'|translate}}</a></li>
              </ul>
    

      </li>
      <li><a class="navbar-link" routerLink="/contact">{{'contact_us'|translate}}</a></li>

    </ul>


    
        <ul  class="res_data">
            <div class="use_list" id="panel">
            <li><a href="/index.html ">{{'vrnl'|translate}}</a></li>
            <li (click)="animation()" >{{'sports_betting_software'|translate}}</li>
            <li (click)="animation12()">{{'wlc'|translate}}</li>
            
            <li (click)="anime()">{{'company'|translate}}</li>
            <li> <a href="/contact-us.html">{{'contact_us'|translate}}</a>  </li>
            </div>
        </ul>

        <div class="next_back">

        
        <ul  class="res_data_1">
            <div class="use_list_1" id="panel_1">
            <li  (click)="animation1()"><a href=""> <i class="fa-solid fa-arrow-left fa-bounce"></i> {{'back'|translate}}</a></li>
           <li><a routerLink="/sports-betting-software/mobile-betting-software">{{'mobile_bet'|translate}}</a></li>
        <li> <a routerLink="/exchangebook-iframe">{{'exch_iframe'|translate}} </a></li>
            <li><a routerLink="/sports-betting-software/esports-betting-software">{{'esports_betting'|translate}}</a></li>
            </div>
        </ul>
        </div>

        <div class="next_back">

        
          <ul  class="res_data_1">
              <div class="use_list_1" id="panel_2">
              <li  (click)="animation_2()"><a href=""> <i class="fa-solid fa-arrow-left fa-bounce"></i> {{'back'|translate}}</a></li>
              <li><a routerLink="/casino/casino-games">{{'casino_game'|translate}}</a></li>
              <li><a routerLink="/casino/live-casino">{{'live_casino'|translate}}</a></li>
              <li><a routerLink="/casino/lottery-games">{{'lottery'|translate}}</a></li>
              </div>
          </ul>
          </div>


          <div class="next_back">

        
            <ul  class="res_data_1">
                <div class="use_list_1" id="panel_4">
                <li (click)="anime_1()"><a href=""> <i class="fa-solid fa-arrow-left fa-bounce"></i> {{'back'|translate}}</a></li>
                <li><a routerLink="/about-us">{{'about'|translate}}</a></li>
               
          
                </div>
            </ul>
            </div>
  </nav>

  <div class="mobile-navbar-btn">
    <ion-icon (click)="jquery()" name="menu-outline" class=" fa-solid fa-bars  mobile-nav-icon"></ion-icon>
    <ion-icon (click)="jquery()" name="close-outline" class="fa-solid fa-xmark  mobile-nav-icon close_btn"></ion-icon>
  </div>
</header>


