<app-header></app-header>
<section class="first-sec">

    <div class="first-head">
        <h1>Certified Sports Betting Software</h1>
        <div class="home">
            <a href="/index.html">Home</a> <span class="dash">-</span> <span class="lil-para">Certified sports betting software</span>

        </div>
    </div>
</section>

<section class="certificate-container2">
    <div class="certificate-section2">
        <p style="margin-bottom: 8px;">As a responsible supplier to the regulated gaming industry,<strong>Sirplay works to ensure our application complies with all the guidelines published by the jurisdiction.</strong>  Sirplay’s Sports Betting System has been tested and <strong> certified by leading industry bodies.</strong></p>

        <p>Want to know more about Sirplay’s certified Sports Betting System?</p>
        <p>&nbsp;</p>
    </div>



    <div class="certificate-section2-imagespara-main1">


        <div class="certificate-section2-imgs">
            <img src="assets/glicertified.png.webp" alt="">
        </div>


        <div class="certificate-section2-paras">
            <p><strong> GLI-19</strong></p>
            <p>The<strong>Sirplay’s Betting Software is tested and certified</strong>  by the Gaming Laboratories International. Sirplay works to ensure our application complies with all the guidelines published by the jurisdictions. (Ref: SY-120-SPY-14-01/MO-120-SPY-14-01)</p>

            <p><strong> GLI-Colombia</strong></p>

            <p>GLI certified Sirplay as<strong> provider of sportsbook wagering platform</strong> for all operators matching law requirements in the<strong> Colombian jurisdiction.</strong> (Ref: MO-295-SPY-16-01/SY-295-SPY-16-01)</p>
            <p>&nbsp;</p>
        </div>

    </div>






    <div class="certificate-section2-imagespara-main2">
        <div class="certificate-section2-imgs2">
            <img src="assets/iso-27701.png.webp" alt="">
        </div>


        <div class="certificate-section2-paras">
            <p><strong> ISO/IEC 27001:2013</strong></p>
            <p>Sirplay implements management system that conforms to the requirements of the standard “ISO/IEC 27001:2013” for:</p>

           

            <p>Development, setting up, maintenance, management and support, hosting, licensing and otherwise exploiting information and technological solutions, including software and hardware, whether developed by the company or otherwise. (Ref: 103ITIS)</p>
            <p>&nbsp;</p>
        </div>

</div>
        













<div class="certificate-section2-imagespara-main2">
    <div class="certificate-section2-imgs3">
        <img src="assets/qiss.png.webp" alt="">
    </div>


    <div class="certificate-section2-paras">
        <p><strong> Q/ISS Quality and Information Security System</strong></p>
        <p>Our systems have been tested and approved by top auditors for over five years.</p>

       

        <p>Q/ISS stands for Information Security  System, and is the core component of ISO 27001. It’s the framework that outlines all security risks and the way the company controls them. It covers people, processes, technology and typically encompasses your entire organization.</p>
        <p>&nbsp;</p>
    </div>

</div>








<div class="certificate-section2-imagespara-main2">
    <div class="certificate-section2-imgs4">
        <img src="assets/experience-badge.png.webp" alt="">
    </div>


    <div class="certificate-section2-paras">
        
        <p>This is not a certification but over 15 years of experience are worth a lot.
            Our team of experts can provide end-to-end security advice support for the launch of innovative products including:</p>

       <ul class="certificate-ul">
        <li>Sports betting</li>
        <li>Casino</li>
        <li>Live Dealer</li>
        <li>Bingo</li>
        <li>Lottery</li>
       </ul>

        <p>Our governance, risk and compliance (GRC)
            <br>
            The division provides sweepstakes with security and compliance services needed to ensure you are protecting confidentiality, integrity and the availability of data and information.</p>
    </div>

</div>
   
</section>


<app-contact-com></app-contact-com>

<app-footer></app-footer>