<app-header2></app-header2>
<section>
    <div class="container9">
        <div class="left-text-index3">
            <h2 style="font-weight: bold;">{{'casinogames_title'|translate}}</h2>
            <h1 class="left-index3-h1">{{'casinogames_title_h1'|translate}}<b
                    style="font-family: 'Raleway', sans-serif; font-size: 40px; font-weight: bold;">{{'online_casino_games'|translate}}</b></h1>
            <p class="left-text-index3-paras" [innerHTML]="'online_casino_games_p1'|translate"><br><br></p>
            <p class="left-text-index3-bold"><b>{{'online_casino_games_p2'|translate}} </b> <br><br></p>
            <p class="left-text-index3-paras">{{'online_casino_games_p3'|translate}}<br><br></p>
            <blockquote class="x-quote e250-e7 m6y-1g">
                <div class="x-quote-content">
                    <div class="x-quote-text">
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <h5 style="font-size: 24px; font-size: 'Raleway', sans-serif !important;"><b
                                                class="heading-casino">{{'casino_nos'|translate}}</b></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><span style="font-weight: 400;">{{'slot_machine'|translate}}</span></p>
                                    </td>
                                    <td>
                                        <p><span style="font-weight: 400;">{{'morethan10'|translate}}</span><span
                                                style="font-weight: 400;">.000</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><span style="font-weight: 400;">{{'tablegames'|translate}}</span></p>
                                    </td>
                                    <td>
                                        <p><span style="font-weight: 400;">{{'morethan4'|translate}}</span><span
                                                style="font-weight: 400;">40</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><span style="font-weight: 400;">{{'videopoker'|translate}}</span></p>
                                    </td>
                                    <td>
                                        <p><span style="font-weight: 400;">{{'morethan'|translate}} </span><span
                                                style="font-weight: 400; font-family: 'Raleway', sans-serif;">
                                                3</span><span style="font-weight: 400;">25</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><span style="font-weight: 400;">{{'lottery'|translate}}</span></p>
                                    </td>
                                    <td>
                                        <p><span style="font-weight: 400;">{{'morethan9'|translate}}</span><span
                                                style="font-weight: 400;">0</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><span style="font-weight: 400;">{{'proveedores'|translate}}</span></p>
                                    </td>
                                    <td><span style="font-weight: 400;">{{'morethan12'|translate}}</span><span
                                            style="font-weight: 400;">0</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </blockquote>
        </div>
        <div class="right-img-index3"> <img src="assets/vrnl image 10_11zon.webp" alt="our Platform"> </div>
    </div>
</section><!-- ===================================================================== -->
<section class="container10">
    <div class="index3-main-div">
        <div class="index3-left-img"> <img class="container_10_img" src="assets/vrnl_iframe.webp"
                alt="casino software"> </div>
        <div class="index3-right-text">
            <h1 class="left-index3-h1" style="font-weight: bold; color: #a0c528;">{{'online_turnkey'|translate}}<br></h1>
            <li><strong>{{'casino_wls'|translate}}</strong></li>
            <p style="margin-left: 24px;">{{'casino_wls_desp'|translate}}</p>
            <li><strong> {{'webbranding'|translate}}</strong> </li>
            <p style="margin-left: 24px;">{{'webbranding_desp'|translate}}
            </p>
            <li><strong> {{'toolstraning'|translate}}</strong></li>
            <p style="margin-left: 24px;">{{'toolstraning_desp'|translate}}</p>
            <li><strong>{{'client_support'|translate}}</strong></li>
            <p style="margin-left: 24px;">{{'client_support_desp'|translate}}</p>
        </div>
    </div>
</section> <app-footers2></app-footers2>