<app-header3></app-header3>
<section>
    <div class="sportsbetting-section1-main">
        <div class="sportsbetting-section1-col1">
            <h1 style=" font-family: Raleway, sans-serif; font-weight: 200; font-size: 45px; " [innerHTML]="'sbs_bold'|translate">  </h1>
            <p> {{'sbs_bold_p1'|translate}}</p>
            <p> {{'sbs_bold_p2'|translate}}</p>
            <p> {{'sbs_bold_p3'|translate}}</p>
            <h3>{{'sbs_try_b2b'|translate}}</h3>
            <div class="sportsbetting-section1-col1-link"> <a href="https://skyexch.vrnlexch.com/m/#/dash" target="_blank"
                    style="font-size: 16px">skyexch.vrnlexch.com</a></div>
            <h3>{{'sbs_try_b2c'|translate}}</h3>
            <div class="sportsbetting-section1-col1-link"> <a href="https://babu365.vrnlexch.com/#/" target="_blank"
                    style="font-size: 16px">babu365.vrnlexch.com</a> </div>
            <div class="sportsbetting-section1-button"> <button routerLink="/contact" class="animated-button">{{'book_demo'|translate}}</button> </div>
        </div>
        <div class="sportsbetting-section1-col2"> <img src="assets/players_11zon.webp" width="100%" loading="lazy"
                alt="Sports Betting"> </div>
    </div>
</section>
<section>
    <div class="sportsbetting-mainfeature-main">
        <div class="sportsbetting-mainfeature-col1"> <img class="sport_images_1"
                src="assets/vrnl image 4 (1)_11zon.webp" loading="lazy" alt="Sports Betting software" /> </div>
        <div class="sportsbetting-mainfeature-col2">
            <h2>{{'sports_betting_software'|translate}} <b> {{'main_features'|translate}}</b></h2>
            <p> {{'sbs_mf_desp'|translate}}</p>
            <ul class="bet_page_list" [innerHTML]="'sbs_mf_list'|translate">
                <!-- <li> <strong> Real-Time Odds</strong> Stay updated with real-time odds that give you the competitive
                    edge. VRNL's software ensures you never miss out on the best opportunities. </li>
                <li> <strong> Mobile Compatibility </strong> Bet on the go with VRNL's mobile-compatible software.
                    Whether you use iOS or Android, the platform adapts to your device for a seamless experience. </li>
                <li> <strong> Advanced Odds Service</strong> redefines sports data APIs. It offers 100% accurate
                    pre-match odds and the fastest live data odds feeds with minimal latency.</li>
                <li> <strong> Flexible Integration</strong> Our platform can be seamlessly integrated into your system
                    via API or iFrame, offering versatility in implementation.</li> -->
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="sportsbetting-benefits-main">
        <div class="sportsbetting-benefits">
            <h3 [innerHTML]="'sbs_benefits'|translate">  </h3>
            <p [innerHTML]="'sbs_benefits_p1'|translate"> </p>
            <p [innerHTML]="'sbs_benefits_p2'|translate"> </p>
            <p > {{'sbs_benefits_p3'|translate}}  </p>
            <p> {{'sbs_benefits_p4'|translate}} </p>
            <p [innerHTML]="'sbs_benefits_p5'|translate"> </p>
        </div>
        <div class="sportsbetting-benefits-image"> <img class="images_benefit_1" src="assets/vrnl image 52_11zon.webp"
                loading="lazy" alt="complete Sports betting software" /> </div>
    </div>
</section>
<section>
    <div class="sportsbetting-complete-sports-main">
        <div class="sportsbetting-complete-sports-col1">
            <h2 [innerHTML]="'complete_sbs'|translate"></h2>
            <p>{{'whatwe_have'|translate}}</p>
            <ul [innerHTML]="'whatwe_have_list'|translate">
                <!-- <li> <strong>Player Account Controls </strong> Our platform provides robust player account management,
                    including registration and verification services. We also have an effective system in place to
                    detect and address fraudulent accounts. </li>
                <li> <strong>Geolocation Tools </strong>We offer tools that can extract location information from IP
                    addresses, ensuring accurate geolocation services.</li> -->
            </ul>
            <p> {{'whatwe_have_desp'|translate}} </p>
        </div>
        <div class="sportsbetting-complete-sports-col2"> <img src="assets\football image 3.webp" class="web3_img"
                loading="lazy" alt="sports betting" /> </div>
    </div>
</section>
<section>
    <div class="sportsbetting-crypto-sports-main">
        <div class="sportsbetting-crypto-sports-col1"> <img class="phone_images" src="assets/Sirplay image 9.webp"
                loading="lazy" alt="B2C sports betting" /> </div>
        <div class="sportsbetting-crypto-sports-col2">
            <h2>{{'b2c_sbs'|translate}}</h2>
            <p> {{'b2c_sbs_p1'|translate}} </p>
            <p> {{'b2c_sbs_p2'|translate}}<br /> </p>
            <p>{{'b2c_sbs_p3'|translate}}
            </p>
            <ul [innerHTML]="'b2c_sbs_list'|translate">
                <!-- <li> <b>User Registration and Account Management:</b> Allows users to create accounts, manage personal
                    information, and track betting history. </li>
                <li> <b>Customer Support:</b> Provides customer support options, such as live chat, email, and phone
                    support, to assist users with inquiries and issues. </li>
                <li> <b>Affiliate Programs:</b> Offers affiliate programs for marketing and promotion, allowing partners
                    to earn commissions for referring users. </li> -->
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="sportsbetting-betting-software-main">
        <div class="sportsbetting-betting-software-col1">
            <h2 [innerHTML]="'casino_sbs'|translate"></h2>
            <p [innerHTML]="'casino_sbs_list'|translate">
                 <!-- Providers 75 + more than<br /> Slot machine 15,000 + more than<br /> Table games 500 + more than<br />
                Video poker 700 + more than<br /> Other games 200 + more than<br /> Live Game Show<br /> First Person
                games<br /> American roulette live<br /> Live blackjack<br /> Baccarat live<br /> Casino Hold’em
                live<br /> SICBO<br /> Dragon tiger live<br /> Andar Bahar<br /> Teen Patti  -->
            </p>
        </div>
        <div class="sportsbetting-betting-software-col2"> <img class="addverties_img"
                src="assets/vrnl online c_11zon (1).webp" loading="lazy" alt="Betting software" /> </div>
    </div>
</section><app-footer></app-footer>