@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

/* =======================sports betting css starts============================ */
.sportsbetting-section1-main {
  display: flex;
  font-family: Poppins;
  padding-top: 78px;
  justify-content: center;
  gap: 5%;
}
.sportsbetting-section1-col2{
  width: 48%;  
}
.sportsbetting-section1-col1 {
  width: 35%;
 
  margin-top: 3%;
}

.sportsbetting-section1-col1 strong {
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  text-transform: none;
  color: rgb(87, 87, 86);
  font-weight: bold;
}

.sportsbetting-section1-col1 p {
  font-size: 16px;
  line-height: 2.2;
  font-weight: 400;
  font-family: Poppins;
  color: #686868;

}

.sportsbetting-section1-col1 h3 {
  line-height: 1.3;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 221.5%;
  font-family: Poppins;
  width: 100%;
  color: #272727;
  margin-bottom: 20px;
}

.sportsbetting-section1-col1-link {
  text-align: center;
  margin-bottom: 60px;
}

.sportsbetting-section1-col1-link a {
  text-decoration: none;
  color: #a0c528;
}

.sportsbetting-section1-col2 iframe {
  width: 652px;
  height: 394px;
  margin-top: 48%;
  border-top-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
  border-left-width: 6px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  font-size: 16px;
  background-color: #ffffff;
  box-shadow: 1em 0.5em 2em 0em rgba(0, 0, 0, 0.63);
}

.sportsbetting-section1-button {
display: flex;
justify-content: center;
}



/* =============================================================== */

.sportsbetting-mainfeature-main {
  display: flex;
  font-family: Poppins;
  margin-top: 7%;
  justify-content: center;
}

.sportsbetting-mainfeature-col1 img {
  width: 98%;
}

.sportsbetting-mainfeature-col2 {
  width: 34%;
  /* margin-right: 7%; */
}
.bet_page_list{
    font-family: Poppins;
    margin-left: 44px;

}
.sportsbetting-mainfeature-col2 h2 {
  color: rgb(87, 87, 86);
    font-weight: 200;
    line-height: 1.3;

    font-size: 45px;
    font-weight: bold;
    /* font-size: calc(285.7%); */
    width: 80%;
    margin-bottom: 40px;
    letter-spacing: 0.001em;

}
.sportsbetting-mainfeature-col2 b {
  font-style: normal;
  letter-spacing: 0.001em;
  color: rgb(87, 87, 86);
  /* font-size: 34px; */
     font-weight: 400;

  letter-spacing: 0.001em;

}

.sportsbetting-mainfeature-col2 p {
     font-weight: 400;

  line-height: 1.9;
  letter-spacing: 0.01em;
  font-size: 16px;
  color: rgb(47, 47, 47);
  font-family: Poppins;

}

.sportsbetting-mainfeature-col2 ul li {
     font-weight: 400;

  line-height: 1.9;
  letter-spacing: 0.01em;
  font-size: 16px;
  color: rgb(47, 47, 47);
  font-family: Poppins;

}
/* =============================================================== */

.sportsbetting-benefits {
  font-family: Poppins;
}

strong{
  font-weight: bold;
}

.sportsbetting-benefits {
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  padding-top: 7%;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  font-size: 16px;
}

.sportsbetting-benefits h3 {
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(-1.999em * -1);
  text-transform: none;
  color: rgb(87, 87, 86);
  font-size: calc(285.7%);
  font-weight: 400;
  font-family: Poppins;

}
.sportsbetting-benefits b {
    font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(-3.999em * -1);
  text-transform: none;
  color: rgb(87, 87, 86);
  /* font-size: 36px; */
  font-weight: 600;
  font-family: Poppins;  
}

.sportsbetting-benefits p {
     font-weight: 400;

  line-height: 1.9;
  letter-spacing: 0.01em;
  font-size: 16px;
  color: rgb(47, 47, 47);
  margin: 0 0 1.5em;
  font-family: Poppins;

}

.sportsbetting-benefits-image {
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}

/* =============================================================== */

.sportsbetting-complete-sports-main {
  display: flex;
  font-family: Poppins;
  margin-top: 4%;
}

.sportsbetting-complete-sports-col1 {
  width: 37%;
  margin-left: 10%;
  margin-top: 3%;
}

.sportsbetting-complete-sports-col1 h2 {
  color: rgb(87, 87, 86);
  font-size: calc(285.7%);
  font-weight: 100;
  font-family: Poppins;
  margin-bottom: 30px;

}

.sportsbetting-complete-sports-col1 strong {
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(0.001em * -1);
  text-transform: none;
  color: rgb(87, 87, 86);
  font-weight: bold;
  font-family: Poppins;

}
.sportsbetting-complete-sports-col1 ul li {
  padding: 0;
  /* margin: 21px 0px 0.5em -1.345em; */
  font-size: 16px;
  font-family: Poppins;
  line-height: 30px;
  color: #686868;

}

.sportsbetting-complete-sports-col1 p {
  line-height: 1.8;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;

}

.sportsbetting-complete-sports-col2 img {
  margin-left: 40%;
}
.crz_images{
height: 93%;
}
/* =============================================================== */

.sportsbetting-crypto-sports-main {
  display: flex;
  font-family: Poppins;
  margin-top: 90px;
  justify-content: center;
  gap: 13%;
}
.sportsbetting-crypto-sports-col1 img {
  width: 100%;
  /* margin-left: 43%; */
}

.sportsbetting-crypto-sports-col2 {
  width: 33%;
  /* margin-left: 25%; */
}

.sportsbetting-crypto-sports-col2 h2 {
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(0.001em * -1);
  text-transform: none;
  color: rgb(87, 87, 86);
  font-weight: 200;
  font-size: calc(285%);
  font-family: Poppins;

}

.sportsbetting-crypto-sports-col2 p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.8;
  font-size: 16px;
  letter-spacing: 0em;
  font-weight: 400;
  font-family: Poppins;
  color: #686868;

}

.sportsbetting-crypto-sports-col2 a {
  color: rgb(160, 197, 40);
  text-decoration: none;
}

.sportsbetting-crypto-sports-col2 ul li {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0em;
  font-weight: 400;
  margin-left: -1%;
  font-family: Poppins;
  color: #686868;

}

/* =============================================================== */

.sportsbetting-betting-software-main {
  display: flex;
  font-family: Poppins;
  margin-top: 166px;
  justify-content: center;

}

.sportsbetting-betting-software-col1 {
  margin-left: 7%;
  width: 40%;

}
.sportsbetting-betting-software-col1 h2 {
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  color: rgb(87, 87, 86);
  font-weight: 200;
  /* font-size: calc(285.7%); */
  font-family: Poppins;
  font-size: 45px;
  margin-bottom: 30px;
  width: 70%;


}

.sportsbetting-betting-software-col1 strong {
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.001em;
  color: rgb(87, 87, 86);
}
.sportsbetting-betting-software-col1 p {
  line-height: 1.8;
  color: #686868;
  font-size: 16px;
  letter-spacing: 0em;
  font-weight: 400;
  font-family: Poppins;

}

.sportsbetting-betting-software-col2 img {
  width: 88%;
}
/* =============================================================== */

.sportsbetting-online-retail-main {
  display: flex;
  font-family: Poppins;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
}

.sportsbetting-online-retail-col2 {
  width: 33%;
  margin-left: 10%;
}

.sportsbetting-online-retail-col2 h2 {
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(0.001em * -1);
  text-transform: none;
  color: rgb(87, 87, 86);
  font-size: calc(285%);
    font-family: Poppins;
    margin-bottom: 30px;

}

.sportsbetting-online-retail-col2 p {
  line-height: 1.9;
  color: #999999;
  font-size: 16px;
  letter-spacing: 0em;
  font-weight: 400;
  font-family: Poppins;

}
.sportsbetting-online-retail-col2 strong {
    color: rgb(87, 87, 86);
    font-family: Poppins;

}
.sportsbetting-online-retail-col2 a {
  color: rgb(160, 197, 40);
  text-decoration: none;
}

/* =======================sports betting css ends============================ */

@media screen and (max-width: 820px) {
  .sportsbetting-section1-main {
    flex-direction: column;
  }

  .sportsbetting-section1-col1 {
    width: 98%;
  }

  .sportsbetting-section1-button {
    margin-left: 0%;
    margin-top: 14%;
    text-align: center;
  }

  .sportsbetting-section1-col2 iframe {
    width: 100% ;
    height: 217px;
    margin-top: 20%;
  }

  .sportsbetting-section1-col2 {
    justify-content: center;
    display: flex;
  }
  .sportsbetting-section1-col2{
    width: 100% !important; 
    padding: 12px;  
  }
  /* ========================================================== */

  .sportsbetting-mainfeature-main {
    flex-direction: column;
    gap: 40px;
  }

  .sportsbetting-betting-software-col2 img {

    width: 100%;

  }

  .sportsbetting-mainfeature-col2 {
    width: 87%;
    margin-right: 7%;
    margin-left: 6%;
  }
  /* ========================================================== */

  .sportsbetting-benefits {
    width: 320px;
  }

  .sportsbetting-benefits p {
    /* padding-right: 25%;
         padding-left: 6%; */
  }

  .sportsbetting-benefits h3 {
    /* margin-left: 5%; */
    width: 96%;
    font-size: 27px;
    margin-bottom: 15px;
  }

  .sportsbetting-benefits-image img {
    width: 90%;
  }
  /* ========================================================== */

  .sportsbetting-complete-sports-main {
    flex-direction: column;
  }

  .sportsbetting-complete-sports-col1 {
    width: 86%;
  }

  .sportsbetting-complete-sports-col1 ul li {
    line-height: 1.8;
  }

  .sportsbetting-complete-sports-col2 {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .sportsbetting-complete-sports-col2 img {
    margin-left: 0;
  }

  .payment_img {
    width: 100%;
  }
  /* ========================================================== */

  .sportsbetting-crypto-sports-main {
    flex-direction: column;
  }

  .sportsbetting-crypto-sports-col1 {
    text-align: center;
  }
  .sportsbetting-crypto-sports-col1 img {
    margin-left: 0;
    width: 100% !important;
    height: auto !important;
  }

  .sportsbetting-crypto-sports-col2 {
    width: 89%;
    margin-left: 6%;
  }

  .sportsbetting-crypto-sports-col2 ul li {
    margin-left: 3%;
  }

  /* ========================================================== */

  .sportsbetting-betting-software-main {
    flex-direction: column;
  }

  .sportsbetting-betting-software-col1 {
    margin-left: 6%;
    width: 93%;
  }

  /* ========================================================== */

  .sportsbetting-online-retail-main {
    flex-direction: column;
  }

  .sportsbetting-online-retail-col1 {
    width: 100%;
  }

  .sportsbetting-online-retail-col2 {
    width: 87%;
    margin-left: 6%;
  }
}

/*=========== <  contact section  >=========== */
.contact_sec {
  padding-top: 80px;
  margin-bottom: 40px;
}
.contact_row {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.contact_col {
  width: 41%;
}
.contact_para {
  color: #151313;
  font-size: 20px;
  width: 95%;
}
.contact_header {
  font-weight: 600;
  font-size: 25px;
}
.contact_social {
  display: flex;
  justify-content: center;
  margin-top: 31px;
}
.contact_details {
  display: flex;
  flex-direction: column;
}
.contact_a {
  color: #a0c528;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}
.contact_a:hover {
  color: #000;
}
.whats_img {
  margin-left: 23px;
}
.contact_b {
  color: #a0c528;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  margin-left: 19px;
}
.contact_b:hover {
  color: #000;
}
.name_input input {
  width: 392px;
  padding: 4px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  color: #000;
}
.name_label {
  font-weight: 900;
  font-size: 18px;
  color: #000;
}
.email_input input {
  width: 392px;
  padding: 4px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  color: #000;
}
.email_label {
  font-weight: 900;
  font-size: 18px;
  margin-top: 12px;
  color: #000;
}
input:focus {
  outline: none !important;
  border: 1px solid #a0c528;
}
textarea:focus {
  outline: none !important;
  border: 1px solid #a0c528;
}

textarea {
  resize: vertical;
  width: 392px;
  border: 1px solid black;
}
.con_btn {
  margin-top: 45px;
}
.con_btn {
  color: white;
  background-color: #a0c528;
  padding: 12px;
  border: none;
  width: 155px;
  font-size: 18px;
  height: 50px;
}
.con_btn:hover {
  background-color: #000;
}
.con_param {
  font-size: 18px;
  margin-top: 27px;
  width: 100%;
}
.contact_col_1 {
  width: 33%;
}

@media (max-width: 820px) {
  .contact_row {
    display: flex;
    flex-direction: column;
  }
  .contact_col {
    width: 98%;
    margin-left: 13px;
  }
  .contact_col_1 {
    padding: 7px;
    width: 92%;
  }
  .name_input input {
    width: 351px;
  }
  .email_input input {
    width: 351px;
  }
  textarea {
    width: 351px;
  }
}
/*=========== <  contact section end  >=========== */

/*=========== <  company and solution section  >=========== */

.comp_row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.comp_details {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 207px;
}
.comp_sol {
  padding-top: 80px;
  padding-bottom: 80px;
}
.comp_header {
  font-weight: 600;
  font-size: 24px;
}
.comp_list {
  font-size: 16px;
  color: #a0c528;
  margin-bottom: 1px;
  cursor: pointer;
  line-height: 20px;
}

.comp_list:hover {
  color: #000;
}

@media (max-width: 820px) {
  .comp_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
  }
  .about_left {
    margin-left: 54px;
  }
  .comp_1 {
    margin-left: -11px;
  }
  .comp_2 {
    margin-left: -36px;
    width: 125px;
  }
  .comp_3 {
    margin-left: -21px;
  }
}

/*=========== <  company and solution section end  >=========== */

/* =======================<foooter sec>=======================  */

.footer_sec {
  background-color: #0a0a0a;
  width: 100%;
  height: 80px;
}

.footer_para p {
  text-align: center;
  font-size: 18px;
}
.footer_para p a {
  color: #a0c528;
}
.footer_para p a:hover {
  color: #0000;
  text-decoration: none;
}
.footer_para {
  padding-top: 24px;
}
.prepaid_head {
  color: #a0c528;
  font-size: 74px;
}
.prepaid_para {
  font-size: 20px;
    font-family: "Lato",sans-serif;
    line-height: 35px;
}

/* header css start here */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.header {
  padding: 0 4.8rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 0em 0.19em 0.3em 0px hsla(0, 0%, 0%, 0.11);
}

.header .logo {
  height: 4rem;
}

.navbar-list {
  display: flex;
  /* gap: 0.8rem; */
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #212529;
  transition: all 0.3s;
  position: relative;
}
.navbar-link {
  padding: 15px 16px;
  position: relative;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 2rem;
  height: 2rem;
  color: #a0c528;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

.navbar-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -16px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #a0c528;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-link:hover:after {
  width: 100%;
  left: 0;
}
.navbar-link:hover {
  color: #a0c528;
}
/* .navbar-list li :hover  .sub_menu{
    color: #a0c528;
display: block;
position: absolute;
margin-top: 25px;
margin-left: -15px;
background-color: #fff;
box-shadow: 0em 0.15em 2em 0em rgba(0,0,0,0.15);
transition-duration: 500ms,500ms,0s;
transition-timing-function: cubic-bezier(0.400,0.000,0.200,1.000);

  }

  .sub_menu{
    display: none;
  }

  .navbar-list li:hover .sub_menu ul li{
    list-style: none;
    font-size: 20px;
    width: 200px;
    padding: 10px;

  }

  .navbar-list li:hover .sub_menu ul {

    margin: 10px;
  }

  .navbar-list li:hover .sub_menu ul li a{

    text-decoration: none;
    color: black;
  } */
#menu {
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-left: 40px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0em 0.15em 2em 0em rgba(0, 0, 0, 0.15);
  transition-duration: 500ms, 500ms, 0s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  left: 180px;
}

#menu li {
  list-style: none;
  font-size: 20px;
  width: 220px;
  padding: 10px;
}

#submenu li:hover #menu {
  opacity: 1;
  visibility: visible;
}

#menu_2 {
  opacity: 0;
  position: absolute;
  top: 136px;
  visibility: hidden;
  margin-left: 40px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0em 0.15em 2em 0em rgba(0, 0, 0, 0.15);
  transition-duration: 500ms, 500ms, 0s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  left: 180px;
}

#menu_2 li {
  list-style: none;
  font-size: 20px;
  width: 220px;
  padding: 10px;
}

#submenu li:hover #menu_2 {
  opacity: 1;
  visibility: visible;
}

#submenu {
  opacity: 0;
  position: absolute;
  top: 85px;
  visibility: hidden;
  margin-left: 40px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0em 0.15em 2em 0em rgba(0, 0, 0, 0.15);
  transition-duration: 500ms, 500ms, 0s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

li:hover ul#submenu {
  opacity: 1;
  visibility: visible;
}

#submenu li {
  list-style: none;
  font-size: 20px;
  width: 220px;
  padding: 10px;
}

#submenu a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

/* ===========================================
Hero and Service Section Start
======================================= */
.section-hero,
.section-services {
  padding: 9.6rem 0;
  background-color: #ffffff;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-services {
  background: #f3f0ff;
}

.section-hero p,
.section-services p {
  font-size: 16px;
}

/* ===========================================
Responsive Codes 
======================================= */

/* 980px  */
@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    color: #a0c528 !important ;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background-color: rgba(160, 197, 40, 0.94);
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .navbar-link:link,
  .navbar-link:visited {
    color: white;
  }
  .close_btn {
    color: #ffff;
  }

  #submenu {
    display: none;
  }

  .user_data {
    display: none;
  }
  .res_data {
    display: block !important;
    list-style: none;
    font-size: 16px;
    text-align: center;
    line-height: 44px;
    color: white;
  }
  .navbar-list {
    display: none;
  }
  .use_list_1 {
    display: none;
  }
  .next_back {
    display: block !important;
  }
}

.next_back {
  display: none;
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 40%;
  }
}

.use_list li:hover {
  background-color: rgba(255, 255, 255, 0.94);
  color: #a0c528;
}

.res_data {
  display: none;
}

.res_data_1 {
  list-style: none;
  color: white;
  text-align: center;
  font-size: 16px;
}

.res_data_1 li {
  margin: 20px;
}

/* header css end here */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

.esports-betting-main {
  display: flex;
  font-family: Poppins;
  gap: 143px;
  margin-top: 14%;
}

.esports-betting-col1 {
  width: 36%;
  margin-left: 6%;
}

.esports-betting-col1 h1 {
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(0.001em * -1);
  text-transform: none;
  color: rgb(87, 87, 86);
  font-size: calc(220%);
  font-weight: 600;
}

.esports-betting-col1 p {
  font-size: 1rem;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0em;
  text-transform: none;
  color: rgb(47, 47, 47);
  font-weight: 400;
}

.esports-betting-col1-button {
  margin-top: 8%;
}

.esports-betting-col1-button button {
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(160, 197, 40);
  border-right-color: rgb(160, 197, 40);
  border-bottom-color: rgb(160, 197, 40);
  border-left-color: rgb(160, 197, 40);
  border-top-left-radius: 0.764em;
  border-top-right-radius: 0.764em;
  border-bottom-right-radius: 0.764em;
  border-bottom-left-radius: 0.764em;
  font-size: 16px;
  background-color: white;
  box-shadow: none;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.75em;
  padding-left: 1.5em;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1em;
  margin-right: calc(0.1em * -1);
  text-align: center;
  text-transform: uppercase;
  color: rgb(87, 87, 86);
}

.esports-betting-col2 img {
  width: 100%;
}

/* =============================================================== */

.top-esports-main {
  display: flex;
  font-family: Poppins;
  margin-top: 7%;
}

.top-esports-col1 {
  margin-left: 6%;
  width: 45%;
}

.top-esports-col1 h2 {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  text-transform: none;
  color: rgb(87, 87, 86);
  font-size: calc(185.7%);
}

.top-esports-col1 p {
  font-size: 16px;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0em;
  text-transform: none;
}

.top-esports-col2 {
  display: grid;
  grid-template-columns: 0fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem 1rem;

  margin-right: -5%;
}

.top-esports-col2-images img {
  /* width: 50%; */
}

/* =============================================================== */

.easy-setup-main {
  display: flex;
  font-family: Poppins;
  margin-top: 8%;
}

.easy-setup-col1-photo img {
  width: 80%;
}

.easy-setup-col2 {
  margin-left: -3%;
  margin-right: 7%;
  width: 37%;
  margin-top: 5%;
}

.easy-setup-col2 h3 {
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(0.001em * -1);
  text-transform: none;
  color: rgb(87, 87, 86);
  font-size: calc(185.7%);
  font-weight: 400;
}

.easy-setup-col2 p {
  font-size: 16px;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0em;
  text-transform: none;
  font-weight: 400;
  margin: 0 0 1.5em;
  color: rgb(47, 47, 47);
}

/* =============================================================== */

.esports-betting-middle-main {
  font-family: Poppins;
  margin-top: 5%;
}

.esports-betting-middle-row1 h2 {
  text-align: center;
  font-size: calc(200%);
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(0.001em * -1);
  text-transform: none;
  color: rgb(87, 87, 86);
  margin-left: 23%;
  margin-right: 28%;
}

.esports-betting-middle-row1 p {
  font-size: 16px;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0em;
  text-transform: none;
  margin-left: 24%;
  margin-right: 28%;
  color: rgb(47, 47, 47);
}

.esports-betting-middle-row2 {
  text-align: center;
}
.esports-betting-middle-row2 img {
  max-width: 70%;
}

/* =============================================================== */

.bitcoin-esports-main {
  display: flex;
  margin-top: 7%;
  font-family: Poppins;
}

.bitcoin-esports-col2 {
  width: 34%;
  margin-left: 4%;
}

.bitcoin-esports-col2 h2 {
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(0.001em * -1);
  text-transform: none;
  color: rgb(87, 87, 86);
  font-weight: 400;
  font-size: calc(200%);
}

.bitcoin-esports-col2 p {
  font-size: 16px;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0em;
  text-transform: none;
  color: #999999;
}

.bitcoin-esports-col2 strong {
  color: #999999;
  font-size: 16px;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0em;
  text-transform: none;
}

.bitcoin-esports-col2 h3 {
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(0.001em * -1);
  text-transform: none;
  color: rgb(87, 87, 86);
  font-size: calc(200%);
  font-weight: 400;
}

/* =============================================================== */
.esports-faq-main {
  font-family: Poppins;
}

.esports-faq-content {
  display: flex;

  margin-right: auto;
  margin-left: auto;
  border: 0;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  font-size: 16px;
}

.esports-faq-col1 {
  margin-top: calc(2rem / 2);
  margin-bottom: calc(2rem / 2);
  margin-right: calc(3rem / 2);
  margin-left: calc(16rem / 2);
}

.esports-faq-heading {
  text-align: center;
}

.esports-faq-heading h3 {
  font-weight: 200;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(0.001em * -1);

  color: #575757;
  font-size: calc(185.7%);
}

.esports-faq-heading strong {
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(0.001em * -1);
  text-transform: none;
  color: rgb(87, 87, 86);
}

.esports-faq-col1 h3 {
  font-size: calc(140%);
  font-weight: 500;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(0.001em * -1);
  text-transform: none;
  color: rgb(87, 87, 86);
}

.esports-faq-col1 p {
  margin: 0 0 0.5em;
  font-weight: 400;
  color: rgb(47, 47, 47);
  font-size: 16px;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0em;
  text-transform: none;
}

.esports-faq-col1 ol li {
  margin: 0 0 0.5em -1.345em;
  font-size: 16px;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0em;
  text-transform: none;
}

.esports-faq-col2 {
  margin-top: calc(2rem / 2);
  margin-bottom: calc(2rem / 2);
  margin-right: calc(20rem / 2);
  margin-left: calc(15rem / 2);
}

.esports-faq-heading strong {
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(0.001em * -1);
  text-transform: none;
  color: rgb(47, 47, 47);
}

.esports-faq-col2 h3 {
  font-size: calc(140%);
  font-weight: 500;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.001em;
  margin-right: calc(0.001em * -1);
  text-transform: none;
  color: rgb(87, 87, 86);
}

.esports-faq-col2 p {
  margin: 0 0 0.5em;
  font-weight: 400;
  color: rgb(47, 47, 47);
  font-size: 16px;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0em;
  text-transform: none;
}

.esports-faq-col2 ol li {
  margin: 0 0 0.5em -1.345em;
  font-size: 16px;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0em;
  text-transform: none;
}

/* ======================esports betting media query========================================= */

@media screen and (max-width: 820px) {
  .esports-betting-main {
    flex-direction: column;
  }

  .esports-betting-col1 {
    width: 86%;
    margin-left: 5%;
  }
  /* =========================================== */

  .top-esports-main {
    flex-direction: column;
  }

  .top-esports-col2 {
    display: contents;
  }

  /* =========================================== */

  .easy-setup-main {
    flex-direction: column;
  }

  .easy-setup-col1-photo img {
    width: 100%;
  }

  .easy-setup-col2 {
    margin-left: 5%;
    width: 86%;
  }

  .esports-betting-middle-row1 h2 {
    margin-left: 5%;
    margin-right: 4%;
  }

  .esports-betting-middle-row1 p {
    margin-left: 5%;
    margin-right: -2%;
  }

  .esports-betting-middle-row2 img {
    max-width: 100%;
  }

  /* =========================================== */

  .bitcoin-esports-main {
    flex-direction: column;
  }
  .bitcoin-esports-col1 {
    width: 100%;
  }

  .bitcoin-esports-col2 {
    width: 86%;
    margin-left: 5%;
  }

  /* =========================================== */

  .esports-faq-content {
    flex-direction: column;
  }

  .esports-faq-heading h3 {
    margin-right: calc(-1.999em * -1);
  }

  .esports-faq-col1 {
    margin-left: calc(2rem / 2);
  }

  .esports-faq-col2 {
    margin-right: calc(4rem / 2);
    margin-left: calc(2rem / 2);
  }

  .top-esports-col1 {
    margin-left: 6%;
    width: 83%;
}
.our_payment_img{
    width: 346px;

}
}

.esports_1 {
  width: 200px;
}
.esports_2 {
  width: 200px;
}
.esports_3 {
  width: 200px;
}
.esports_4 {
  width: 200px;
}
.esports_5{
  width: 200px;
}
.esports_6 {
  width: 200px;
}
.esports_7 {
  width: 200px;
}
.esports_8 {
    width: 200px;
  }
.esports_9 {
    width: 200px;
  }

  .esports_10 {
    width: 200px;
  }
  .esports_11 {
    width: 200px;
  }
  .esports_12 {
    width: 200px;
  }

.greate_param{
    margin-bottom: 17px;
   
}
/* retail css start here */


.betting_shops{
margin-top: 150px;
margin-bottom: 80px;
}
.bet_shop_head{
text-align: center;
font-size: 27px;
margin-bottom: 12px;

}
.bet_shop_para{
text-align: center;
font-size: 20px;

}
.betting_shop_row{
/* width: 522px;
position: relative;
left: 31%; */
display: flex;
justify-content: center;
}

/* .terminals_sec{
margin-top: 30px;
} */

.teriminal_row{
display: flex;
justify-content: center;
align-items: center;
}
.ter_head_1{
font-size: 87px;
color: #a0c528;
}
.terminal_col{
width: 52%;
}
.terminal_col_1{
width: 22%;
margin-top: 146px;

}
.ter_head_2{
    font-size: 40px;
    /* margin-top: -13px; */
    /* font-size: calc(200%); */
    font-family: Poppins;
    font-weight: 400;
}

.termin_1{
    margin-top: 12px;
    font-size: 18px;
    line-height: 1.5;
    color: gray;
    margin-bottom: 12px; 
}


.arrow_2{
display: none;
}
/* .arrow_2:hover{
display: block;
background-color: #00adf1;
} */

/* .arrows_chck:hover{
color: #a0c528;

} */
.arrows_chck:hover{
color: #a0c528;
cursor: pointer;
}

.arrows_chck:hover + .arrow_2 {
display: block;
color: #a0c528;


}

.arrow_chck1{
display: flex;
}

.bet_col_sec{
    width: 32%;

}
/* ==============screen header section============== */

.screen_terminal{
padding-top: 188px;
}

.screen_row{
display: flex;
justify-content: center;
align-items: center;
}
.screen_img{
width: 446px;
height: 300px;
}
.screen_img_1{
width: 446px;
height: 300px;
}

.terminal_img {
width: 579px;
}

.sc_param{
    color: darkgray;
    letter-spacing: 2px;
    margin-top: 12px;
    font-size: 18px;
}

.sc_game_card{
    display: flex;
    gap: 119px;
}


/* .screen_card{
background-color: #000;
width: 116px;
height: 116px;
cursor: pointer;
} */
/* .screen_details{
text-align: center;
color: white;
padding-top: 31px;
font-size: 30px;
font-weight: 600;
} */
/* .screen_cotaiber{
display: flex;
} */

/* .screen_card:hover{
background-color: #a0c528;
} */
/* .arrows_chck{
display: flex;
} */


.expert_game_card{
display: flex;
gap: 66px;

}
.terminals_sec{
margin-bottom: 50px;
}
.screen_cards{
background-color: #000;
width: 116px;
height: 116px;
cursor: pointer;
/* position: absolute; */
top: 367px;
left: 551px;
margin-top: -67px;

}
.screen_deitails{
text-align: center;
color: white;
padding-top: 42px;
font-size: 30px;
font-weight: 600;   
display: flex;
padding-left: 45px;

}
.screen_cards:hover{
background-color: #a0c528;
}

.screen_deitails .arrow_3{
display: none;
}

.screen_cards:hover .arrow_3{
display: block;
}
.screen_col{
width: 40%;
}
.screen_col_1{
margin-top: -254px;

}

.screen_card:hover{
background-color: #a0c528;
}

.screen_deitails .arrow_3{
display: none;
}

.screen_card:hover .arrow_3{
display: block;
}
.screen_card{
background-color: #000;
width: 116px;
height: 116px;
cursor: pointer;
/* position: absolute; */
top: 263px;
right: 179px;
margin-top: -63px;


}
.screen_header_1{
width: 220px;
font-size: 31px;
   font-weight: 400;


}
.screen_header_2{
width: 263px;
font-size: 31px;
   font-weight: 400;

}
 .use_list li a{
text-decoration: none;
color: white;
 }
 .use_list_1 li a{
  text-decoration: none;
  color: white;
   }

/* ==============screen header section============== */


/* sales solution start here */
.sale_solution_sec{
padding-top: 100px;
}
.sales_images{
display: flex;
justify-content: center;
align-items: center;
}
.sales_img_1{
width: 1000px;
height: 596px;
}
.sales_contain_row{
display: flex;
justify-content: space-around;
align-items: center;
margin-left: 128px;
}
.sales_card{
background-color: #a0c528;
width: 231px;
height: 70px;
}
.sales_card_details{
display: flex;
/* gap: 10px; */
justify-content: center;
text-align: center;
padding-top: 22px;
color: white;
font-weight: 600;
cursor: pointer;
}
.sales_card_details .arrow_4{
display: none;
}
.sales_card:hover .arrow_4{
display: block;
}
.sales_card:hover{

background-color: #575756;
}
.arrow_5{
margin-left: 12px;
margin-top: 2px;
}
.arrow_4{
margin-top: 2px;
}
.sales_para_1{
color: #a0c528;
font-size: 30px;
}
.sales_col{
width: 36%;
}
.sales_col_1{
width: 29%;
}

/* sales solution start here end */


/* Prepaid_cards section start */

.Prepaid_cards{
padding-top: 80px;
}
.prepaid_row{
display: flex;
justify-content: center;
/* align-items: center; */
}
.prepaid_img{
width: 551px;
height: 530px;
}
.prepaid_col{
width: 37%;
}
.prepaid_col_1{
width: 36%;
}


/* Prepaid_cards section end*/

@media (max-width:820px){
    .bet_col_sec {
        width: 79%;
    }
.bet_shop_head {
 font-size: 22px;
}
.terminal_img {
    width: 354px;
}
.screen_terminal {
    padding-top: 65px;
}

.bet_shop_para {
 text-align: center;
 font-size: 15px;
}
.teriminal_row {
 display: flex;
 flex-direction: column;
}
.terminal_col {
 width: 94%;
}
.ter_head_1 {
 font-size: 52px;
 color: #a0c528;
}
.terminal_col_1 {
 width: 90%;
 margin-top: 25px;
}
.ter_head_2 {
 font-size: 33px;
}
.screen_row {
 display: flex;
 flex-direction: column;
 gap: 40px;

}
.screen_col {
 width: 93%;
}
.screen_col_1 {
 margin-top: 2px;
}
.screen_cards {
 background-color: #000;
 width: 97px;
 height: 174px;
 cursor: pointer;
 /* position: absolute; */
 top: 438px;
 left: 263px;
}
.screen_header_1 {
 width: 155px;
 font-size: 25px;
}
.screen_card {
 background-color: #000;
 width: 97px;
 height: 174px;
 cursor: pointer;
 /* position: absolute; */
 /* top: 117px; */
 /* right: 197px; */
 top: 80%;
right: 11%;
}
.screen_header_2 {
 width: 115px;
 font-size: 25px;
}
.screen_deitails {
 text-align: center;
 color: white;
 padding-top: 67px;
 font-size: 30px;
 font-weight: 600;
 display: flex;
 padding-left: 36px;
}
.screen_img {
 width: 362px;
 height: 300px;
}
.screen_img_1 {
 width: 376px;
 height: 300px;
}
.sc_param {
    color: darkgray;
    letter-spacing: 2px;
    margin-top: 12px;
    font-size: 13px;
    width: 200px;
}

.expert_game_card {
    display: flex;
    gap: 161px;
}


.sales_contain_row {
display: flex;
flex-direction: column;
margin-left: 1px;
}
.sales_img_1 {
width: 367px;
height: 291px;
}
.sales_col {
width: 96%;
}
.sales_para_1 {
color: #a0c528;
font-size: 23px;
margin-bottom: 20px;

}
.sales_card {
    background-color: #a0c528;
    width: 210px;
    height: 63px;
}
.sales_col_1 {
width: 86%;
}
.prepaid_row {
display: flex;
flex-direction: column;
padding: 15px;
}
.prepaid_col {
width: 100%;
}
.prepaid_head {
color: #a0c528;
font-size: 59px;
}
.prepaid_para {
font-size: 21px;
}
.prepaid_col_1 {
width: 97%;
}

.prepaid_img {
    width: 373px;
    height: 390px;
}
.betting_terminal_sec {
    padding: 12px;
}
.terminals-all-in-one-col1 {
    width: 89%;
    padding: 12px;
}
.terminals-all-in-one-main{
    display: flex;
    flex-direction: column;
}
.terminals-all-in-one-col1 img {
    width: 178px;

} 
}




  /* retail css end here */




  /* mobile betting */
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
  
  
  .mobile-sports-main{
      display: flex;
      font-family: 'Raleway', sans-serif;
      margin-top: 14%;
      gap: 10%;
  }
  
  .mobile-sports-left{
      width: 35%;
      margin-left: 8%;
  
  }
  
  .mobile-sports-left h1{
  font-size: calc(285.7%);
      font-style: normal;
      font-weight: 200;
      line-height: 1.3;
      letter-spacing: 0.001em;
      margin-right: calc(0.001em * -1);
      text-transform: none;
      color: rgb(87,87,86);
  }
  
  
  .mobile-sports-left p{
      font-size: 16px;
      line-height: 1.8;
      margin: 0 0 1.5em;
         font-weight: 400;

      letter-spacing: 0em;
      text-transform: none;
      color: rgb(87,87,86);
  }
  
  
  .mobile-sports-left strong{
  letter-spacing: 0em;
      text-transform: none;
      color: rgb(87,87,86);
  }
  
  .mobile-sports-right img{
  margin-top: -5%;
  }
  
   /* ===================================================================  */
  
  
  .mobile-advantages-main{
      display: flex;
      font-family: 'Raleway', sans-serif;
      gap: 19%;
      margin-top: 5%;
  }
  
  
  .mobile-advantages-left{
  width: 35%;
  margin-left: 8%;
  }
  
  .mobile-advantages-left h1{
  font-size: calc(285.7%);
      font-style: normal;
      font-weight: 200;
      line-height: 1.3;
      letter-spacing: 0.001em;
      margin-right: calc(0.001em * -1);
      text-transform: none;
      color: rgb(87,87,86);
  }
  
  .mobile-advantages-left p{
  margin: 0 0 1.5em;
  font-size: 16px;
      line-height: 1.4;
      font-style: normal;
         font-weight: 400;

      letter-spacing: 0em;
      text-transform: none;
      color: rgb(87,87,86);
  } 
  
  .mobile-advantages-left strong{
  font-style: normal;
  font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0em;
      text-transform: none;
      color: rgb(87,87,86);
  }
  
  
  .mobile-advantages-right img{
  margin-top: 34%;
  }
  
  /* ==========================mobile-betting media query=========================================  */
  
  @media screen and (max-width: 820px){
      .mobile-sports-main {
          flex-direction: column;
      }
  
  
      .mobile-sports-left {
          width: 88%;
          margin-left: 7%;
      }
  
  /* ========================================== */
  
      .mobile-advantages-main{
          flex-direction: column;
      }
  
      .mobile-advantages-left{
      width: 84%;
      }
  
  
      .mobile-advantages-right img {
          margin-top: 0; 
          width: 100%;
      }
      .sport_images_1{
        height: auto !important;
       
        width: 100% !important;
  }
    
      .images_benefit_1{
        height: auto !important;
       
        width: 100% !important;
      }
      .addverties_img{
        height: auto !important;
       
        width: 100% !important;
      }
    
      .payment_system{
        height: auto !important;
       
        width: 100% !important;
       
      }
      .sportsbetting-online-retail-col1{
        margin-left: 0px !important;
      }
  }

  .sport_images_1{
    height: 495px;
   
    width: 768px ;
  }

  .images_benefit_1{
    width: 60%;
    height: 538px;
  }
  .addverties_img{
    height: 495px;
   
    width: 768px ;
  }

  .payment_system{
    width: 707px;
    height: 465px;
    border-radius: 5px;
  }
  /* .sportsbetting-online-retail-col1{
    margin-left: 24px ;
  } */
  .x-div, .x-row, .x-col, .x-grid, .x-cell, .x-section, .x-image, .x-anchor, .x-text-headline, .x-slide {
    transition-property: border-color, background-color, box-shadow, opacity, filter, transform;
}
.m73-28 > .is-primary {
  width: 100%;
  height: 100%;
  color: rgb(160,197,40);
  transform-origin: 0% 50%;
}

[data-x-particle*=overlap][data-x-particle~=scale-x], [data-x-particle*=inside][data-x-particle*=c_c][data-x-particle~=scale-x] {
  /* transform: translate3d(-50%, -50%, 0) scale3d(0, 1, 1); */
}
[data-x-particle*=overlap][data-x-particle*=_l] {
  /* left: 0%; */
}
[data-x-particle*=overlap][data-x-particle*=c_] {
  /* top: 50%; */
}
.x-ttf, .x-div, .x-row, .x-col, .x-grid, .x-cell, .x-section, .x-acc-header, .x-acc-header-indicator, .x-crumbs-link, .x-paginate-inner > *, .x-anchor, .x-anchor-text-primary, .x-anchor-text-secondary, .x-anchor-sub-indicator, .x-anchor.has-int-content .x-anchor-content, .x-bar-is-sticky, .x-bar-is-sticky .x-bar-content, [data-x-toggle-collapse], .x-graphic-child, .x-image, .x-line, .x-mini-cart li, .x-mini-cart a:not(.x-anchor), .x-modal-close, .x-search, .x-search-btn, .x-search-input, .x-icon, .x-text, .x-text-content-text-primary, .x-text-content-text-subheadline, .x-text-typing, .x-typed-cursor, .x-menu-first-level, .x-menu-layered:not(.x-menu-first-level), .x-card, .x-card-faces, .x-statbar, .x-statbar-bar, .x-statbar-label, .x-wc-add-to-cart-form, .x-wc-shop-sort, [data-x-particle], .x-bar, .x-bar-scroll-button, .x-bar-container, .x-slide, .x-slide-pagination, .x-slide-pagination li {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
[data-x-particle] {
  transition-property: opacity, transform;
}
.x-td, .x-div, .x-row, .x-col, .x-grid, .x-cell, .x-section, .x-acc-header, .x-acc-header-indicator, .x-crumbs-link, .x-paginate-inner > *, .x-anchor, .x-anchor-text-primary, .x-anchor-text-secondary, .x-anchor-sub-indicator, .x-anchor.has-int-content .x-anchor-content, .x-bar-is-sticky, .x-bar-is-sticky .x-bar-content, [data-x-toggle-collapse], .x-graphic-child, .x-image, .x-line, .x-mini-cart li, .x-mini-cart a:not(.x-anchor), .x-modal-close, .x-search, .x-search-btn, .x-search-input, .x-icon, .x-text, .x-text-content-text-primary, .x-text-content-text-subheadline, .x-text-typing, .x-typed-cursor, .x-menu-first-level, .x-menu-layered:not(.x-menu-first-level), .x-wc-add-to-cart-form, .x-wc-shop-sort, [data-x-particle], .x-bar, .x-bar-scroll-button, .x-bar-container, .x-slide, .x-slide-pagination, .x-slide-pagination li {
  transition-duration: 300ms;
}
[data-x-particle] {
  transition-delay: 0ms;
}
[data-x-particle*=overlap], [data-x-particle*=inside][data-x-particle*=c_c] {
  transform: translate3d(-50%, -50%, 0);
}
[data-x-particle] span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background-color: currentColor;
}
  /* mobile betting */
  .sportsbetting-section1-button button {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(160, 197, 40);
    border-right-color: rgb(160, 197, 40);
    border-bottom-color: rgb(160, 197, 40);
    border-left-color: rgb(160, 197, 40);
    border-top-left-radius: 0.764em;
    border-top-right-radius: 0.764em;
    border-bottom-right-radius: 0.764em;
    border-bottom-left-radius: 0.764em;
    font-size: 16px;
    background-color: white;
    box-shadow: none;
    padding-top: 1.75em;
    padding-right: 2.5em;
    padding-bottom: 1.75em;
    padding-left: 2.5em;
    font-size: 0.85em;
    font-style: normal;
    font-weight: 700;
    line-height: 0.2;
    letter-spacing: 0.1em;
    margin-right: calc(0.1em * -1);
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-family: inherit;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.2;
    letter-spacing: 0.1em;
    margin-right: calc(0.1em * -1);
    text-align: center;
    text-transform: uppercase;
    color: rgb(87,87,86) !important;
    letter-spacing: 2.2px;
}

  .phone_images{
    width:320px ;
    height:622px ;
  }
  .m73-7.x-section {
    padding-top: 45px;
    padding-bottom: 45px;
}
.m73-3.x-section {
    z-index: auto;
}
.m73-0.x-section {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border: 0;
    padding-right: 0px;
    padding-left: 0px;
}
.x-section {
    display: block;
    position: relative;
    margin: 0 0 1.5em;
    padding: 45px 0;
}
.x-ttf, .x-div, .x-row, .x-col, .x-grid, .x-cell, .x-section, .x-acc-header, .x-acc-header-indicator, .x-crumbs-link, .x-paginate-inner > *, .x-anchor, .x-anchor-text-primary, .x-anchor-text-secondary, .x-anchor-sub-indicator, .x-anchor.has-int-content .x-anchor-content, .x-bar-is-sticky, .x-bar-is-sticky .x-bar-content, [data-x-toggle-collapse], .x-graphic-child, .x-image, .x-line, .x-mini-cart li, .x-mini-cart a:not(.x-anchor), .x-modal-close, .x-search, .x-search-btn, .x-search-input, .x-icon, .x-text, .x-text-content-text-primary, .x-text-content-text-subheadline, .x-text-typing, .x-typed-cursor, .x-menu-first-level, .x-menu-layered:not(.x-menu-first-level), .x-card, .x-card-faces, .x-statbar, .x-statbar-bar, .x-statbar-label, .x-wc-add-to-cart-form, .x-wc-shop-sort, [data-x-particle], .x-bar, .x-bar-scroll-button, .x-bar-container, .x-slide, .x-slide-pagination, .x-slide-pagination li {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.x-div, .x-row, .x-col, .x-grid, .x-cell, .x-section, .x-image, .x-anchor, .x-text-headline, .x-slide {
    transition-property: border-color, background-color, box-shadow, opacity, filter, transform;
}
.x-td, .x-div, .x-row, .x-col, .x-grid, .x-cell, .x-section, .x-acc-header, .x-acc-header-indicator, .x-crumbs-link, .x-paginate-inner > *, .x-anchor, .x-anchor-text-primary, .x-anchor-text-secondary, .x-anchor-sub-indicator, .x-anchor.has-int-content .x-anchor-content, .x-bar-is-sticky, .x-bar-is-sticky .x-bar-content, [data-x-toggle-collapse], .x-graphic-child, .x-image, .x-line, .x-mini-cart li, .x-mini-cart a:not(.x-anchor), .x-modal-close, .x-search, .x-search-btn, .x-search-input, .x-icon, .x-text, .x-text-content-text-primary, .x-text-content-text-subheadline, .x-text-typing, .x-typed-cursor, .x-menu-first-level, .x-menu-layered:not(.x-menu-first-level), .x-wc-add-to-cart-form, .x-wc-shop-sort, [data-x-particle], .x-bar, .x-bar-scroll-button, .x-bar-container, .x-slide, .x-slide-pagination, .x-slide-pagination li {
    transition-duration: 300ms;
}.x-section:before, .x-section:after {
  content: " ";
  display: table;
  width: 0px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
[class*=page-template-template-blank] .entry-content {
  margin: 0;
}
.entry-header, .entry-content {
  font-size: 16px;
}
.entry-content {
  margin-top: 25px;
}
.editor-styles-wrapper, .entry-content {
  counter-reset: footnotes;
}
.m73-k.x-row {
  text-align: center;
}
.m73-a.x-row {
  margin-right: auto;
  margin-left: auto;
  border: 0;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  font-size: 16px;
}
.m73-9.x-row {
  z-index: auto;
}
.x-container.max {
  max-width: 1200px;
}
.x-container.width {
  width: 88%;
}
.m73-l {
  --gap: 1rem;
}
.x-container {
  margin: 0 auto;
}
.x-ttf, .x-div, .x-row, .x-col, .x-grid, .x-cell, .x-section, .x-acc-header, .x-acc-header-indicator, .x-crumbs-link, .x-paginate-inner > *, .x-anchor, .x-anchor-text-primary, .x-anchor-text-secondary, .x-anchor-sub-indicator, .x-anchor.has-int-content .x-anchor-content, .x-bar-is-sticky, .x-bar-is-sticky .x-bar-content, [data-x-toggle-collapse], .x-graphic-child, .x-image, .x-line, .x-mini-cart li, .x-mini-cart a:not(.x-anchor), .x-modal-close, .x-search, .x-search-btn, .x-search-input, .x-icon, .x-text, .x-text-content-text-primary, .x-text-content-text-subheadline, .x-text-typing, .x-typed-cursor, .x-menu-first-level, .x-menu-layered:not(.x-menu-first-level), .x-card, .x-card-faces, .x-statbar, .x-statbar-bar, .x-statbar-label, .x-wc-add-to-cart-form, .x-wc-shop-sort, [data-x-particle], .x-bar, .x-bar-scroll-button, .x-bar-container, .x-slide, .x-slide-pagination, .x-slide-pagination li {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.x-div, .x-row, .x-col, .x-grid, .x-cell, .x-section, .x-image, .x-anchor, .x-text-headline, .x-slide {
  transition-property: border-color, background-color, box-shadow, opacity, filter, transform;
}
.m73-9.x-row {
  z-index: auto;
}

.x-container.max {
  max-width: 1200px;
}
.x-container.width {
  width: 88%;
}
.m73-l {
  --gap: 1rem;
}
.x-container {
  margin: 0 auto;
}
.m73-g > .x-row-inner {
  justify-content: center;
}
.m73-d > .x-row-inner {
  margin-right: calc(((1rem / 2) + 1px) * -1);
  margin-left: calc(((1rem / 2) + 1px) * -1);
}
.m73-c > .x-row-inner {
  margin-top: calc(((1rem / 2) + 1px) * -1);
  margin-bottom: calc(((1rem / 2) + 1px) * -1);
}
.m73-a > .x-row-inner {
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}
.x-row-inner {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  min-width: 0;
  min-height: 0;
}
.m73-z > .x-row-inner > *:nth-child(1n - 0) {
  flex-basis: calc(100% - clamp(0px,var(--gap),9999px));
}
.m73-11.x-col {
  border: 0;
  font-size: 16px;
}
.m73-10.x-col {
  z-index: auto;
}
.m73-d > .x-row-inner > * {
  margin-right: calc(1rem / 2);
  margin-left: calc(1rem / 2);
}
.m73-c > .x-row-inner > * {
  margin-top: calc(1rem / 2);
  margin-bottom: calc(1rem / 2);
}
.m73-2c.x-div {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 0;
  font-size: 16px;
}
.m73-27.x-text {
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  line-height: inherit;
  color: rgba(0,0,0,1);
}
.m73-1w.x-text {
  letter-spacing: 0em;
}
.m73-1s.x-text {
  border: 0;
  font-style: normal;
  text-transform: none;
}
.x-text:not(.x-text-headline) {
  transition-property: color, border-color, background-color, box-shadow, text-shadow, column-rule, opacity, filter, transform;
}
.m73-1s.x-text > :first-child {
  margin-top: 0;
}
p {
  margin: 0 0 1.5em;
}h1, .h1, h2, .h2, h3, .h3 {
  line-height: 1.3;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, blockquote {
  color: #272727;
}
h2, .h2 {
  letter-spacing: .001em;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 400;
}
h2, .h2 {
  font-size: 285.7%;
  line-height: 1.2;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 1.25em 0 0.2em;
  text-rendering: optimizelegibility;
}
.ui-widget {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: 0.5em 0.5em 0.5em 0.7em;
  font-size: 100%;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 3px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  font-weight: normal;
  background-color: #fff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
}
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}
.ui-icon, .ui-widget-content .ui-icon {
  background-image: url('/assets/ui-icons.png');
}
.ui-icon {
  width: 16px;
  height: 16px;
}
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
@media (max-width:768px) {
  .sportsbetting-mainfeature-col2 h2{
    width: 100%;
  }
}