<app-header3></app-header3>
<section class="mobile_tv">
    <div class="mobile-sports-main">
        <div class="mobile-sports-left">

            <h1>{{'mobile_sbs'|translate}}</h1>
            <p [innerHTML]="'mobile_sbs_p1'|translate">
                <!-- Our <strong>Mobile app</strong> empowers your bettors to effortlessly access their gaming accounts and
                place bets via tablets, smartphones, and other internet-connected mobile devices. -->
            </p>
            <p>{{'mobile_sbs_p2'|translate}}
                <!-- From cricket and soccer to tennis, our software covers an extensive range of sporting events worldwide.
                No matter your sporting passion, you can place bets on the games and teams you love. -->
            </p>
            <p>{{'mobile_sbs_p3'|translate}}
                <!-- Our software is not just about placing bets, it's about creating an experience that's both seamless and
                user-focused. We've invested in the latest technology to ensure that navigating our platform is as easy
                as possible -->
             </p>
        </div>

        <div class="mobile-sports-right"></div>
        <img class="mobile_images" src="assets/VRNL 211.webp" loading="lazy" alt="Mobile sports betting software">

    </div>
</section>

<!-- =================================================================== -->

<section>
    <div class="mobile-advantages-main">
        <div class="mobile-advantages-left">
            <h1>{{'advantages_sbs'|translate}}</h1>
            <li><strong>{{'advantages_sbs_l1'|translate}}</strong></li>
            <p style="margin-left: 24px;">{{'advantages_sbs_p1'|translate}}
            </p>
            <li><strong>{{'advantages_sbs_l2'|translate}}</strong> </li>
            <p style="margin-left: 24px;"> {{'advantages_sbs_p2'|translate}}</p>
            <li><strong>{{'advantages_sbs_l3'|translate}}</strong></li>
            <p style="margin-left: 24px;"> {{'advantages_sbs_p3'|translate}}</p>
            <li><strong>{{'advantages_sbs_l4'|translate}}</strong></li>
            <p style="margin-left: 24px;"> {{'advantages_sbs_p4'|translate}}</p>



        </div>

        <div class="mobile-advantages-right">
            <img src="assets/VRNL 2.webp" loading="lazy" alt="mobile sports betting software" class="image_1">
        </div>

    </div>
</section>


<app-footer></app-footer>