
<router-outlet (activate)="onActivate($event)"></router-outlet>
<app-scroll-btn></app-scroll-btn>
<div class="side-slider contact-service-box">
	<button class="slide-btn">
		<img src="assets\24hrcall.png" alt="contact">
	</button>
	<div class="side-slider-content">
		<!-- <div class="contact-service-icon">
			<img src="/images/web/icon-set/customers-slider/cs-247.png" alt="contact">
		</div> -->
		<!-- <div class="contact-service-logo">
			<img src="/images/web/icon-set/customers-slider/cs_logo.png" alt="logo">
		</div> -->
		<ul id="side-cs-cont" class="contact-service-list"><li id="cs-44" class="icon-cs">
			<a target="_blank">
				<img src="https://img.c88rx.com/upload/customerservice/image_84.png" ui-key="realIconPath">
				<span ui-key="displayText">Live Chat 24/7</span>
				
			</a>
			
			<hr>
		</li><li id="cs-46" class="icon-telegram">
			<!-- <a target="_blank">
				<img src="https://img.c88rx.com/upload/customerservice/image_85.png" ui-key="realIconPath">
				<span ui-key="displayText">Telegram Support</span>
				
			</a> -->
			
			<hr>
		</li><li id="cs-143" class="icon-telegram">
			<!-- <a target="_blank">
				<img src="https://img.c88rx.com/upload/customerservice/image_361.png" ui-key="realIconPath">
				<span ui-key="displayText">Telegram Channel</span>
				
			</a> -->
			
			<hr>
		</li><li id="cs-145" class="icon-fb">
			<a target="_blank" href="https://www.facebook.com/profile.php?id=100092326342619&mibextid=LQQJ4d">
				<img src="assets\icons8-facebook.gif" >
				<span ui-key="displayText">Facebook</span>
				
			</a>
			
			<hr>
		</li><li id="cs-45" class="icon-mail">
			<a target="_blank" href="https://www.instagram.com/vrnl_exchange">
				<img src="assets\icons8-instagram.gif">
				<span ui-key="displayText">instagram</span>
				
			</a>
			
			<hr>
		</li><li id="cs-81" class="icon-mail">
			<a target="_blank" href="mailto:marketing@crickex.com">
				<img src="assets\icons8-twitter-circled.gif" ui-key="realIconPath">
				<span ui-key="displayText">Twitter</span>
				
			</a>
			
			<hr>
		</li>
        <li id="cs-81" class="icon-mail">
			<a target="_blank" href="mailto:marketing@crickex.com">
				<img src="assets\icons8-skype.gif" ui-key="realIconPath">
				<span ui-key="displayText">skype</span>
				
			</a>
			
			<hr>
		</li></ul>
	</div>
</div>
