<app-header3></app-header3>
<section>
    <div class="esports-betting-main">
        <div class="esports-betting-col1">
            <h1>eSports Betting Software</h1>
            <p>The eSports betting software in our gaming platform offers your users the possibility to bet on Top esports games, with Live Twitch stream and Betting stream.</p>

            <p style="padding-top: 2.25em;">The eSports phenomenon is very widespread in the United States and is now growing at a dizzying rate in the Latin American market.</p>

            <div class="esports-betting-col1-button">
                <button class="button-design">Start Now</button>
            </div>

        </div>

        <div class="esports-betting-col2">
<img class="esport_img" src="assets/sirplay image 2.webp" alt="">
        </div>
    </div>
</section>


<!-- ============================================================= -->

<section class="esport_section" style="padding-top: 7%;">
    <div class="top-esports-main">
        <div class="top-esports-col1">
            <h2> <b>Top eSports titles </b></h2>

            <p>Counter-Strike: Global Offensive 
                <br>
                Dota 2
                <br>
                League of Legends
                <br>
                FIFA
                <br>
                Call of Duty
                <br>
                King of Glory</p>
                
               <p> In addition to the most popular titles, we also offer the most common esports genres included in our feed;</p>

               <p><strong>Sports Games:</strong>  FIFA, Madden NFL, NBA 2K, Pro Evolution Soccer, Rocket League.</p>

               <p><strong> Multiplayer Online like:</strong> Dota 2, League of Legends, Smite, Heroes of the Storm.</p>

               <p><strong>First-Person Shooter FPS:</strong> CS:GO, Call of Duty, Rainbow Six: Siege, Overwatch.</p>

               <p><strong> Fighting Games:</strong> Street Fighter, Super Smash Bros, Tekken.</p>

               <p>Real-Time Strategy RTS: StarCraft: Brood War, Warcraft III, StarCraft II.</p>

               <p>Battle Royale: PUBG, Fortnite, Apex Legends.</p>

               <p>In short, the titles and games are really many, and they are constantly increasing.</p>
        </div>
        <div class="top-esports-col2">
                <div class="top-esports-col2-image">
                    <img class="esports_1" src="assets/Counter-Strike-Global-Offensive.png.webp" alt="">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_2"  src="assets/Dota-2-logo.png.webp" alt="">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_3" src="assets/overwatch.png.webp" alt="">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_4" src="assets/NBA2k.jpg.webp" alt="">
                </div >

                <div class="top-esports-col2-images">
                    <img class="esports_5" src="/assets/Warcraft-III.png.webp" alt="">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_6" src="assets/League-of-Legends.png.webp" alt="">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_7" src="assets/Rocket-League.png.webp" alt="">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_8" src="assets/Call-of-Duty-esports.png.webp" alt="">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_9" src="assets/King-of-Glory.png.webp" alt="">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_10" src="assets/Madden-NFL.png.webp" alt="">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_11" src="assets/Rainbow-Six-Siege.png.webp" alt="">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_12" src="assets/fortnite.png.webp" alt="">
                </div>
        </div>
    </div>
</section>


<!-- ============================================================= -->

<section>
    <div class="easy-setup-main">
        <div class="easy-setup-col1-photo">
<img src="assets/Easy-setup-Sportsbook-platform.jpg.webp" alt="">
        </div>

        <div class="easy-setup-col2">
    <h3>Easy setup, less than you might imagine.</h3>

    <p>We delivers the eSports platform in few weeks.<br>
    We will take care of everything: Hosting, User Interface, odds feed, customized pages, products activation and sportsbook strategy.</p>

    <p><strong> Your sole focus will be on the setting up and creation of the online networks.</strong></p>
        </div>
    </div>
</section>

<!-- ============================================================= -->




<section>
    <div class="esports-betting-middle-main">
        <div class="esports-betting-middle-row1">

            <div class="esport_bet_center">
<h2>If you want to enter the business of the Online Gambling, our eSports betting software could help you to take the first steps.</h2>

<p>Take advantage of our professional services and expertise, as well as of our eSports betting platforms and Technology. Our regulated partners receive all the support they need to enter the online Betting industry and are provided with Branded / Non-Branded versions of our platforms.</p>

<p>Starting an Online Sportsbook focused on eSports can be tricky! That is why we have created a complete eSports Betting environment, with Pre-match Betting Services with the aim of offering you the widest selection of eSports available online.</p>
            </div>
        </div>
        <div class="esports-betting-middle-row2">
<img class="all_images" src="assets/sirplay vrnl 11.webp" alt="">
        </div>

    </div>
</section>

<!-- ============================================================= -->

<!-- <section>
<div class="bitcoin-esports-main">

    <div class="bitcoin-esports-col1">
<img class="our_payment_img" src="assets/Payment-systems-ready-in-our-betting-platform.jpg.webp" alt="">
    </div>
    <div class="bitcoin-esports-col2">

        <h2>Bitcoin eSports betting platform</h2>
        <p><strong> Bitcoin and Cryptocurrencies</strong><br>
        The platform accepts all the cryptocurrencies currently existing.<br><br>
        If there are specific needs and requests, we can integrate new payment systems.</p>


        <h3>Payment systems ready in our eSports betting platform</h3>
        <p>We have integrated world-class payment method for gaming. Easy to use and manage your all the payment channels.</p>

        <p>Referring to specific markets, we have integrated many payment systems and beyond   <strong> Visa and Mastercard, accepted in UK, Spain, Gibraltar, Schleswig-Holstein Germany, Sweden </strong> we have already available:
           <strong>Interswitch,</strong>  for Nigeria, UbPay,
           <strong>Sobflous</strong>  for Tunisia,
           <strong> NiuBiz </strong>for Peru
           <strong> Yacare </strong> for Argentina
           <strong>Flutterwave </strong>  Online Payment Gateway available anywhere in the world.
           <strong> Paystack </strong> Modern online and offline payments for <strong> Africa.</strong>
           <strong> PayU </strong> Online payment services in <strong>South America. </strong> 
           <strong> Mercado Pago </strong> methods par excellence in<strong>  Latin America </strong></p>

           <p>Just apply for a Merchant ID to activate the already integrated services.</p>

    </div>
</div>
</section> -->
<!-- ============================================================= -->

<app-contact-com></app-contact-com>
<section>
<div class="esports-faq-main">
    <div class="esports-faq-heading">
        <h3>FAQ about <strong> eSports betting software</strong></h3>
    </div>

    <div class="esports-faq-content">

        <div class="esports-faq-col1">
<h3>What eSports titles do you offer ?</h3>
<p><strong> Most popular:</strong> Counter-Strike: Global Offensive, Dota 2, League of Legends, Fortnite, Call of Duty.</p>

<p><strong> Sports Games:</strong> FIFA, Madden NFL, NBA 2K, Pro Evolution Soccer, Rocket League.</p>

<p><strong> Multiplayer Online like:</strong> Dota 2, League of Legends, Smite, Heroes of the Storm.</p>

<p><strong>  First-Person Shooter FPS:</strong> CS:GO, Call of Duty, Rainbow Six: Siege, Overwatch.<br>
Fighting Games: Street Fighter, Super Smash Bros, Tekken.</p>

<p><strong> Real-Time Strategy RTS:</strong> StarCraft: Brood War, Warcraft III, StarCraft II.</p>

<p><strong> Battle Royale:</strong> PUBG, Fortnite, Apex Legends.</p>

<h3>Do you provide the eSports platform with Bitcoin?</h3>
        

<p>Do you provide the eSports platform with Bitcoin?</p>

<p>Yes sure. There are two options available:</p>
<ol>
<li>Use BTC as the platform currency and allow players to place bets in mBTC</li>
<li>Use BTC as a deposit method and bet in FIAT currency.</li>
</ol>

<h3>Can I have full management of the odds and the margins?</h3>
<p>The backend counts with many tools, features and reports that will provide a complete view of the sports betting activity. There is a dedicated section to the odds management, through which it is possible to edit the margins, multiplicity and odds per market, match and/or championship.</p>

<h3>Do you have the Mobile version?
</h3>   
<p>The gaming platform is responsive, so it suits all the mobile devices. Players can bet, deposit, view the bets list and carry out many different operations sailing the platform from their mobile devices. Furthermore, we have our Application for iOS and Android.</p> 

<h3>Do you offer affiliate systems for eSports?</h3>
<p>Yes, indeed our eSports betting platform network is based on 5 levels:</p>

<h3>Can I run a eSports betting platform without dealing with the odds and trading management?</h3>
<p>Our eSports betting solutions come with the odds feed included. The software embeds many features and tools to manage the odds margins and configurations in complete autonomy. If you want to focus on the shops and players management only, we provide trading services and support.</p>

<h3>I would like to have a fully eSports customized solution, is it possible?</h3>
<p>Vrnl makes available a team of experts for the setting up of a fully customized eSports betting platform. Indeed, an Account Manager will collect the requirements and coordinate the project with the other team members: the Project Manager, the Graphics Designer and the IT Manager.</p>

<h3>I am completely new to this business, what shall I know?
</h3>
<p>The proper management of a eSports betting platform can make this business highly lucrative. We offer different solutions and services based on level of engagement and knowledge. A gaming expert will work alongside you to single up the best eSports solution tailored to your needs.</p>
</div>







<div class="esports-faq-col2">
<h3>How many number of eSports matches monthly?</h3>
<p>We offer more or less ~ 10,000 matches monthly.
</p>

<h3>How many number of eSports live markets?</h3>
<p>Today we offer 20 live eSports markets.
    But we are constantly adding new markets.</p>

    <h3>Which markets are available for eSports betting?</h3>
    <p>AVAILABLE PREMATCH AND LIVE MARKETS</p>

    <p>1 Match winner
        <br>
        2 Match winner with handicap (1.5, 2.5 maps) 1 Exact match score
        <br>
        5 Map winner
        <br>
        5 Map winner three way
        <br>
        10 Map: first/second half winner
        <br>
        2 Total maps (3.5, 4.5) over/under
        <br>
        2 Team to win at least 1 map yes/no
        <br>
        20 Map winner with handicaps (2.5, 5.5, 8.5, 11.5 rounds) 150 Exact map score
        <br>
        5 2nd pistol round winner 150 Round X winner
        <br>
        5 1st pistol round winner
        <br>
        5 Overtime yes/no
        <br>
        20 First to win X rounds (3, 6, 9, 12)
        <br>
        5 Number of rounds parity
        <br>
        30 Total rounds (18.5, 20.5, 22.5, 24.5, 26.5, 28.5) over/under
        <br>
        20 Map duration (28, 32, 36, 40 minutes) over/under 5 Map: kills parity
        <br>
        20 Map: total kills (18.5, 22.5, 26.5, 30.5) over/under 15 Map: first X kills (5, 10, 15)
        <br>
        15 Map: Xth kill (10, 20, 30)
        <br>
        5 Map: first Dragon
        <br>
        5 Map: first Inhibitor
        <br>
        5 Map: first Baron
        <br>
        5 Map: Quadrakill yes/no
        <br>
        5 Map: Pentakill yes/no</p>

        <h3>Can I add some features, reports and pages to the eSports betting software?</h3>
        <p>The eSports betting software includes a wide range of reports, pages and banners that can be customized (CMS) or developed upon request. If you would like us to develop a new feature, we will work alongside you creating a tailored project: collection of information and details, submission of the project/rendering, testing and final release.</p>

        <h3>Can I use my eSports logo and brand colors?</h3>
        <p>Yes you can. We provide different solutions based on your specific requirements. Indeed, we can create bespoke eSports solutions collecting your requests and setting up a project for you or we can provide a turnkey solution, modifying your eSports brand colors and logo only.</p>

        <h3>Can I host the eSport sportsbook on my server infrastructure?
        </h3>
        <p>No, you can't. The hosting is a service included in our offering as, in order to guarantee the proper performance of the eSports betting software, our SysAdmins have set up a dedicated cluster structure inclusive of backups and disaster recovery plan. This will guarantee the compliance with the global regulations and the achievement of the highest security standards.</p>
</div>

</div>
</div>
</section>
<app-footer></app-footer>