<app-header3></app-header3>
<section>
    <div class="esports-betting-main">
        <div class="esports-betting-col1">
            <h1>{{'esports_bs'|translate}}</h1>
            <p>{{'esports_bs_desp1'|translate}}</p>
            <p style="padding-top: 2.25em;">{{'esports_bs_desp2'|translate}}</p>
            <div class="esports-betting-col1-button"> <button class="button-design" routerLink="/contact">{{'startnow'|translate}}</button> </div>
        </div>
        <div class="esports-betting-col2"><img class="esport_img" src="assets/vrnl image 2.webp" alt="eSports Betting">
        </div>
    </div>
</section><!-- ============================================================= -->
<!-- <section class="esport_section" style="padding-top: 7%;">
    <div class="top-esports-main">
        <div class="top-esports-col1">
            <h2> <b>Top eSports titles </b></h2>
            <p>Counter-Strike: Global Offensive <br> Dota 2 <br> PUBG <br> CS2 <br> MDL Indonesia <br> Starcraft2 <br>
                Challenger cup</p>
            <p>Furthermore, in addition to the most popular titles, we also offer a wide range of common eSports genres
                through our feed:</p>
            <p><strong>Sports Games:</strong>EsportsBattle </p>
            <p><strong>Multiplayer Online titles like:</strong> Dota 2</p>
            <p><strong>First-Person Shooter FPS:</strong> CS:GO</p>
            <p><strong>Real-Time Strategy RTS:</strong> StarCraft II.</p>
            <p><strong>Battle Royale:</strong> PUBG</p>
            <p>In summary, our collection of titles and games is vast and continually expanding to keep your users
                engaged.</p>
        </div>
        <div class="top-esports-col2">
            <div class="top-esports-col2-image"> <img class="esports_1"
                    src="assets/Counter-Strike-Global-Offensive.png.webp" alt="Top eSports titles"> </div>
            <div class="top-esports-col2-images"> <img class="esports_2" src="assets/Dota-2-logo.png.webp"
                    alt="Top eSports titles"> </div>
            <div class="top-esports-col2-images"> <img class="esports_3" src="assets/overwatch.png.webp"
                    alt="Top eSports titles"> </div>
            <div class="top-esports-col2-images"> <img class="esports_4" src="assets/NBA2k.jpg.webp"
                    alt="Top eSports titles"> </div>
            <div class="top-esports-col2-images"> <img class="esports_5" src="assets/Warcraft-III.png.webp"
                    alt="Top eSports titles"> </div>
            <div class="top-esports-col2-images"> <img class="esports_6" src="assets/League-of-Legends.png.webp"
                    alt="Top eSports titles"> </div>
            <div class="top-esports-col2-images"> <img class="esports_7" src="assets/Rocket-League.png.webp"
                    alt="Top eSports titles"> </div>
            <div class="top-esports-col2-images"> <img class="esports_8" src="assets/Call-of-Duty-esports.png.webp"
                    alt="Top eSports titles"> </div>
            <div class="top-esports-col2-images"> <img class="esports_9" src="assets/King-of-Glory.png.webp"
                    alt="Top eSports titles"> </div>
            <div class="top-esports-col2-images"> <img class="esports_10" src="assets/Madden-NFL.png.webp"
                    alt="Top eSports titles"> </div>
            <div class="top-esports-col2-images"> <img class="esports_11" src="assets/Rainbow-Six-Siege.png.webp"
                    alt="Top eSports titles"> </div>
            <div class="top-esports-col2-images"> <img class="esports_12" src="assets/fortnite.png.webp"
                    alt="Top eSports titles"> </div>
        </div>
    </div>
</section> -->
<section>
    <div class="easy-setup-main">
        <div class="easy-setup-col1-photo"><img src="assets/VRNL 1-1_11zon.webp"
                alt="setup and creation of the online networks"> </div>
        <div class="easy-setup-col2">
            <h3>{{'easy_setup'|translate}}</h3>
            <p>{{'easy_setup_desp1'|translate}}</p>
            <p><strong>{{'easy_setup_desp2'|translate}}</strong>
            </p>
        </div>
    </div>
</section>
<section>
    <div class="esports-betting-middle-main">
        <div class="esports-betting-middle-row1">
            <div class="esport_bet_center">
                <h2>{{'esport_bet_center_h1'|translate}}</h2>
                <p>{{'esport_bet_center_p1'|translate}}</p>
                <p>{{'esport_bet_center_p2'|translate}}</p>
            </div>
        </div>
        <div class="esports-betting-middle-row2"><img class="all_images" src="assets/vrnl image 10_11zon.webp"
                alt="eSports Betting environmen"> </div>
    </div>
</section><app-footer></app-footer>