<app-header3></app-header3>
<section>
    <div class="esports-betting-main">
        <div class="esports-betting-col1">
            <h1>eSports Betting Software</h1>
            <p>Our gaming platform features eSports betting software, enabling your users to wager on top eSports games. They can even enjoy Live Twitch streams alongside the betting action.</p>
            <p style="padding-top: 2.25em;">The eSports phenomenon has gained extensive popularity in the United States and is currently experiencing remarkable growth in the Latin American market.</p>

            <div class="esports-betting-col1-button">
                <button class="button-design" routerLink="/contact">Start Now</button>
            </div>

        </div>

        <div class="esports-betting-col2">
<img class="esport_img" src="assets/vrnl image 2.webp" alt="eSports Betting">
        </div>
    </div>
</section>


<!-- ============================================================= -->

<section class="esport_section" style="padding-top: 7%;">
    <div class="top-esports-main">
        <div class="top-esports-col1">
            <h2> <b>Top eSports titles </b></h2>

            <p>Counter-Strike: Global Offensive 
                <br>
                Dota 2
                <br>
                League of Legends
                <br>
                FIFA
                <br>
                Call of Duty
                <br>
                King of Glory</p>
                
                <p>Furthermore, in addition to the most popular titles, we also offer a wide range of common eSports genres through our feed:</p>
                <p><strong>Sports Games:</strong> FIFA, Madden NFL, NBA 2K, Pro Evolution Soccer, Rocket League.</p>
                <p><strong>Multiplayer Online titles like:</strong> Dota 2, League of Legends, Smite, Heroes of the Storm.</p>
                <p><strong>First-Person Shooter FPS:</strong> CS:GO, Call of Duty, Rainbow Six: Siege, Overwatch.</p>
                <p><strong>Fighting Games:</strong> Street Fighter, Super Smash Bros, Tekken.</p>
                <p><strong>Real-Time Strategy RTS:</strong> StarCraft: Brood War, Warcraft III, StarCraft II.</p>
                <p><strong>Battle Royale:</strong> PUBG, Fortnite, Apex Legends.</p>
                <p>In summary, our collection of titles and games is vast and continually expanding to keep your users engaged.</p>
        </div>
        <div class="top-esports-col2">
                <div class="top-esports-col2-image">
                    <img class="esports_1" src="assets/Counter-Strike-Global-Offensive.png.webp" alt="Top eSports titles">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_2"  src="assets/Dota-2-logo.png.webp" alt="Top eSports titles">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_3" src="assets/overwatch.png.webp" alt="Top eSports titles">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_4" src="assets/NBA2k.jpg.webp" alt="Top eSports titles">
                </div >

                <div class="top-esports-col2-images">
                    <img class="esports_5" src="assets/Warcraft-III.png.webp" alt="Top eSports titles">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_6" src="assets/League-of-Legends.png.webp" alt="Top eSports titles">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_7" src="assets/Rocket-League.png.webp" alt="Top eSports titles">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_8" src="assets/Call-of-Duty-esports.png.webp" alt="Top eSports titles">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_9" src="assets/King-of-Glory.png.webp" alt="Top eSports titles">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_10" src="assets/Madden-NFL.png.webp" alt="Top eSports titles">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_11" src="assets/Rainbow-Six-Siege.png.webp" alt="Top eSports titles">
                </div>

                <div class="top-esports-col2-images">
                    <img class="esports_12" src="assets/fortnite.png.webp" alt="Top eSports titles">
                </div>
        </div>
    </div>
</section>


<!-- ============================================================= -->

<section>
    <div class="easy-setup-main">
        <div class="easy-setup-col1-photo">
<img src="assets/VRNL 1-1.jpg" alt="setup and creation of the online networks">
        </div>

        <div class="easy-setup-col2">
    <h3>Easy setup, less than you might imagine.</h3>

    <p>We can deliver the eSports platform in just a matter of weeks.<br>
        We handle all aspects of the process: Hosting, User Interface, odds feed, customized pages, product activation, and sportsbook strategy.</p>
        <p><strong>Your primary focus can be dedicated to setting up and establishing your online networks.</strong></p>
        </div>
    </div>
</section>

<!-- ============================================================= -->




<section>
    <div class="esports-betting-middle-main">
        <div class="esports-betting-middle-row1">

            <div class="esport_bet_center">
                <h2>If you're contemplating an entry into the realm of Online Gambling, our eSports betting software offers a valuable initial stride.</h2>
                <p>Leverage our professional services, expertise, and our advanced eSports betting platforms and technology. Our regulated partners receive comprehensive support to venture into the online betting industry and can access Branded/Non-Branded versions of our platforms.</p>
                <p>Embarking on the establishment of an Online Sportsbook with a primary focus on eSports can present its challenges! This is precisely why we've curated an all-encompassing eSports Betting environment, complete with Pre-match Betting Services, with the goal of providing you with the widest array of eSports options available online.</p>
            </div>
        </div>
        <div class="esports-betting-middle-row2">
<img class="all_images" src="assets/vrnl image 10.webp" alt="eSports Betting environmen">
        </div>

    </div>
</section>

<!-- ============================================================= -->
<app-footer></app-footer>