<app-header></app-header>
<section class="first-sec">
  <div class="first-head">
    <h1>{{'privacy_policy'|translate}}</h1>
    <div class="home">
      <a href="/index.html" class="dash">{{'home'|translate}} -</a>
      <span class="lil-para">{{'privacy_policy'|translate}}</span>
    </div>
  </div>
</section>
<div class="container">
  <h3>{{'our_commitment'|translate}}</h3>
  <p>&nbsp;</p>
  <div class="row">
    <p class="para_14">
      {{'our_commitment_p1'|translate}}
    </p>
    <p class="para_14">
      {{'our_commitment_p2'|translate}}
    </p>
    <p class="para_14">
      {{'our_commitment_p3'|translate}}
    </p>
    <p class="para_14">{{'our_commitment_p4'|translate}}</p>
    <p class="para_14">
      {{'our_commitment_p5'|translate}}
    </p>
    <p class="para_14">
    </p>
    <h3>{{'user_content'|translate}}</h3>
    <p>&nbsp;</p>
    <p>
      {{'user_content_para'|translate}}
      <!-- By using vrnl service (for example, when you register for an account, purchase a service, enter a contest or
      promotion, communicate with us, on our sites or applications), you agree to our collection, use and sharing of
      your personal information as described in this policy. In some cases, particularly if you reside in a country
      governed by a data protection regulation, we may ask you to provide explicit consent to access our services before
      proceeding for further operations. In case of any roaming user profile or if you are a traveller visiting various
      countries around the world and avail vrnl services, then we will consider the country of registration as your
      primary country and the consents obtained at the time of registration will be valid for your processing of
      personal information. The privacy terms applicable as per the law of that country at the time of registration will
      be applicable to you. -->
    </p>
    <p class="para_14">
    </p>
    <h3>{{'accessing_webNet'|translate}}</h3>
    <p>&nbsp;</p>
    <p>
      {{'accessing_webNet_p1'|translate}}
    </p>
    <p class="para_14">
      {{'accessing_webNet_p2'|translate}}
    </p>
    <p class="para_14">
    </p>
    <h3>{{'collection_personalInfo'|translate}}</h3>
    <p>&nbsp;</p>
    <p>
      {{'collection_personalInfo_p1'|translate}}
    </p>
    <p class="para_14">
      {{'collection_personalInfo_p2'|translate}}
    </p>
    <p class="para_14">
      {{'collection_personalInfo_p3'|translate}}
    </p>
    <ul class="privacy_list_2 ">

      <strong>{{'info_provide_us'|translate}} </strong><br>
      {{'info_provide_us_desp'|translate}}<br><br>
      <strong>{{'reg_data'|translate}} </strong><br>
      {{'reg_data_desp'|translate}}
      <ul class="privacy_list clearfix" [innerHTML]="'reg_data_list'|translate">
        <!-- <li><span>First Name</span></li>
          <li><span>Last Name</span></li>
          <li><span>Email Address</span></li> -->
      </ul>
      <br>
      <strong>{{'user_pro_details'|translate}}</strong><br>
      {{'user_pro_details_desp'|translate}}<br>
      <ul class="privacy_list clearfix" [innerHTML]="'user_pro_details_list'|translate">
        <!-- <li><span>Name</span></li>
          <li><span>Gender</span></li>
          <li><span>Email ID</span></li>
          <li><span>Date of birth</span></li>
          <li><span>Country</span></li>
          <li><span>City</span></li>
          <li><span>Mobile Number</span></li> -->
      </ul>
      <br>
      <!-- <strong>c. User portfolio details</strong><br>
        In addition to the above mentioned information, the user may also create a "Portfolio" by providing the
        financial details regarding the following:
        <ul class="privacy_list clearfix">
          <li><span>Stocks</span></li>
          <li><span>Mutual Funds</span></li>
          <li><span>ULIPs</span></li>
          <li><span>Bullion</span></li>
          <li><span>Fixed income</span></li>
          <li><span>Loans</span></li>
          <li><span>Property</span></li>
          <li><span>Asset details</span></li>
          <li><span>Investment transaction details</span></li> 
        </ul>
        {{'financial_info'|translate}}
        <ul class="privacy_list clearfix" [innerHTML]="'financial_info_list'|translate">
          <li><span>Providing recommendations and daily alerts to the user</span></li>
          <li><span>Customization of content on the website for enhanced user experience</span></li>
        </ul>
        <br>  -->
      <strong>{{'mobile_device_permissions'|translate}}</strong><br>
      {{'mobile_device_permissions_desp'|translate}}
      <ul class="privacy_list clearfix" [innerHTML]="'mobile_device_permissions_list'|translate">
        <!-- <li><span>Accounts - Used for managing multiple user accounts within the app and for Login purposes</span>
          </li>
          <li><span>Contacts - Used for accessing users Contact in order to share articles through the app</span></li>
          <li><span>Phone - To read phone state and enable user notifications on user's device. IMEI is being collected
              to uniquely identify every user only</span></li>
          <li><span>Camera - In order for the user to upload images and profile image of the User. Let's user use Camera
              inside of vrnl</span></li>
          <li><span>Microphone - To enable voice command related actions</span></li>
          <li><span>Storage - To access files folders from inside the App</span></li>
          <li><span>SMS - To send and receive verification messages</span></li>  -->
      </ul>
      <p class="para_14">{{'mobile_device_permissions_desp2'|translate}}</p>


      <p class="para_14">
        <strong>{{'info_voluntarily'|translate}}</strong><br>
        {{'info_voluntarily_desp'|translate}}
      </p>
      <p class="para_14">
        {{'info_voluntarily_para'|translate}}
      </p>





      <p class="para_14">
        <strong>{{'info_auto'|translate}}</strong><br>
        {{'info_auto_desp'|translate}}
      </p>
      <ul class="privacy_list clearfix" [innerHTML]="'info_auto_list'|translate">
        <!-- <li><span>Activities on vrnl.net such as type of pages viewed, time spent on pages, search queries etc.</span>
          </li>
          <li><span>Your interactions with our email, customer care and messaging platform.</span></li>
          <li><span>Geo-location information through IP addresses;</span></li>
          <li><span>Device information like device id, device model etc. and other unique identifiers</span></li>
          <li><span>Advertising identifiers, such as those found on mobile devices &amp; tablets, devices that include
              identifiers(for example the Identifiers for Advertisers (IDFA) on iOS devices and GAID on Android
              devices);</span></li>
          <li><span>Information collected via the use of cookies and other technologies* ;</span></li> -->
      </ul>
      <br>
      <p class="para_14" [innerHTML]="'info_auto_note'|translate">
        <!-- *Note: To enhance your experience, we may use <b>cookies</b> or similar technologies to assign you a <b>unique User ID</b>
          and understand your interests.<b>Cookies</b>  do not reveal your identity unless you provide it voluntarily, nor can
          they access data from your device. Advertisers may set their own cookies when you interact with their ads,
          which we do not control. We also collect certain technical information whenever you use our websites,
          applications, or services on any internet-connected device. -->
      </p>





      <p class="para_14">
        <strong>{{'inferred_info'|translate}}</strong><br>
        {{'inferred_info_desp'|translate}}
      </p>
      <p class="para_14" [innerHTML]="'inferred_info_list'|translate">
        <!-- <strong style="font-size: 19px;" class="strongly">
          We may also collect Your Information to track user behaviour
          and preferences for internal analytics and research. We may also use your information:</strong><br>
        (i) To evaluate Your interest for investment options, services, offers, subscriptions; <br>
        (ii) To perform analytics and conduct customer research, to determine your interest, for identifying content
        that generate sales and to analyse traffic patterns.<br> -->
      </p>
      <ul class="privacy_list_2 clearfix">
        <div>
          <strong>{{'inferred_info_a'|translate}}</strong><br>
         {{'inferred_info_a_desp1'|translate}} <br>
          {{'inferred_info_a_desp2'|translate}}
        </div>
        <br>
        <div>
          <strong>{{'inferred_info_b'|translate}}</strong><br>
          {{'inferred_info_b_desp1'|translate}}<br>
          {{'inferred_info_b_desp2'|translate}}
        </div>
      </ul>
      <p></p>





      <p class="para_14"> <strong>{{'info_thirdparty'|translate}}</strong></p>
      <ul class="privacy_list_2 clearfix">
        <div>
          <strong>{{'info_thirdparty'|translate}}</strong><br>
          {{'info_thirdparty_a_desp'|translate}}
          <ul class="privacy_list clearfix" [innerHTML]="'info_thirdparty_a_list'|translate">
            <!-- <li><span>Facebook - Public information, Name, Email id, friend list</span> </li>
            <li><span>Google - First name, Last name, Email id </span></li> -->
          </ul>
        </div>

        <div>
          <strong>{{'info_thirdparty_b'|translate}}</strong><br>
          {{'info_thirdparty_b_desp'|translate}}
        </div>

        <br>
        <!-- <div>
            <strong>c. Financial Information</strong><br>
            For provision of services and subscriptions, you may be required to present additional financial or
            sensitive personal information to our partners, on their respective websites (e.g. PAN card details for
            mutual funds). You understand, agree and acknowledge that vrnl.net does not process any information provided
            on partner/vendor websites. Your Personal Information, Sensitive Personal Data or Information and financial
            information will be dealt by these partners in accordance with their respective privacy policies and other
            terms and conditions and vrnl.net shall not be liable, accountable or responsible for Your Personal
            Information, Sensitive Personal Data and Financial Information which you provide to these payment gateways.
            vrnl.net may however receive a copy of such information (e.g. PAN numbers, transaction IDs and details)
            provided by you to third parties (vendors, partners) solely for the purpose of reconciliation and validation
            of transaction, or for the purpose of resolution of complaints such as a transaction failure, processing of
            refunds, only as permissible by the local law. vrnl.net will not process any information without consents,
            as applicable by the local laws.
          </div>
          <br>
          <div>
            <strong>d. Auto renewal Subscription</strong><br>
            When you chose any subscription or paid service, we or our payment gateway provider may collect your
            purchase, address or billing information, including your credit card number and expiration date etc. However
            when you order using an in-app purchase option, same are handled by such platform providers. The
            subscriptions or paid Services may be on auto renewal mode unless cancelled. If at any point you do not wish
            to auto-renew your subscription, you may cancel your subscription before the end of the subscription term.
            We do not capture/store any personal payment information with us.
          </div>
          <br>
          <div>
            <strong>d. Information from other Sources</strong><br>
            We may receive information about you from other sources, add it to our account information and treat it in
            accordance with this policy. If you provide information to the platform provider or other partner, whom we
            provide services, your account information and order information may be passed on to us. We may obtain
            updated contact information from third parties in order to correct our records and fulfil the Services or to
            communicate with you. Demographic and purchase information: We may reference other sources of demographic
            and other information in order to provide you with more targeted communications and promotions, based on the
            consents provided by you.
          </div> -->
      </ul>



    </ul>
    <p class="para_14">
      <strong>{{'lawfulness_processing'|translate}}</strong><br>
      {{'lawfulness_processing_desp1'|translate}}
    </p>
    <p class="para_14">
      {{'lawfulness_processing_desp2'|translate}}
    </p>
    <ul class="privacy_list clearfix" [innerHTML]="'lawfulness_processing_list'|translate">
      <!-- <li><span>determine your portfolio requirements and provide personalized suggestions, tips and predictions on
          market trends, alerts on the market changes and statistics of indices, all of which we think will be of
          interest to you;</span></li>
      <li><span>prevent, detect and investigate potentially prohibited or illegal activities, including fraud;</span>
      </li>
      <li><span>analyze and understand our audience, improve our service (including our user interface experiences) and
          optimize content selection, recommendation algorithms and delivery;</span></li>
      <li><span>communicate with you concerning our service (for example by email, push notifications text messaging,
          and online messaging channels), so that we communicate news regarding vrnl.net to you, details about new
          features and content available on the vrnl.net, and special offers, promotional announcements, contests and
          consumer surveys, and to assist you with operational requests such as password reset requests. </span></li>
      <li><span>Notify you about changes in terms of service.</span></li>
      <li><span>Allow you to participate in interactive features offered through our Services.</span></li>
      <li><span>Carry out our obligations and enforce our rights arising from any contracts entered into between you and
          us, including for billing, chargeback and collection.</span></li> -->
    </ul>
    <p class="para_14">{{'lawfulness_processing_desp3'|translate}}</p>
    <p class="para_14">
      {{'lawfulness_processing_desp4'|translate}}
    </p>

    <p class="para_14"> <strong>{{'info_usedBy'|translate}}</strong><br>
      {{'info_usedBy_desp1'|translate}}
      <!-- The Information as supplied by the users enables us to improve the Services and provide you the most user-friendly
      experience. In some cases/provision of certain service(s) or utility (ies), we may require your contact address as
      well. All required information is service dependent and the Company may use the above said user Information to,
      maintain, protect, and improve the Services (including advertising on the "Application") and for developing new
      services. We may also use your email address or other personally identifiable information to send commercial or
      marketing messages with your consent, as applicable by local laws [with an option to subscribe / unsubscribe
      (where feasible)]. We may, however, use your email address without further consent for non-marketing or
      administrative purposes (such as notifying you of major changes, for customer service purposes, billing, etc.) -->
    </p>
    <p class="para_14">
      {{'info_usedBy_desp2'|translate}}
      <!-- Any personally identifiable information provided by you will not be considered as sensitive if it is freely
      available and / or accessible in the public domain like any comments, messages, blogs, scribbles available on
      social platforms like Facebook, twitter etc. Any posted/uploaded/conveyed/communicated by users on the public
      sections of the website or the Application becomes published content and is not considered personally identifiable
      information subject to this Privacy Policy. In case you choose to decline to submit personally identifiable
      information, we may not be able to provide certain services to you. In any case, we will not be liable and or
      responsible for the denial of certain services to you for lack of you providing the necessary personal
      information. When you register with the Application or Services, we contact you from time to time about updating
      your personal information to provide the users such features that we believe may benefit / interest you. -->
    </p>
    <p class="para_14"><strong>{{'disclosure_tp'|translate}}</strong></p>
    <ul class="privacy_list_2 clearfix">
      <div [innerHTML]="'disclosure_tp_a_desp'|translate">
      </div>
      <br>
      <div>
        <strong>{{'disclosure_tp_b'|translate}} </strong><br>
        {{'disclosure_tp_b_desp'|translate}}
        <!-- When we present information to our advertisers -- to help them understand our audience and confirm the value of
        advertising on our websites or Applications -- it is usually in the form of aggregated statistics on traffic to
        various pages / content within our websites or Applications. We use third-party advertising companies to serve
        ads when you visit our websites or Applications. These companies may use information (including your name,
        address, email address or telephone number or any other personally identifiable information) about your visits
        to this and other websites or application, in order to provide advertisements about goods and services of
        interest to you. We do not provide any personally identifiable information to third party websites / advertisers
        / ad-servers without your consent. -->
      </div>
      <br>
      <div [innerHTML]="'disclosure_tp_c_desp'|translate">
      </div>
      <br>
      <div>
        <strong>{{'disclosure_tp_d'|translate}}</strong><br>
        {{'disclosure_tp_d_desp'|translate}}
        <!-- We'll share or disclose your personal information outside of vrnl.net when we have your consent. For example,
        providing SMS and E-mail related services such as marketing newsletters, promotions and offers. -->
      </div>
      <br>
      <div [innerHTML]="'disclosure_tp_e_desp'|translate">
      </div>
      <br>
      <div>
        <strong>{{'disclosure_tp_f'|translate}}</strong><br>
        {{'disclosure_tp_f_desp'|translate}}<br>
        <ul class="privacy_list clearfix" [innerHTML]="'disclosure_tp_f_list'|translate">
          <!-- <li><span>conform to the edicts of the law or comply with legal process served on the site or its owners;
            </span></li>
          <li><span>protect and defend the rights or property of the site-owners, the site or the users of
              vrnl.net;</span></li>
          <li><span>Act under exigent circumstances to protect the personal safety of users of vrnl.net, the site, its
              owners, or the public.</span></li> -->
        </ul>
      </div>
    </ul>
    <p class="para_14"> <strong>{{'controls_choices'|translate}}</strong><br></p>
    <ul class="privacy_list_2">
      <li>
        <strong>{{'managing_info'|translate}}</strong><br>
        {{'managing_info_desp1'|translate}}<br>
       {{'managing_info_desp2'|translate}}<br>
        {{'managing_info_desp3'|translate}}<br>
        {{'managing_info_desp4'|translate}}
      </li>
      <br>
      <div>
        <strong>{{'dataAccess_port'|translate}}</strong><br>
        {{'dataAccess_port_desp'|translate}}
        <!-- The EU - (General Data Protection Regulation) entitles you, as the data subject, to request copies of your
        personal information held by us. You may also be entitled to request copies of personal information that you
        have provided to us in a structured, commonly used, and machine-readable format and/or request us to transmit
        this information to another service provider (where technically feasible) -->
      </div>
      <br>
      <div [innerHTML]="'rectification_iii_desp'|translate">
      </div>
      <br>
      <div>
        <strong>{{'data_retention'|translate}}</strong><br>
        {{'data_retention_desp1'|translate}}
        <!-- We retain your personal information as long as necessary for the legitimate interests specified in this policy
        and for us to comply with our legal obligations. If you no longer want us to use your information then you can
        request that we erase your personal information and close your vrnl.net account. -->
        <br>
        {{'data_retention_desp2'|translate}}
        <!-- Please note that if your request for the erasure of your personal information; -->
        <br>
        <ul class="privacy_list clearfix" [innerHTML]="'data_retention_list'|translate">
          <!-- <li><span>We may retain some of your personal information as necessary for our legitimate business interests,
              such as fraud detection and prevention and enhancing safety. For example, if we suspend a vrnl.net account
              for fraud or safety reasons, we may retain certain information from that account to prevent that user from
              opening a new account in the future.</span></li>
          <li><span>We may retain and use your personal information to the extent necessary to comply with our legal
              obligations. For example, we may keep some of your information for tax, legal reporting and auditing
              obligations.</span></li>
          <li><span>Information you have shared with others (e.g., Reviews, forum postings) may continue to be publicly
              visible on vrnl.net, even after your account is cancelled. However, attribution of such information to you
              will be removed. Additionally, some copies of your information (e.g., log records) may remain in our
              database, but are disassociated from personal identifiers.</span></li>
          <li><span>Because we maintain copies of personal information to protect from accidental or malicious loss and
              destruction, residual copies of your personal information may not be removed from our backup systems for a
              limited period of time.</span></li> -->
        </ul>
        <i>{{'data_retention_note'|translate}}
          <!-- (Note: If you have multiple accounts with moneycontrol, you will need to raise separate requests for each of
          those accounts, using the associated email IDs) -->
        </i>
      </div>
      <br>
      <div>
        <strong>{{'withdrawing_consent'|translate}}</strong><br>
        {{'withdrawing_consent_desp'|translate}}
        <!-- For withdrawing your consent at any time during the tenure of your services with us, you may choose to do so by
        sending us an e-mail. We shall review your request and may ask you to verify your identity. Post verification we
        will withdraw the consent for which request was made by you and stop any further processing of your personal
        information -->
      </div>
      <br>
      <div [innerHTML]="'objection_processing_desp'|translate">
      </div>
    </ul>
    <p class="para_14">
      <strong>{{'fail_provideConsent'|translate}}</strong><br>
      {{'fail_provideConsent_desp'|translate}}
      <!-- It is our duty to inform you that vrnl.net is an ad-serving platform. Advertisements form the core of our
      business, therefore permissions to use and process your personal information to provide advertisements is
      essential for us to provide services to You. Use of personal information for ad-serving is a binding criterion and
      we will not be able to provide you with Our services if you fail to authorise us to use your personal information
      for the purpose of ad-serving and the activities related to it. -->
    </p>
    <p class="para_14">
      <strong>{{'childrens_privacy'|translate}}</strong><br>
      {{'childrens_privacy_desp1'|translate}}
      <!-- vrnl.net is not intentionally designed for or directed at persons less than 16 years of age. vrnl does not
      knowingly permit any person who is under 16 years of age to register with the services or to provide any other
      personally identifying information. If vrnl becomes aware that any personally identifiable information of persons
      less than 16 years of age has been collected on the vrnl.net without verified parental consent, then vrnl will
      take the appropriate steps to delete any such information and notify the parent. -->
    </p>
    <p class="para_14">
      {{'childrens_privacy_desp2'|translate}}
      <!-- However, we consider it the responsibility of parents to monitor their children's use of our services.
      Nevertheless, it is our policy not to collect and process any personal information from children below 16 years of
      age or offer to send any promotional materials to persons in that category. vrnl does not seek or intend to seek
      or receive any personal information from children. Should a parent or guardian have reasons to believe that a
      minor has provided vrnl with personal information without their prior consent, please contact our customer support
      team to ensure that the personal information is removed from vrnl.net. -->
    </p>
    <p class="para_14">
      <strong [innerHTML]="'data_transfer'|translate"></strong><br>
      {{'data_transfer_desp'|translate}}
      <!-- We operate globally and may transfer your personal information to individual companies of the vrnl affiliated
      companies or third parties in locations around the world for the purposes described in this privacy policy.
      Wherever your personal information is transferred, stored or processed by us, we will take reasonable steps to
      safeguard the privacy of your personal information. Additionally, when using or disclosing personal information
      transferred from the European Union, we use standard contractual clauses approved by the European Commission,
      adopt other means under European Union law for ensuring adequate safeguards. -->
    </p>
    <p class="para_14">
      <strong> {{'security_compliance'|translate}}</strong><br>
      {{'security_compliance_desp'|translate}}
      <!-- We are continuously implementing and updating administrative, technical, and physical security measures to help
      protect your information against unauthorized access, loss, destruction, or alteration. Some of the safeguards we
      may use to protect your information are firewalls and data encryption, and information access controls. If you
      know or have reason to believe that your vrnl.net account credentials have been lost, stolen, altered, or
      otherwise compromised or in case of any actual or suspected unauthorized use of your account, please contact us by
      contacting our customer support team. -->
    </p>
    <p class="para_14">
      <strong> {{'changein_policy'|translate}} </strong><br>
      {{'changein_policy_desp'|translate}}
      <!-- This Privacy Policy is subject to change from time to time. We reserve the right, at our sole discretion, to
      modify the terms of this Privacy Policy from time to time in order to ensure compliance with applicable laws
      ("Updated Terms"). The Updated Terms shall be effective immediately and shall supersede the terms of this Privacy
      Policy. We will notify you of any changes to this privacy policy if the changes made to the policy significantly
      affects your rights or as may be required by law. You shall be solely responsible for reviewing the Privacy Policy
      from time to time for any modifications. By continuing to use vrnl.net after the updated Terms have been
      published, you affirm your agreement to the updated terms. -->
    </p>
    <p class="para_14"> <strong>{{'contact_info'|translate}}</strong><br>
    </p>
    <ul class="privacy_list_2 clearfix">
      <div>
        <strong>{{'contact_info_a'|translate}}</strong><br>
        {{'contact_info_a_desp'|translate}} <a
          href="mailto:GDPR@NW18.com" title="GDPR@NW18.com">vrnl@gmail.com</a>
      </div>
      <br>

      <div>
        <strong>{{'contact_info_b'|translate}}</strong><br>
        {{'contact_info_b_desp1'|translate}} <br>
        {{'contact_info_b_desp2'|translate}}
      </div>
    </ul>
  </div>
</div>
<app-footer></app-footer>