<app-header></app-header>
<div class="main-container">
    <div class="container1">
        <div class="left-content">
            <h1 class="theme_header">We are VRNL</h1>
            <p><strong>THE BIGGEST PLATFORM FOR PROVIDING  SPORTS AND CASINO WHITE LABEL</strong> The widest selection of entertainment games available online White Label Casino with more than 1,000 games. Available online casino software is simple as our platform is easy to manage.</p>
            <div class="theme_card">
                <div class="theme_card_container">
                    <h3 class="theme_h"> Responsive Design
                    </h3>
                    <p class="theme_p">Our website is responsive, which means it displays properly on tablets, mobile devices, and desktops for an optimal user experience.</p>
                </div>
            </div>
            <div class="theme_card">
                <div class="theme_card_container">
                    <h3 class="theme_h"> Customization Options
                    
                    </h3>
                    <p class="theme_p">We provide our clients with a wide range of customization options, allowing them to choose their preferred colors, fonts, and layout for the website. This ensures that the website reflects their unique style and preferences.</p>
                </div>
            </div>
            <div class="theme_card">
                <div class="theme_card_container">
                    <h3 class="theme_h"> Loading Speed 
                  
                    </h3>
                    <p class="theme_p">Our website is optimized for speed and performance. It boasts fast loading times across various devices and internet connections.
                    </p>
                </div>
            </div>
        </div>
        <div class="right-images">
            <img src="assets/casino image_11zon(1).webp" alt="Image 1">
         
        </div>
    </div>

<div class="container_row">

<div class="container_col">
<!-- <p class="theme_para">
    Elevate your online presence with our captivating themes. Explore our collection today and embark on a journey to a visually stunning and highly functional digital space. Thank you for considering <strong>VRNL</strong> as your whitlable provider. We look forward to assisting you in creating a remarkable online experience!
</p> -->

<ul>

    <li class="theme_header"><h2 class="theme_header" >B2B (Business 2 Business)</h2></li>
    <P>our B2B theme is distinguished by its unique features. We've incorporated an additional Parley option for an enriched betting experience.our theme is characterized by the finest color combinations and design elements, ensuring an aesthetically pleasing interface.users are granted permissions to place bets on a wide range of sports including cricket, soccer, and tennis. We also have many different casino games for more entertainment options. Additionally, we feature various types of casinos, such as the AWC Casino, which hosts an impressive collection of over 500 slot games and more than 100 table games.</P>
  

    <li class="theme_header"><h2 class="theme_header" >B2C (Business 2 Customer)</h2></li>
<p>Our B2C site offers a user-friendly experience for our customers. They can easily register using their phone number, providing a convenient and secure way to create an account.</p>
<p>Once registered, users have the option to deposit funds into their accounts, making it simple to get started with betting and gaming. Additionally, we provide a seamless withdrawal process, ensuring that users can access their winnings effortlessly.</p>
<p>To enhance the experience, we offer bonus points that users can earn and use during their time on the platform. This adds an extra layer of excitement and value for our clients, allowing them to make the most of their deposits and withdrawals.</p>
<p>Overall, our B2C site is designed to provide a hassle-free and enjoyable betting and gaming experience, giving our customers the freedom to play, deposit, and withdraw with ease.</p>
 
</ul>

</div>

    <div class="container ">
        
    <div class="card">
        <div class="flip-box-front"> <a href="https://skyexch.vrnlexch.com/"target="_blank">
            <img class="lb_partner_logo logo1" src="assets/skylogo.png" alt="skylogo"></a>
           
            <h4 class="logoname">Skyexch</h4>
            </div>
            <div class="card-content">
                <h2>
                  Username : <span id="vrnldemo1">vrnldemo</span>
                  <i class="fas fa-copy" (click)="copytoclip('vrnldemo1')" [style.display]="copyed === 'vrnldemo1' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success" *ngIf="copyed === 'vrnldemo1'"></i>
                </h2>
                <h2>
                  Password : <span id="password1">Asdf1234</span>
                  <i class="fas fa-copy" (click)="copytoclip('password1')" [style.display]="copyed === 'password1' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success icon" *ngIf="copyed === 'password1'"></i>
                </h2>
              </div>

    </div>
    <div class="card">
        <div class="flip-box-front"><a href="https://velki.vrnlexch.com/"target="_blank">
            <img class="lb_partner_logo logo2" src="assets/velkilogo.webp" alt="velkilogo" ></a>
            
            <h4 class="logoname " style="    padding-top: 60px;">Velki</h4>
            </div>
            <div class="card-content">
                <h2>
                  Username : <span id="vrnldemo2">vrnldemo</span>
                  <i class="fas fa-copy" (click)="copytoclip('vrnldemo2')" [style.display]="copyed === 'vrnldemo2' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success" *ngIf="copyed === 'vrnldemo2'"></i>
                </h2>
                <h2>
                  Password : <span id="password2">Asdf1234</span>
                  <i class="fas fa-copy" (click)="copytoclip('password2')" [style.display]="copyed === 'password2' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success icon" *ngIf="copyed === 'password2'"></i>
                </h2>
              </div>

    </div>
    <div class="card">  
        <div class="flip-box-front"> <a href="https://gullybet.vrnlexch.com/"target="_blank">
           <img class="lb_partner_logo logo3" src="assets/gullybet.webp" alt="gullybet" ></a>
          
            <h4 class="logoname" style="    padding-top: 45px;">Gullybet</h4>

            </div>
            <div class="card-content">
                <h2>
                  Username : <span id="vrnldemo3">vrnldemo</span>
                  <i class="fas fa-copy" (click)="copytoclip('vrnldemo3')" [style.display]="copyed === 'vrnldemo3' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success" *ngIf="copyed === 'vrnldemo3'"></i>
                </h2>
                <h2>
                  Password : <span id="password3">Asdf1234</span>
                  <i class="fas fa-copy" (click)="copytoclip('password3')" [style.display]="copyed === 'password3' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success icon" *ngIf="copyed === 'password3'"></i>
                </h2>
              </div>

    </div>
    <div class="card"  >
        <div class="flip-box-front"> <a href="https://babu88.vrnlexch.com/"target="_blank">
            <img class="lb_partner_logo logo4" src="assets/bb88_logo_w_sponsor.webp "alt="bb88_logo_w_sponsor" ></a>
           
            <h4 class="logoname">Babu88</h4>
            </div>
            <div class="card-content">
                <h2>
                  Username : <span id="vrnldemo4">vrnldemo</span>
                  <i class="fas fa-copy" (click)="copytoclip('vrnldemo4')" [style.display]="copyed === 'vrnldemo4' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success" *ngIf="copyed === 'vrnldemo4'"></i>
                </h2>
                <h2>
                  Password : <span id="password4">Asdf1234</span>
                  <i class="fas fa-copy" (click)="copytoclip('password4')" [style.display]="copyed === 'password4' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success icon" *ngIf="copyed === 'password4'"></i>
                </h2>
              </div>

    </div>
    <div class="card">
        <div class="flip-box-front">   <a href="https://aura.vrnlexch.com/"target="_blank">
            <img class="lb_partner_logo logo5" src="assets/aura.webp" alt="aura" ></a>
         
            <h4 class="logoname">Aura444</h4>

            </div>
            <div class="card-content">
                <h2>
                  Username : <span id="vrnldemo5">vrnldemo</span>
                  <i class="fas fa-copy" (click)="copytoclip('vrnldemo5')" [style.display]="copyed === 'vrnldemo5' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success" *ngIf="copyed === 'vrnldemo5'"></i>
                </h2>
                <h2>
                  Password : <span id="password5">Asdf1234</span>
                  <i class="fas fa-copy" (click)="copytoclip('password5')" [style.display]="copyed === 'password5' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success icon" *ngIf="copyed === 'password5'"></i>
                </h2>
              </div>

    </div>
    <div class="card">
        <div class="flip-box-front"><a href="http://www.diamond.vrnlexch.com/"target="_blank">
            <img class="lb_partner_logo logo6" src="assets/diamond.png" alt="diamond" ></a>
            <h4 class="logoname">Diamond</h4>
            </div>
            <div class="card-content">
                <h2>
                  Username : <span id="vrnldemo6">vrnldemo</span>
                  <i class="fas fa-copy" (click)="copytoclip('vrnldemo6')" [style.display]="copyed === 'vrnldemo6' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success" *ngIf="copyed === 'vrnldemo6'"></i>
                </h2>
                <h2>
                  Password : <span id="password6">Asdf1234</span>
                  <i class="fas fa-copy" (click)="copytoclip('password6')" [style.display]="copyed === 'password6' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success icon" *ngIf="copyed === 'password6'"></i>
                </h2>
              </div>

    </div>
    <div class="card">
        <div class="flip-box-front">
            <a href="https://lotus.vrnlexch.com/"target="_blank">
            <img class="lb_partner_logo logo7" src="assets/lotus.webp" alt="lotus" ></a>
            <h4 class="logoname">Lotus</h4>
            </div>
            <div class="card-content">
                <h2>
                  Username : <span id="vrnldemo7">vrnldemo</span>
                  <i class="fas fa-copy" (click)="copytoclip('vrnldemo7')" [style.display]="copyed === 'vrnldemo7' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success" *ngIf="copyed === 'vrnldemo7'"></i>
                </h2>
                <h2>
                  Password : <span id="password7">Asdf1234</span>
                  <i class="fas fa-copy" (click)="copytoclip('password7')" [style.display]="copyed === 'password7' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success icon" *ngIf="copyed === 'password7'"></i>
                </h2>
              </div>
   
    </div>
    <div class="card">
        <div class="flip-box-front"><a href="https://9bazi.vrnlexch.com/"target="_blank">
            <img class="lb_partner_logo logo8" src="assets/logo-bazi.webp" alt="logo-bazi"></a>
            <h4 class="logoname">9bazi</h4>
            </div>
            <div class="card-content">
                <h2>
                  Username : <span id="vrnldemo8">vrnldemo</span>
                  <i class="fas fa-copy" (click)="copytoclip('vrnldemo8')" [style.display]="copyed === 'vrnldemo8' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success" *ngIf="copyed === 'vrnldemo8'"></i>
                </h2>
                <h2>
                  Password : <span id="password8">Asdf1234</span>
                  <i class="fas fa-copy" (click)="copytoclip('password8')" [style.display]="copyed === 'password8' ? 'none' : 'inline'"></i>
                  <i class="fas fa-check copy-success icon" *ngIf="copyed === 'password8'"></i>
                </h2>
              </div>

    </div>
    <div class="card">
      <div class="flip-box-front">
        <a href="https://world777.vrnlexch.com/" target="_blank">
          <img class="lb_partner_logo logo9" src="assets/world7777.webp" alt="world7777"></a>
        <h4 class="logoname">World777</h4>
      </div>
      <div class="card-content">
        <h2>
          Username : <span id="vrnldemo1">vrnldemo</span>
          <i class="fas fa-copy" (click)="copytoclip('vrnldemo9')" [style.display]="copyed === 'vrnldemo9' ? 'none' : 'inline'"></i>
          <i class="fas fa-check copy-success" *ngIf="copyed === 'vrnldemo9'"></i>
        </h2>
        <h2>
          Password : <span id="password1">Asdf1234</span>
          <i class="fas fa-copy" (click)="copytoclip('password9')" [style.display]="copyed === 'password9' ? 'none' : 'inline'"></i>
          <i class="fas fa-check copy-success icon" *ngIf="copyed === 'password9'"></i>
        </h2>
      </div>
    </div>
    <div class="card">
      <div class="flip-box-front">
        <a href="https://lcexch.vrnlexch.com/" target="_blank">
          <img class="lb_partner_logo logo10" src="assets/lcexch.webp" alt="lcexch">
        </a>
        <h4 class="logoname">Lcexch</h4>
      </div>
      <div class="card-content">
        <h2>
          Username : <span id="vrnldemo10">vrnldemo</span>
          <i class="fas fa-copy" (click)="copytoclip('vrnldemo10')" [style.display]="copyed === 'vrnldemo10' ? 'none' : 'inline'"></i>
          <i class="fas fa-check copy-success" *ngIf="copyed === 'vrnldemo10'"></i>
        </h2>
        <h2>
          Password : <span id="password10">Asdf1234</span>
          <i class="fas fa-copy" (click)="copytoclip('password10')" [style.display]="copyed === 'password10' ? 'none' : 'inline'"></i>
          <i class="fas fa-check copy-success icon" *ngIf="copyed === 'password10'"></i>
        </h2>
      </div>
    </div>
    
    
          
          
          
          
    </div>

</div>
</div>

<app-footer></app-footer>