<app-header></app-header>
<section id="animate-area">
    <div class="main_sec"> 
         <section class="typing-container">
             <h1 class="home_header_h1">Bitcoin
                 <span class="typing-text"></span></h1>
           </section>
           <p class="param">Sirplay launched its first Bitcoin sportsbook software fully converted in the cryptocurrency in 2017.</p>
 
    </div>
 </section>

 <section class="bitcoin">
    <div class="bitcoin-main">
        <div class="bit-head">
            <h1>Bitcoin Sportsbook</h1>
            <p>We have developed a bitcoin sportsbook offering the bookmaker the possibility of customizing it
                according to the target market and preferences. <br>

                <br> Our specialists will work alongside you, learning your needs and the market requirements, and
                taking
                care of each step of the building up process, delivering to you a complete and performing Platform.
            </p>
            <div class="onther_btn">
                <button class="hover-1_1 otn_s_1 "><i class="fa-solid fa-phone"></i>     Contact us!</button> 
            
            </div> 
        </div>
        <div class="bit-video">
            <iframe width="555" height="313" max-width="100%" src="https://www.youtube.com/embed/VeeIBRtNBis"
                title="Bitcoin Sports Betting Software" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="sports">
        <div class="bit-sports">
            <img class="bit_coin_img" src="assets/crypto_sportsbook.jpg.webp" alt="crypto_sportsbook.jpg.webp">
        </div>
        <div class="bit-feature">
            <h1>Bitcoin Sportsbook <span>Main features</span></h1>
            <p>The tools we put at your disposal to manage our Sportsbook are hundreds, here we list the most
                powerful and above all those necessary to compete online:</p>
            <ul class="bitsports-list">
                <li>Privacy and anonymity respected.
                </li>
                <li>All popular worldwide sports, all leagues, and all betting markets including 150.000 pre-match
                    and 75.000 in-play monthly.
                </li>
                <li>Any Wallet including those of web 3.0 like MetaMask, Trust Wallet, Argent, Ledger,
                    MyEtherWallet, Authereum and hundreds of others.
                </li>
                <li>Any Dapps the most famous such as: Binance DEX, PancakeSwap, Splinterlands and hundreds of
                    others.
                </li>
                <li>Blockchain and commission fees Management.
                </li>
                <li>Automated trading tools that give you control of your own margins, suspensions, odds ladders and
                    more.
                </li>
                <li>Bonus Tools, Campaign builder and many Marketing tools.
                </li>
            </ul>
            <h6>Can be integrated via API or iFrame.</h6>
        </div>
    </div>

    <div class="how-head">
        <h2>How to use bitcoin in your sports betting software</h2>
        <p>Sirplay offers <b>two ways to switch your betting platform</b> in a Bitcoin betting solution: use it as a
            payment method option or as your currency. The difference seems slight but it’s massive.</p>
    </div>

    <div class="bit-method">
        <div class="bit-pay">
            <h2>Payment Method</h2>
            <p>Bitcoins can be converted to the Sportsbook currency during the depositing process, the wallet will
                be credited in the same way as using debit/credit cards or online payment processors.</p>
        </div>
        <div class="bit-img">
            <img src="assets/bitcoin-crypto-sportsbook-1-300x120.jpg.webp" alt="bitcoin-crypto-sportsbook-1.jpg.webp">
        </div>
        <div class="bit-currency">
            <h2>Currency</h2>
            <p>Bitcoin can be used as a currency for your betting software, using the cryptocurrency in the whole
                business cycle, avoiding trading dangers and managing your own commissions.</p>
        </div>
    </div>

    <div class="bit-need">
        <h1>Why the need for Bitcoin Sportsbook?</h1>
        <p>Right now, Bitcoin is still an all-around curiosity fighting to break into standard use, we have
            identified a number of benefits and innovations that will benefit the gambling industry.</p>
        <ul class="need-list">
            <li>Bitcoin and Cryptocurrencies are beginning to redefine the future of global finance.
            </li>
            <li>Low Fees: Players can benefit from very low transaction costs.
            </li>
            <li>Global Remittance: Bitcoin makes the bookmaker global, using a single currency that permanently
                eliminates the currency exchange, moreover it is always possible to make deposits and withdrawals at
                any time.
            </li>
            <li>Financial Innovation: The token economy is being built and with it comes a new generation of the
                internet, Web 3.0 is creating new opportunities that would not be possible otherwise.
            </li>
            <li>Transparency for bookmaker and their users: Blockchain makes data open/transparent in a way that has
                not existed in financial systems.
            </li>
        </ul>
    </div>

    <div class="bit-last">
        <div class="bitlast-img">
            <img src="assets/casino_software-1.jpg.webp" alt="casino_software-1.jpg.webp">
        </div>
        <div class="bit-casino">
            <h1>Bitcoin Casino</h1>
            <p>The Casino platform included in our sportsbook is simple as our software is easy to manage whether
                you are a novice or seasoned pro. <br>

                <br> At Sirplay, we will provide you with all the advice you need to start <a href="">crypto
                    casino</a>.
            </p>
        </div>
    </div>
</section>




<section class="contact_sec">
    <div class="contact_row">
      <div class="contact_col">
    <h3 class="contact_header">Contact US</h3>
    <p class="contact_para">Connect with a Sirplay expert for a detailed discussion about how our services might give benefits to your Betting business and create your own strategy.</p>
    <div class="contact_social">
      <div class="contact_details">
        <div class="row_col">
      <img src="assets/Skype_logo.png">
        </div>
        <div class="row_col_1">
          <p class="contact_b">English Spanish</p>
            </div>
      </div>
    </div>
    <div class="contact_social">
      <div class="contact_details">
        <div class="row_col">
      <img class="whats_img" src="assets/Whatsapp.jpg">
        </div>
        <div class="row_col_1">
          <p class="contact_a">+356 99972143</p>
            </div>
      </div>
     
    </div>
      </div>
      <div class="contact_col_1">
        <div class="contact_card">
          <form>
            <div class="name_label">
            <label for="fname">Full name</label>
            </div>
            <div class="name_input">
            <input type="text" id="fname" name="fname" value="" required>
            </div>
            <div class="email_label">
              <label for="fname"><b>Your  email</b></label>
              </div>
              <div class="email_input">
              <input type="text" id="fname" name="fname" value="" onkeypress="myFunction()">
              </div>
              <div class="email_label">
                <label for="fname"><b>Country</b></label>
                </div>
                <div class="email_input">
                <input type="tel" id="country_selector" name="phone" value="">
                </div>
                <div class="email_label">
                  <label for="fname"><b>Phone Number</b></label>
                  </div>
                  <div class="email_input">
                  <input  value="" id="phone" type="tel" name="phone">
                  </div>
                  <div class="email_label">
                    <label for="fname" ><b>Message</b></label>
                  </div>
                  <div class="text_area" >
                    <textarea rows="20" cols="44"></textarea>
                  </div>
    <div class="btn">
      <button class="con_btn">Submit</button>
    </div>
          </form>
        </div>
        <p class="con_param">We don’t share your personal information with anyone. Check out our <span class="white_change">“privacy policy”</span> for more information </p>
    
      </div>
    </div>
    </section>

    <section class="data_treading_sec">
      <h1>F.A.Q.  </h1>
  <br>
  <br>
        <h1 class="treading_head">What Is a Web3 sportsbook?
        </h1>
        <p class="theading_para">Web3 sportsbook is being touted as the future of the internet. The vision for this new, blockchain-based web includes cryptocurrencies, sports betting,</p> 
        <p>Web3 sportsbook is being touted as the future of the internet. The vision for this new, blockchain-based web includes cryptocurrencies, sports betting,</p> 

        <h1 class="treading_head">How many web3 casino games are available?
        </h1>
        <ul class="threading_list">
            <li>Slot machine 15,000 + more than
            </li>
            <li>Table 500 + more than

            </li>
            <li>Video poker 700 + more than
            </li>
            <li>Other games 200 + more than

            </li>
        </ul>
<h1 class="treading_head">What Web3 Live casino games do you have available?
</h1>
<ul class="threading_list">
    <li>American roulette live

    </li>
    <li>Live blackjack


    </li>
    <li>Baccarat live

    </li>
    <li>SICBO live


    </li>
    <li>Dragon tiger live
    </li>
    <li>Teen Patti live

    </li>
    <li>Andar Bahar live
    </li>
</ul>
<h1 class="treading_head">
    How many Web3 Bingo games do you have?


</h1>
<p class="theading_para">We have more than 80 Bingo games available for the web3

</p>

<h1  class="treading_head" >Can I integrate my NFT platform?
</h1>
<p class="theading_para">Yes of course, the integration is very simple and takes about two weeks.

</p>
          </section>


<app-footer></app-footer>