<div class="modal" *ngIf="visible" (click)="onBackdropClick($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close-btn" (click)="closeModal()">&times;</span>
        <h2 class="form-title">{{'request_demoID' | translate}}</h2>
        <form [formGroup]="demoForm" class="styled-form" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-grid">

                <!-- Name -->
                <div class="form-group">
                    <label for="name">{{'form_name'| translate}}</label>
                    <input type="text" id="name" formControlName="name" [placeholder]="'form_name_ph'|translate" />
                    <div class="error-msg" *ngIf="demoForm.get('name')?.invalid && demoForm.get('name')?.touched">
                        {{'form_name_err' | translate}}
                    </div>
                </div>
                <!-- <select (change)="changeLang($event)">
                    <option value="en">English</option>
                    <option value="es">Hindi</option>
                </select> -->

                <!-- Email -->
                <div class="form-group">
                    <label for="email">{{'form_email'| translate}}</label>
                    <input type="email" id="email" formControlName="email" [placeholder]="'form_email_ph'|translate" />
                    <div class="error-msg" *ngIf="demoForm.get('email')?.invalid && demoForm.get('email')?.touched">
                        {{'form_email_err' | translate}}
                    </div>
                </div>



                <!-- Country select with flag preview -->
                <div class="form-group">
                    <label for="country">{{'form_country'| translate}}</label>
                    <div class="custom-select-wrapper">
                        <select id="country" formControlName="country" (change)="updateFlag($event)">
                            <option value="" disabled selected>Select your country</option>
                            <option *ngFor="let country of countries" [value]="country.name"
                                [attr.data-flag]="country.flag">
                                <!-- <img [src]="`https://flagcdn.com/w80/${country.flag}.png`"
                                    alt="{{country.name}} flag" style="vertical-align: middle; margin-right: 5px;"> -->
                                {{ country.name }}
                            </option>
                        </select>
                        <div class="error-msg"
                            *ngIf="demoForm.get('country')?.invalid && demoForm.get('country')?.touched">
                            {{'form_country_err' | translate}}
                        </div>
                        <div id="flag-preview" class="flag-preview" *ngIf="selectedFlag">
                            <img [src]="'https://flagcdn.com/w40/' + selectedFlag + '.png'" alt="Flag" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="company">{{'form_district'| translate}}</label>
                    <input type="text" id="district" formControlName="district"
                        [placeholder]="'form_district_ph'|translate" />
                    <div class="error-msg"
                        *ngIf="demoForm.get('district')?.invalid && demoForm.get('district')?.touched">
                        {{'form_district_err' | translate}}
                    </div>

                </div>

                <!-- WhatsApp Number with Dial Code -->
                <div class="form-group ">
                    <label for="whatsapp">{{'form_whatsapp'| translate}}</label>
                    <div style="display: flex; gap: 6px; align-items: center;">
                        <input type="text" id="dialCode" [value]="selectedDialCode" readonly
                            style="width: 60px; background: #333; border: 1px solid #555; color: #ccc; text-align: center; border-radius: 6px; padding: 10px;"
                            aria-label="Country Dial Code" />
                        <input type="tel" id="whatsapp" formControlName="whatsapp"
                            [placeholder]="'form_whatsapp_ph'|translate" style="flex: 1; width: auto;" />
                    </div>
                    <div class="error-msg"
                        *ngIf="demoForm.get('whatsapp')?.invalid && demoForm.get('whatsapp')?.touched">
                        {{'form_whatsapp_err' | translate}}
                    </div>
                </div>


                <!-- Company Name -->
                <div class="form-group">
                    <label for="company">{{'form_turnover'| translate}}</label>
                    <input type="text" id="turnover" formControlName="turnover"
                        [placeholder]="'form_turnover_ph'|translate" />
                    <div class="error-msg"
                        *ngIf="demoForm.get('turnover')?.invalid && demoForm.get('turnover')?.touched">
                        {{'form_turnover_err' | translate}}
                    </div>

                </div>

                <div class="form-group ">
                    <label for="message">{{'form_users'| translate}}</label>
                    <input id="users" formControlName="users" [placeholder]="'form_users_ph'|translate">
                    <div class="error-msg" *ngIf="demoForm.get('users')?.invalid && demoForm.get('users')?.touched">
                        {{'form_users_err' | translate}}
                    </div>

                </div>

                <div class="form-group ">
                    <label for="message">{{'form_current'| translate}}</label>
                    <input id="issues" formControlName="issues" [placeholder]="'form_current_ph'|translate">
                    <div class="error-msg" *ngIf="demoForm.get('issues')?.invalid && demoForm.get('issues')?.touched">
                        {{'form_current_err' | translate}}
                    </div>

                </div>

                <!-- Message -->
                <div class="form-group full">
                    <label for="message">{{'form_issues'| translate}}</label>
                    <textarea id="message" formControlName="message" rows="4"
                        [placeholder]="'form_issues_ph'|translate"></textarea>
                    <div class="error-msg" *ngIf="demoForm.get('message')?.invalid && demoForm.get('message')?.touched">
                        {{'form_issues_err' | translate}}
                    </div>

                </div>

                <!-- Telegram status -->
                <div class="form-group full">
                    <label for="telegramStatus">{{'form_telegram'| translate}}</label>
                    <select id="telegramStatus" formControlName="telegramStatus"
                        (change)="toggleTelegramHandle($event)">
                        <option value="" disabled selected>{{'form_select'| translate}}</option>
                        <option value="Yes">{{'form_yes'| translate}}</option>
                        <option value="No">{{'form_no'| translate}}</option>
                    </select>
                    <div class="error-msg"
                        *ngIf="demoForm.get('telegramStatus')?.invalid && demoForm.get('telegramStatus')?.touched">
                        {{'form_telegram_err' | translate}}
                    </div>

                </div>

                <!-- Telegram Handle -->
                <div class="form-group full" id="telegramHandleWrapper" *ngIf="showTelegramHandle">
                    <label for="telegramHandle">{{'form_telhandle'| translate}}</label>
                    <input type="text" id="telegramHandle" formControlName="telegramHandle"
                        [placeholder]="'form_telhandle_ph'|translate" />
                    <div class="error-msg" *ngIf="demoForm.get('telegramHandle')?.errors?.['required']">
                        {{'form_telhandle_err1' | translate}}
                    </div>
                    <div class="error-msg" *ngIf="demoForm.get('telegramHandle')?.errors?.['pattern']">
                        {{'form_telhandle_err2' | translate}}
                    </div>

                </div>

                <!-- Demo URL -->
                <div class="form-group full">
                    <label for="demo_url">{{'demo_url'| translate}}</label>
                    <a id="demo_url" [href]="demoUrl" target="_blank">{{ demoUrl }}</a>
                </div>
            </div>

            <button type="submit" class="submit-btn">
                {{'form_submit' | translate}}
            </button>
        </form>
    </div>
</div>
<!-- Toast Notification -->
<div id="toast" [class.show]="toastVisible" [ngClass]="toastType">
    <span id="toast-spinner" *ngIf="toastType === 'info'"></span>
    <span id="toast-message">{{ toastMessage }}</span>
    <button id="toast-close" (click)="hideToast()"></button>
</div>