<!-- <section class="footer_sec_2">
    <div class="container_footer">
        <div class="footer_row">
            <div class="footer_col">
            <a target="_blank" href="https://www.gamblingcommission.gov.uk">
            <img src="https://b2c.static112233.com/assets/images/gamblingcomm.png"  alt="gamblingcomm" class="comp_1"/>
            </a>
                 
            </div>
            <div class="footer_col_1">
                <a  target="_blank" href="https://gordonmoody.org.uk/">
                    <img class="comp_1" src="https://b2c.static112233.com/assets/images/gordonmoody.png"  alt="gordonmoody" />
                  </a>

            </div>
            <div class="footer_col_2">
                <a   target="_blank" href="https://www.gamcare.org.uk/get-support/talk-to-us-now/">
                    <img class="comp_1"  src="https://b2c.static112233.com/assets/images/gamecare.png"  alt="gamecare"
                   />
                  </a>
            </div>
            <div class="footer_col_3">
                <a   target="_blank" href="https://betblocker.org/">
                    <img class="comp_1"  src="https://b2c.static112233.com/assets/images/betblocker.png"  alt="betblocker"
                     />
                  </a>

            </div>
        </div>
    </div>

</section> -->

<section class="social_sec">
    <div class="social_icons">
    
        <p class="footer_para_1">{{'footer_para_1'|translate}}</p>

           <p class="footer_para_2">{{'footer_para_2'|translate}}</p>
    </div>
</section>