<app-header></app-header>

<section class="first-sec">
    <div class="first-head">
      <h1>Betting Terminals</h1>
      <div class="home">
        <a href="/index.html">Home</a> <span class="dash">-</span>
        <span class="lil-para">Betting Terminals</span>
      </div>
    </div>
  </section>

  <section class="betting_terminal_sec">
    <ul class="ter_user_list">
      <li>
        <strong>
          Our betting terminals for the retail are designed to be All-in-One
          Solutions,</strong
        >
        with a printer, a POS, an Android System and our Ready-to-Go Betting
        Software.
      </li>
      <br />
      <li>
        To build a profitable and engaging in-store experience visit the
        Sports Betting Terminals section:
        <span style="color: #a0c528">
          Omnichannel platform to manage retail solutions
        </span>
      </li>
      <br />
      <li>
        When we say – Sirplay has the best sports betting solutions– we refer
        to the betting shops as well.
      </li>
      <br />
      <li>
        The hand-held terminals are really practical and light, they are
        <strong
          >perfect for the small betting shops or to sell tickets in the
          streets,</strong
        >
        as they are connectected to the internet through a SIM card.
      </li>
    </ul>
  </section>

  <section>
    <div class="terminals-all-in-one-main">
      <div class="terminals-all-in-one-col1">
        <h2>All-in-one sports betting terminals Android POS</h2>
        <img
          src="assets/Telepower-GPRS-NFC-Android-225x300.png.webp"
          alt=""
        />

        <p>
          <strong> Android OS</strong> – last version
          <br />
          Wi-Fi Connectivity +4g Network
          <br />
          Dual Sim Card
          <br />
          Barcode scanner
          <br />
          5″ LCD
          <br />
          Keypad
          <br />
          Internal extendable memory
          <br />
          Contactless card reader
          <br />
          5MP camera
        </p>
        <div
          class="sepratorT"
          style="
            height: 4px;
            width: 60px;
            border-radius: 5px;
            background: #a0c528;
            margin-top: 36px;
          "
        ></div>
      </div>

      <div class="terminals-all-in-one-col2">
        <div class="images_center">
          <img
            class="pay_img"
            src="assets/Tousei-Android-Handheld-Payment-POS-Tablet-Terminal-1.png.webp"
            alt=""
          />
        </div>
        <h2>All-in-one sports betting terminals Android POS</h2>
        <p>
          <strong>Android</strong> last OS<br />
          Integrated 4.0 Bluetooth<br />
          Wi-Fi Connectivity + 3g/4g network<br />
          Built-in 58mm thermal printer<br />
          NFC/chip cards/magnetic stripe cards supported<br />
          1D&amp;2D Barcode scanner<br />
          GPS integrated<br />
          Dual displays: touch screen and customer display<br />
          7″ LCD
        </p>
      </div>
    </div>
  </section>

  <!-- ====================================================  -->

  <section>
    <div class="terminals-android-main">
      <div class="terminals-android-col1">
        <img
          class="prin_img"
          src="assets/betting-Bluetooth-printer.webp"
          alt=""
        />
        <h2>Portable blutooth printer</h2>

        <p>
          <strong>Hi-Tech design</strong>
          <br />
          Mini dimensions fitting your pocket – 110mm x 45 mm x 85mm
          <br />
          Bluetooth integrated Wi-Fi Connectivity + 2g/3g/4g network
          <br />
          Support 1d/2d barcode
          <br />
          Built-in thermal printer, with 10m autonomy!
        </p>
      </div>

      <div class="terminals-android-col2">
        <h2>Android POS terminal</h2>
        <img
          class="and_img"
          src="assets/android-mini-ticket-printer.webp"
          alt=""
        />

        <p style="max-width: 500px; margin-bottom: 30px">
          <strong>Android</strong>
          last OS
          <br />
          Wi-Fi Connectivity +3g /4g network
          <br />
          2D barcode + QR code&nbsp;scanner integrated
          <br />
          Built-in 58mm thermal printer
          <br />
          5.5″ LCD
          <br />
          5200 mAh Battery
        </p>
        <div
          class="sepratorT"
          style="
            height: 4px;
            width: 60px;
            border-radius: 5px;
            background: #a0c528;
            margin-top: 36px;
          "
        ></div>
      </div>
    </div>
  </section>

  <section class="contact_sec">
    <div class="contact_row">
      <div class="contact_col">
        <h3 class="contact_header_1">Mobile bluetooth printer</h3>

        <img
          class="blu_img"
          src="assets/mobile-pos-thermal-bluetooth-printer.png.webp"
        />
        <ul class="user_list_mobile">
          <li><strong>3-inch</strong> wide printing mechanism</li>
          <li>Fitting one-hand dimensions</li>
          <li>Wi-Fi Connectivity + 2.0/3.0 Bluetooth</li>
          <li>Support 2D Barcode</li>
          <li>Built-in 78/58mm thermal printer</li>
          <li>Contactless/Magnetic/Smart Card reader</li>
          <br />
          <br />
          <div class="white_back"></div>
        </ul>

        <!-- <div class="contact_social">
            <div class="contact_details">
              <div class="row_col">
                <img src="/assets/Skype_logo.png" />
              </div>
              <div class="row_col_1">
                <p class="contact_b">English Spanish</p>
              </div>
            </div>
          </div>
          <div class="contact_social">
            <div class="contact_details">
              <div class="row_col">
                <img class="whats_img" src="/assets/Whatsapp.jpg" />
              </div>
              <div class="row_col_1">
                <p class="contact_a">+356 99972143</p>
              </div>
            </div>
          </div> -->
      </div>
      <div class="contact_col_12">
        <div class="contact_card_1">
          <form>
            <div class="name_label">
              <label for="fname">Full name</label>
            </div>
            <div class="name_input">
              <input type="text" id="fname" name="fname" value="" required />
            </div>
            <div class="email_label">
              <label for="fname"><b>Your email</b></label>
            </div>
            <div class="email_input">
              <input
                type="text"
                id="fname"
                name="fname"
                value=""
                onkeypress="myFunction()"
              />
            </div>
            <div class="email_label">
              <label for="fname"><b>Country</b></label>
            </div>
            <div class="email_input">
              <input type="tel" id="country_selector" name="phone" value="" />
            </div>
            <div class="email_label">
              <label for="fname"><b>Phone Number</b></label>
            </div>
            <div class="email_input">
              <input value="" id="phone" type="tel" name="phone" />
            </div>
            <div class="email_label">
              <label for="fname"><b>Message</b></label>
            </div>
            <div class="text_area">
              <textarea rows="20" cols="44"></textarea>
            </div>
            <div class="btn">
              <button class="con_btn">Submit</button>
            </div>
          </form>
        </div>
        <!-- <p class="con_param">
            We don’t share your personal information with anyone. Check out our
            <span class="white_change">“privacy policy”</span> for more
            information
          </p> -->
      </div>
    </div>
  </section>


<app-footer></app-footer>