<app-header></app-header>
<section id="animate-area" class="animated-background">
    <div class="main_sec">
      <section class="typing-container">
        <h1 class="home_header_h1">
          Sport betting software White Label <span class="typing-text"></span>
        </h1>
      </section>
      <p class="param">
        A company that consistently pursues innovative solutions to meet its business needs
      </p>
    </div>
  </section>

<section class="platform_sec">
  <div class="platform_row">
    <div class="platform_col">
      <h1 class="platform_header">One Platform, many solutions</h1>

      <p class="platform_para">
        Our Sports Betting and Casino software is fully adaptable to suit your specific market and requirements.
      </p>
      <p class="platform_para">
        The following options are at your disposal: Online and retail Sportsbook software, B2C, Casino, or White Label
        solutions.
      </p>
      <h2 class="header_plat">Try our B2B Betting software</h2>
      <a class="platform_anchor" href="https://skyexch.vrnlexch.com/" target="_blank">
        <p>https://skyexch.vrnlexch.com/</p>
      </a>
      <h2 class="header_plat">Try our B2C Betting software</h2>
      <a class="platform_anchor" href="https://gullybet.vrnlexch.com/" target="_blank">
        <p>https://gullybet.vrnlexch.com/</p>
      </a>
      <br />
      <button class="button_slide slide_right" (click)="scrollToContact()" routerLink="/contact">
        <i class="fa-solid fa-phone"></i> Contact us!
      </button>
    </div>
    <div class="platform_col_2">
      <img class="platform_img" src="assets/vrnl_img_up.webp" width="544" height="310"
        alt="One Platform, many solutions">
      <div class="platform_you_tube">
        <a href="#"><img class="you_img" src="assets/play.png.webp" width="520" height="291" alt="youtube" /></a>
      </div>
    </div>
  </div>
</section>


<section class="whites_sec">
  <div class="whites_row">
    <div class="whites_col">
      <h2 class="white_header">
        Choose among Turnkey and White Label Solutions
      </h2>
      <p class="white_para">
        Have you already applied for a gaming license? Then explore our Turnkey <a href="/chck.html"><span
            class="white_change"><a routerLink="/sports-betting-software" class="white_change">sports betting
              software</a></span></a>.</p>
      <p class="white_para">
        If you haven't applied yet, you can either leverage our existing license or initiate the application process for
        a <span class="white_change"><a routerLink="/white-label-betting-platform" class="white_change">white label
            sportsbook</a></span>.</p>
      <p class="white_para">
        In either scenario, we provide a comprehensive, high-performing, and secure betting platform certified by
        independent gaming laboratories.
      </p>
      <br />
      <br />
      <div class="white_back"></div>
    </div>
    <div class="whites_col_1">
      <img class="whites_sec_img2" src="assets/vrnl image 6_11zon.webp" width="543" height="317"
        alt="White Label Solutions" />
    </div>
  </div>
</section>

<section class="gaming_sec">
  <div class="gaming_row">
    <div class="gaming_col">
      <img class="gaming_img" src="assets/vrnl igaming_11zon.webp" width="520" height="325" alt="iGaming Platform" />
    </div>
    <div class="gaming_col_2">
      <h1 class="gaming_header">iGaming Platform</h1>
      <p class="gaming_para">
        Explore the most extensive array of entertainment games available online, featuring our <span
          class="white_change" routerLink="/casino">White Label Casino</span> with over 1,000 games.</p>
      <p class="gaming_para">
        Experience rapid activation of multiple products and brands, tailored for FIAT.
    
      </p>
      <br />
      <br />
      <div class="white_back"></div>
    </div>
  </div>
</section>


<section class="Casino_sec">
  <div class="casino_row">
    <div class="casino_col">
      <h1 class="casino_header">Online Casino</h1>

      <p class="casino_para">
        Our <span class="white_change" routerLink="/online-casino-software">online casino software</span> is
        user-friendly, in line with our platform's easy manageability.</p>
      <ul class="casino_list">
        <li>Over 75 providers</li>
        <li>Exceeding 15,000 slot machines</li>
        <li>500+ table games</li>
        <li>700+ video poker games</li>
        <li>More than 200 other games</li>
      </ul>
    
      <p class="casino_para">
        Our expert team is at your service throughout all phases, from initial training to the commencement of
        production.
      </p>
      <br />
      <br />
      <div class="white_back"></div>
    </div>
    <div class="casino_col_2">
      <img class="casino_sec_img2" src="assets/vrnl online c_11zon (1).webp" width="840" height="700" alt="Online Casino" />
    </div>
  </div>
</section>


<section class="live_casino_sec">
  <div class="live_casino_row">
    <div class="live_col">
      <h1 class="live_header">
        Play at the live casino as if you were directly inside the casino
      </h1>
      <img src="assets/vrnl 19_11zon.webp" width="790" height="372" alt="live casino" />
    </div>
    <div class="live_col_1">
      <h1 class="live_header_1">Live Casino</h1>
      <ul class="live_casino_list">
        <li>Live Game Show</li>
        <li>AWC</li>
        <li>Slots</li>
        <li>Live Roulette </li>
        <li>Live Blackjack</li>
        <li>Baccarat Live</li>
        <li>Casino Hold’em Live</li>
        <li>Supernova</li>
        <li>Dragon Tiger Live</li>
        <li>Andar Bahar</li>
        <li>Teen Patti</li>
      </ul>
      <br />
      <br />
      <div class="white_back"></div>
    </div>
  </div>
</section>



<section class="integration_sec">
  <div class="integration_row">
    <div class="integration_col">
      <img src="assets/vrnl 12.webp" title="integration_platforms" width="545" height="315"
        alt="Integration with other platforms" />
    </div>
    <div class="integration_col_1">
      <h1 class="integration_header">Integration with other platforms</h1>
      <h1 class="integration_header_1">iFrame & APIs</h1>
      <p class="integration_para">
        Our platform offers effortless integration options through iFrames or APIs. Additionally, it can be transformed
        into a comprehensive service integration, a complete sports betting solution, or dedicated access to casino
        games, including live casino offerings.
      </p>

      <br />
      <br />
      <div class="white_back"></div>
    </div>
  </div>
</section>


<section class="integration_sec">
  <div class="integration_row">
    <div class="integration_col">
      <h1 class="virtual_header">Virtual Games
      </h1>
      <h1 class="virtual_header_1">Online and Retail
      </h1>
      <p class="integration_para">
        Virtual Gaming enables your players to relish the immersive experience of every challenge and bet, bringing the
        excitement of live action to the forefront. Moreover, the Virtual Gaming module is compatible with both online
        and land-based bookmakers, facilitating integration via iFrame and API.
      </p>

      <br />
      <br />
      <div class="white_back"></div>
    </div>
    <div class="integration_col_1">
      <img class="virtual_img" src="assets/Virtual Games.webp" alt="virtual games">
    </div>
  </div>
</section>

<section class="starting_sec">
  <div class="starting_row">
    <div class="start_details">

      <h1 class="start_header">Before you start, see it in action!</h1>
      <p class="start_para">Explore our demo platform:</p>
      <a href=" https://www.lc247.co/" target="_blank" style="color: #a0c528;">
        <p class="start_a"> https://www.lc247.co/ </p>
      </a>
    </div>
  </div>
</section>

<app-contact-com></app-contact-com>

<app-footer></app-footer>