
<app-header></app-header>
<section id="animate-area" class="animated-background">
    <div class="main_sec">
      <section class="typing-container">
        <h1 class="home_header_h1">
          Sport betting software White Label <span class="typing-text"></span>
        </h1>
      </section>
      <p class="param">
        A company which is constantly striving for Innovative Solutions for
        the Business Needs
      </p>
    </div>
  </section>

  <section class="platform_sec">
    <div class="platform_row">
      <div class="platform_col">
        <h1 class="platform_header">One Platform, many solutions</h1>
        <p class="platform_para">
          The Sports Betting and Casino software can be customized according
          to your market and needs.
        </p>
        <p class="platform_para">
          Here the options available: Online and retail Sportsbook software,
          B2c and  Casino or white label solutions.
        </p>
        <h4 class="header_plat">Try our B2B Betting software</h4>
        <a class="platform_anchor" href="https://www.betskyexch.com/"target="_blank"><p>https://www.betskyexch.com/</p></a>
        <h4 class="header_plat">Try our B2C Betting software</h4>
        <a class="platform_anchor" href="https://cricbuzzer.io"target="_blank"><p>https://cricbuzzer.io</p></a>
        <br />
        <button class="button_slide slide_right" (click)="scrollToContact()" routerLink="/contact">
          <i class="fa-solid fa-phone"></i> Contact us!
        </button>
      </div>
      <div class="platform_col_2">
        <img
          class="platform_img"
          src="assets/sirplay-vrnl-1.webp"
        width="544" height="310"
        alt="vrnl">
        <div class="platform_you_tube">
          <a href="#"
            ><img
              class="you_img"
              src="assets/play.png.webp"
              width="520"
              height="291"
              alt="youtube"
          /></a>
        </div>
      </div>
    </div>
  </section>


  <section class="whites_sec">
    <div class="whites_row">
      <div class="whites_col">
        <h2 class="white_header">
          Choose among Turnkey and White Label Solutions
        </h2>
        <p class="white_para">
          Already applied for a gaming license? Get our Turnkey
          <a href="/chck.html"
            ><span class="white_change"><a href="/sports-betting-software" class="white_change">sport betting software.</a> </span></a
          >
        </p>
        <p class="white_para">
          Not applied yet? You can use our License or apply for one
          <span class="white_change"><a href="/white-label-betting-platform" class="white_change">white label sportsbook</a> </span>
        </p>
        <p class="white_para">
          In both cases we provide a complete, performing and secure betting
          platform certified by independent gaming laboratories.
        </p>
        <br />
        <br />
        <div class="white_back"></div>
      </div>
      <div class="whites_col_1">
        <img
          class="whites_sec_img2"
          src="assets/Sirplay image 6.webp"
          width="543"
          height="317"
          alt="White Label Solutions"
        />
      </div>
    </div>
  </section>

  <section class="gaming_sec">
    <div class="gaming_row">
      <div class="gaming_col">
        <img
          class="gaming_img"
          src="assets/sirplay igaming.webp"
          width="520"
          height="325"
          alt="iGaming Platform"
        />
      </div>
      <div class="gaming_col_2">
        <h1 class="gaming_header">iGaming Platform</h1>
        <p class="gaming_para">
          The widest selection of entertainment games available online
          <span class="white_change"routerLink="/casino">White Label Casino </span> with more than
          10,00 games.
        </p>
        <p class="gaming_para">
          Fast activation of multiple products and brands, suitable for FIAT
          and
           <!-- <span class="white_change">Crypto casino software.</span> -->
        </p>
        <br />
        <br />
        <div class="white_back"></div>
      </div>
    </div>
  </section>


  <section class="Casino_sec">
    <div class="casino_row">
      <div class="casino_col">
        <h1 class="casino_header">Online Casino</h1>
        <p class="casino_para">
          The <span class="white_change" routerLink="/online-casino-software">online casino software</span> is
          simple as our platform is easy to manage.
        </p>
        <ul class="casino_list">
          <li>Providers 75 + more than</li>
          <li>Slot machine 15,000 + more than</li>
          <li>Table games 500 + more than</li>
          <li>Video poker 700 + more than</li>
          <li>Other games 200 + more than</li>
        </ul>

        <!-- <p class="casino_para_1">
          Available in the
          <span class="white_change">Crypto Casino web3</span> version
        </p> -->
        <p class="casino_para">
          Our staff will assist you in all phases from initial training to
          production start-up.
        </p>
        <br />
        <br />
        <div class="white_back"></div>
      </div>
      <div class="casino_col_2">
        <img
          class="casino_sec_img2"
          src="assets/sirplay online c.webp"
          width="840"
          height="700"
          alt="Online Casino"
        />
      </div>
    </div>
  </section>


  <section class="live_casino_sec">
    <div class="live_casino_row">
      <div class="live_col">
        <h1 class="live_header">
          Play at the live casino as if you were directly inside the casino
        </h1>
        <img
          src="assets/sirplay vrnl 19.webp"
          width="790"
          height="372"
          alt="live casino"
        />
      </div>
      <div class="live_col_1">
        <h1 class="live_header_1">Live Casino</h1>
        <ul class="live_casino_list">
          <li>Live Game Show</li>
          <li>First Person games</li>
          <li>Slots</li>
          <li>American roulette live</li>
          <li>Live blackjack</li>
          <li>Baccarat live</li>
          <li>Casino Hold’em live</li>
          <li>SICBO</li>
          <li>Dragon tiger live</li>
          <li>Andar Bahar</li>
          <li>Teen Patti</li>
        </ul>
        <br />
        <br />
        <div class="white_back"></div>
      </div>
    </div>
  </section>

 

  <section class="integration_sec">
    <div class="integration_row">
      <div class="integration_col">
        <img
          src="assets/sirplay vrnl 12.webp"
          title="integration_platforms"
          width="545"
          height="315"
          alt="Integration with other platforms"
        />
      </div>
      <div class="integration_col_1">
        <h1 class="integration_header">Integration with other platforms</h1>
        <h1 class="integration_header_1">iFrame & APIs</h1>
        <p class="integration_para">
          Our platform can be
          <span class="inte_bold">
            <b>easily integrated through iFrame or APIs .</b></span
          >
          It can also be converted in a full services integration, a sports
          betting solution or just casino games as well as live casino.
        </p>

        <br />
        <br />
        <div class="white_back"></div>
      </div>
    </div>
  </section>


  <section class="integration_sec">
    <div class="integration_row">
      <div class="integration_col">
        <h1 class="virtual_header">virtual games
        </h1>
        <h1 class="virtual_header_1">Online and retail
        </h1>
        <p class="integration_para">
          Virtual Gaming allows your players
          <span class="inte_bold">
            <b>to enjoy the live experience of every challenge or bet</b></span
          >
          Additionally, the Virtual Gaming module is available for both online and land-based bookmakers based on iFrame and API
        </p>

        <br />
        <br />
        <div class="white_back"></div>
      </div>
      <div class="integration_col_1">
<img class="virtual_img" src="assets/virtual-games.png.webp" alt="virtual games">
      </div>
    </div>
  </section>

  <section class="starting_sec">
    <div class="starting_row">
      <div class="start_details">
        <h1 class="start_header">Before starting, see it in action!</h1>
        <p class="start_para">A demo platform:</p>
        <a href=" https://www.lc247.co/" target="_blank" style="color: #a0c528;"><p class="start_a"> https://www.lc247.co/  </p></a>
      </div>
    </div>
  </section>

 <app-contact-com></app-contact-com>

  <app-footer></app-footer>



