<app-header3></app-header3>

<section class="betting_shops">
    <div class="betting_shop_row">
      <div class="bet_col_sec">
        <h2 class="bet_shop_head">
          Omnichannel platform to manage retail solutions into betting shops
        </h2>
        <p class="bet_shop_para">
          To build a profitable and engaging in-store experience, you need to
          optimise your betting shop operations with full control of all your
          valued assets, including betting terminals, staff, and other
          facility management equipment. With purpose driven betting shops
          solutions like staff enablement and cashier management, Sirplay
          helps deliver a performance advantage that strengthens the front
          lines of your retail betting shop operations.
        </p>
      </div>
    </div>
  </section>

  <section class="terminals_sec">
    <div class="teriminal_row">
      <div class="terminal_col">
        <h1 class="ter_head_1">The Terminals</h1>
        <img
          class="terminal_img"
          src="assets/betting-terminals_2020.jpg.webp"
        />
      </div>
      <div class="terminal_col_1">
        <p class="greate_param">GREAT DESIGN</p>
        <h1 class="ter_head_2">Quickly Moving on the Target Market</h1>
        <p class="termin_1">
          Aside from the desk terminals, it will be possible to install
          self-service kiosks and betting terminals.
        </p>
        <div class="arrow_chck1">
          <p class="arrows_chck">
            CONTACT SALES <i class="fa-solid fa-angle-right arrow_1"></i>
          </p>
          <span class="arrow_2"><i class="fa-solid fa-angle-right"></i></span>
        </div>
      </div>
    </div>
  </section>

  <section class="screen_terminal">
    <div class="screen_row">
      <div class="screen_col">
        <img class="screen_img" src="assets/self-betting-kiosk-1.jpg.webp" />

        <p class="sc_param">BRANDING</p>
        <div class="sc_game_card">
          <h3 class="screen_header_1">POS and double screen terminals.</h3>

          <div class="screen_cards">
            <div class="screen_deitails">
              <i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right arrow_3"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="screen_col_1">
        <img
          class="screen_img_1"
          src="/assets/betting-shop-with-terminals.jpg.webp"
          alt="image"
          title="Retail_Solution"
        />

        <p class="sc_param">EXPERT IN GAMING SOLUTIONS</p>
        <div class="expert_game_card">
          <h3 class="screen_header_2">Betting shop with retail terminals</h3>
          <div class="screen_card">
            <div class="screen_deitails">
              <i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right arrow_3"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sale_solution_sec">
    <div class="sales_images">
      <img
        class="sales_img_1"
        src="assets/POINT-OF-SALE-SOLUTIONS.jpg.webp"
        alt="image"
        title="Retail_Solution"
      />
    </div>
    <div class="sales_contain_row">
      <div class="sales_col">
        <p class="sales_para_1">POINT OF SALE SOLUTIONS</p>
      </div>
      <div class="sales_col_1">
        <div class="sales_card">
          <div class="sales_card_details">
            <p>CONTACT SALES</p>
            <i class="fa-solid fa-angle-right arrow_5"></i
            ><i class="fa-solid fa-angle-right arrow_4"></i>

            <!-- <i class="fa-solid fa-angle-right "></i>   <i class="fa-solid fa-angle-right arrow_4"></i> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="Prepaid_cards">
    <div class="prepaid_row">
      <div class="prepaid_col">
        <h1 class="prepaid_head">The Cards</h1>
        <p class="prepaid_para">
          Prepaid cards and voucher can be sold inside the betting shops, at
          any other shop or online. It is possible to create cards of
          different values, also bonus cards.
        </p>
      </div>
      <div class="prepaid_col_1">
        <img class="prepaid_img" src="assets/prepaid-cards.jpg.webp" />
      </div>
    </div>
  </section>
  <section class="contact_sec">
    <div class="contact_row">
      <div class="contact_col">
        <h3 class="contact_header">Contact US</h3>
        <p class="contact_para">
          Connect with a Sirplay expert for a detailed discussion about how
          our services might give benefits to your Betting business and create
          your own strategy.
        </p>
        <div class="contact_social">
          <div class="contact_details">
            <div class="row_col">
              <img src="assets/Skype_logo.png" />
            </div>
            <div class="row_col_1">
              <p class="contact_b">English Spanish</p>
            </div>
          </div>
        </div>
        <div class="contact_social">
          <div class="contact_details">
            <div class="row_col">
              <img class="whats_img" src="assets/Whatsapp.jpg" />
            </div>
            <div class="row_col_1">
              <p class="contact_a">+356 99972143</p>
            </div>
          </div>
        </div>
      </div>
      <div class="contact_col_1">
        <div class="contact_card">
          <form>
            <div class="name_label">
              <label for="fname">Full name</label>
            </div>
            <div class="name_input">
              <input type="text" id="fname" name="fname" value="" required />
            </div>
            <div class="email_label">
              <label for="fname"><b>Your email</b></label>
            </div>
            <div class="email_input">
              <input
                type="text"
                id="fname"
                name="fname"
                value=""
                onkeypress="myFunction()"
              />
            </div>
            <div class="email_label">
              <label for="fname"><b>Country</b></label>
            </div>
            <div class="email_input">
              <input type="tel" id="country_selector" name="phone" value="" />
            </div>
            <div class="email_label">
              <label for="fname"><b>Phone Number</b></label>
            </div>
            <div class="email_input">
              <input value="" id="phone" type="tel" name="phone" />
            </div>
            <div class="email_label">
              <label for="fname"><b>Message</b></label>
            </div>
            <div class="text_area">
              <textarea rows="20" cols="44"></textarea>
            </div>
            <div class="btn">
              <button class="con_btn">Submit</button>
            </div>
          </form>
        </div>
        <p class="con_param">
          We don’t share your personal information with anyone. Check out our
          <span class="white_change">“privacy policy”</span> for more
          information
        </p>
      </div>
    </div>
  </section>
<app-footer></app-footer>